.radio{
	display: inline-block;
    margin: 0 auto;
    
    @include breakPoint($compact){
    	display: block;
    	margin: 0;
    }

	&__item{
		input{ 
			position: absolute;
			z-index: -1;
			opacity: 0;
			margin: 10px 0 0 20px;		
			}
		
		label{
			position: relative;
			padding: 0 0 0 60px;
			cursor: pointer;
			
			&:before{
				content: '';
				position: absolute;
				top: -1px;
				left: 0px;
				width: 50px;
				height: 20px;
				border-radius: 13px;
				background: #CDD1DA;
				box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
				transition: .2s;
			}

			&:after{
				content: '';
				position: absolute;
				top: 1px;
				left: 2px;
				width: 16px;
				height: 16px;
				border-radius: 10px;
				background: #FFF;
				box-shadow: 0 2px 5px rgba(0,0,0,.3);
				transition: .2s;
			}
		}


		input:checked + label:before {
			background: #f7313d;
		}

		input:checked + label:after {
			left: 32px;
		}

		

		input:focus + label:before {
			box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 10px 1px rgba(200,200,200,.5);
		}


	}


	
}



.calc-zero{
	
}