@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}



.collect{

	&__content{
		box-sizing: border-box;
		&-inner{
		}		
	}

	&__tabs{
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid $colorRed;	
		
		&-item{
			flex-grow: 1;
			text-align: center;
			padding: 15px 10px;
			border: 1px solid $colorBorder;
			border-bottom: none;
			background: $colorGreyLight;
			border-radius: 5px 5px 0 0;
			color: $colorGrey;
			text-align: center;		
		}

		&-item.is-active{
			color: $colorWhite;
			background: $colorRed;
			border-top: 1px solid $colorRed;
		}		
	}	
	

}

[data-tab-target] {
    display: none;
}

[data-tab-target].is-active {
    display: block;
    animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fadeIn;
}