footer(class='uk-light ')
	div(class='uk-section uk-section-small uk-margin-top' style='background: #00949b')
		div(class='uk-container uk-container-small')
			div(class='uk-grid-medium  uk-grid uk-child-width-1-1 uk-child-width-1-4@m' uk-grid)
				div(class='')
					ul(class='uk-list uk-link-text')
						li
							a(href="") Главная
						li
							a(href="") Усглуги
						li
							a(href="") Врачи
						li
							a(href="") Цены
						li
							a(href="") Акции
						li
							a(href="") Контакты
							
				div(class='')
					ul(class='uk-list uk-link-text')
						li
							a(href='#') Медицинский педикюр
						li
							a(href='#') Лечение вросшего ногтя
						li
							a(href='#') Лечение стоп и ногтей
						li
							a(href='#') Проблемная стопа
						li
							a(href='#') Диабетическая стопа
						li
							a(href='#') Педикюр


				div(class='')
					ul(class='uk-list')
						li
							a(href="tel:78124254051")  7-812-425-40-51
						li ПН - ПТ 9:00 - 18:00
						li info@mozolka.ru
						li Санкт-Петербург, Московский пр. 151, лит Б пом 17

				div(class='')
					div(class='uk-margin-bottom') Позвоним Вам
						svg(class='uk-margin-small-left' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 93.43 107.87', width="41" height='48')
							use(xlink:href="#my-icon", x="0", y="0")
					button(class='uk-button uk-button-default uk-border-pill uk-margin-bottom' uk-toggle='target: #modalexpl') Обратный звонок
					div Консультацию окажет специалист специаист всем вспециалистам молодец

	div(class='uk-section uk-section-xsmall' style='background: #168080')
		div(class='uk-container uk-container-small uk-flex uk-flex-between uk-flex-middle')
			div
				img(src='../img/logo/logo__mozolka-wht.svg' alt='Логотип сети клиник Мозолька монохром')
			div(class='uk-width-1-3 uk-width-1-6@m uk-flex uk-flex-between')
				a(href='#'  uk-icon='icon: vk')
				a(href='#'  uk-icon='icon: instagram')
				a(href='https://wa.me/79500050888'  uk-icon='icon: whatsapp')

