header
	div(class='uk-container uk-padding-remove-horizontal')
		div(class='uk-visible@m uk-padding-small uk-flex uk-flex-wrap uk-flex-between' uk-grid)

			div(class='uk-width-1-1 uk-width-1-5@l uk-flex uk-flex-middle uk-flex-center')
				div(class='uk-width-1-3 uk-width-1-1@l')
					a(class='uk-link-text' href='/' alt='Логотип клиники Мозолька')
						img(src='../img/logo/logo__mozolka.svg')

					
						
			div(class='uk-width-1-2 uk-width-expand@l')
				div(class='uk-grid-medium uk-grid-match' uk-grid)
					div(class='uk-width-1-3')
						a(class='uk-flex uk-flex-column uk-flex-middle uk-height-1-1 uk-text-center')
							span(class='uk-margin-top uk-margin-bottom' uk-icon='icon: blind')
							span(class='mz-text-xsmall') версия сайта для слабовидящих


					div(class='uk-width-expand uk-flex uk-flex-column uk-flex-between uk-flex-middle uk-flex-wrap')
						div(class="uk-grid uk-text-uppercase uk-margin-top uk-width-1-1 uk-grid-divider uk-grid-medium uk-flex uk-flex-center" uk-grid)
							div
								a(class='uk-link-text mz-menu-link' href="#") О клинике
							div
								a(class='uk-link-text mz-menu-link' href="#") Статьи

						form(class='uk-search uk-search-default uk-padding uk-width-1-1 uk-padding-remove-vertical')
							a(href='' class='uk-search-icon-flip mz-main-clr' uk-search-icon)
							input(class='uk-search-input uk-border-pill uk-padding-remove-vertical' type='search' placeholder='Поиск')
			div(class='uk-width-1-2 uk-width-auto@l')
				div(class='uk-grid-match uk-flex uk-flax-wrap uk-flex-around' uk-grid)
					div(class='uk-width-auto uk-flex uk-flex-column uk-flex-between uk-flex-middle uk-flex-wrap')

							ul(class='mz-accent-clr uk-nav uk-flex uk-flex-around uk-flex-middle uk-flex-wrap uk-width-1-1 uk-margin-small-top')
								li
									a(href='#'  uk-icon='icon: vk')
								li
									a(href='#'  uk-icon='icon: instagram')
								li
									a(href='#'  uk-icon='icon: whatsapp')

							div(class='uk-flex uk-flex-center uk-flex-middle')
								
								span(class='uk-margin-small-right uk-icon mz-main-clr' uk-icon='icon: point-global')
								p(class='uk-margin-remove mz-text') Санкт-Петербург, </br> Шведский пер., д. 2

					div(class='uk-width-auto uk-text-right uk-flex uk-flex-column uk-flex-between uk-flex-top uk-flex-wrap ')
						p(class='uk-margin-remove mz-text-title-bold')
							a(class='mz-accent-clr' href='tel:79500050888') +7-950-005-08-88
						p(class='uk-margin-remove mz-text-title-bold')
							a(class='mz-accent-clr' href='tel:78124254051') +7-812-425-40-51
						p(class='uk-margin-remove mz-text-mslead-bold mz-main-clr') ПН - ВС 9:00 - 21:00