mixin img(width, height, text, bg, color)
	img.img-fit(src="https://via.placeholder.com/" + width + "x" + (height ? height : width) + "/" + ( bg ? bg : 999) + "/" + (color ? color : 'FFF') + (text ? "?text=" + text : '') )

mixin stuff(img, name, rank, email)
	.stuff
		.stuff__image
			img(src= img)
		.stuff__info
			.stuff__info-name= name
			.stuff__info-rank= rank
			.stuff__info-contact
				i.fa.fa-envelope
				a(href="mailto:" + email)= email

mixin employees(img, name, rank, email)
	.bp__employees__item
		.bp__employees__item-img
			img(src= img)

		.bp__employees__item-info
			.bp__employees__item-name= name
			.bp__employees__item-rank= rank
			.bp__employees__item-mail
				i.fa.fa-envelope
				a(href="mailto:" + email)= email



