nav(class='uk-sticky' uk-sticky='top: 100' style='border-bottom: 1px solid white')
	div(class='uk-container uk-light uk-visible@m')
		div(class='uk-flex uk-flex-wrap uk-flex-right')

			div(class='uk-grid uk-width-auto uk-grid-divider uk-flex uk-flex-center uk-padding-small uk-padding-remove-horisontal' uk-grid)
				div
					a(class='uk-text-uppercase' href='#') Главная
				div
					a(class='uk-text-uppercase' href='#' type='button') Услуги 
						span(uk-icon='icon: triangle-down')
					div(class='mz-bcg-main-color' uk-dropdown='mode: click; animation: uk-animation-slide-top-small; duration: 500')
						ul(class='uk-nav uk-dropdown-nav')
							li
								a(href='') Медицинский педикюр
							li
								a(href='') Обработка ногтей
							li
								a(href='') Лечение пораженной пластины
							li
								a(href='') Коррекция ногтя
							li
								a(href='') Лечение натоптышей
							li
								a(href='') Массаж
				div
					a(class='uk-text-uppercase' href='#') Врачи
				div
					a(class='uk-text-uppercase' href='#') Цены
				div
					a(class='uk-text-uppercase' href='#') Акции
				div
					a(class='uk-text-uppercase' href='#') Контакты

			div(class='uk-margin-left uk-flex uk-flex-middle')
				a(class='mz-bcg-accent uk-button uk-border-pill' href='#modalexpl' uk-toggle) Записаться
	div(class='uk-container uk-padding-small uk-light uk-hidden@m')
		div(class='uk-flex')
			div(class='uk-width-small')
				a(class='uk-link-text' href='/' alt='Логотип клиники Мозолька')
							img(src='../img/logo/logo__mozolka-wht.svg')
			div(class='uk-margin-left uk-flex uk-flex-middle')
				a(class="uk-button uk-navbar-toggle-icon uk-icon" href="#nav-offcanvas" uk-navbar-toggle-icon='ratio: 1.3' uk-toggle)