div(id='nav-offcanvas' class='uk-offcanvas uk-offcanvas-overlay' uk-offcanvas="overlay: true")
	aside(class='uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide uk-padding-remove-horizontal')
		button(class="uk-offcanvas-close" type="button" uk-close)
		div(class="uk-card uk-card-default uk-card-small uk-height-1-1 uk-flex uk-flex-column mz-shadow-remove")
			header(class='uk-card-header uk-flex uk-flex-middle')
				div
					div(class='uk-width-1-1 uk-margin-bottom-small')
						img(src='../img/logo/logo__mozolka.svg')
					a(class="uk-link-muted uk-text-bold mz-accent-clr" href='tel: +79500050888') +7-950-005-08-88

			nav(class='uk-card-small uk-card-body')
				ul(class="uk-nav-default uk-nav-parent-icon uk-list-divider uk-nav uk-light" uk-nav)
					li
						a(href='#') Главная
					li(class='uk-parent')
						a(href='#') Услуги

						ul(class="uk-nav-sub uk-list-divider")
							li
								a(href='#') Медицинский педикюр
							li
								a(href='#') Обработка ногтей
							li
								a(href='#') Лечение пораженной пластины
							li
								a(href='#') Коррекция ногтя
							li
								a(href='#') Лечение натоптышей
							li
								a(href='#') Массаж

					li
						a(href='#') Врачи
					li
						a(href='#') Цены
					li
						a(href='#') Акции
					li
						a(href='#') Контакты
			div(class='uk-card-footer')

				div(class='uk-margin-top uk-flex uk-flex-center uk-flex-middle')
					span(class='uk-margin-small-right uk-icon mz-main-clr' uk-icon='icon: point-global')
					p(class='uk-margin-remove mz-text') Санкт-Петербург, </br> Шведский пер., д. 2

				div(class='uk-padding uk-flex uk-flex-wrap uk-flex-around mz-accent-clr')
					a(href='#' uk-icon="icon: vk")
					a(href='#' uk-icon='icon: mz-instagramm')
					a(href='#' uk-icon='icon: mz-telegram')


