div(id='modalexpl' uk-modal)
	div(class='uk-modal-dialog uk-margin-auto-vertical mz-bcg-dark-pattern uk-padding')
		button(class="uk-modal-close-default mz-white-clr" type="button" uk-close)
		div(class='mz-bcg uk-padding')
			form(id="feedback" class="uk-form-stacked uk-form-stacked" name="sendOrderForm")
				fieldset(class="uk-fieldset")
					div(class="uk-flex uk-flex-wrap uk-flex-center")
						legend(class="uk-legend uk-text-center uk-text-secondary") Обратный звонок
							p(class='mz-text uk-margin-top') Заполните пожалуйста поля формы и мы свяжемся с Вами в рабочее время.
							div(class="uk-margin-top uk-margin-bottom uk-child-width-1-1 uk-child-width-1-2@m" uk-grid)
								div
									label(class="uk-form-label uk-h3" for="fio") Ваше Имя
									input(id="fio" name="name-user" class="uk-input uk-margin-small-top mz-text" type="text" placeholder="Имя")
								div
									label(class="uk-form-label uk-h3" for="number-phone") Номер телефона
									input(name="phone-user" class="uk-input uk-margin-small-top mz-text" type="text" placeholder="Телефон" data-mask="")
								div(class='uk-width-1-1')

									button(class="uk-button mz-text-title mz-button-act") Отправить
									svg(class='uk-margin-medium-left mz-h-girl' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 93.43 107.87')
										use(xlink:href='#my-icon', x='0', y='0')
								p(class='uk-width-1-1 mz-text-small') Отправляя заявку вы соглашаетесь на 
										a(href='') обработку персональных данных