include mixin

block vars
doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')/
		//-meta(http-equiv="Content-Type" content="text/html; charset=windows-1251")
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title= pageTitle
		meta(name="description" content= pageDescription)

		meta(property='og:title', content= pageTitle)/
		meta(property='og:description', content= pageDescription)/
		meta(property='og:image', content= pageImage)/
		meta(property='og:url', content= pageUrl)/
		meta(name='twitter:title', content= pageTitle)/
		meta(name='twitter:description', content= pageDescription)/
		meta(name='twitter:image', content= pageImage)/
		meta(name='twitter:card', content='summary_large_image')/

		link(rel="icon" type="image/x-icon" href="/favicon.ico")/

		block head

	body.mz(id='totop')
		div
			svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 93.43 107.87' style='display: none')
					symbol#my-icon
						g
							path(d='M42.29,58.91s-2.36,19-9,23.64c0,0,14.49,11.86,31.28,2.5,0,0-10.47-4.1-3.82-25.7l-6-.44s-.32.4-4.9-.51c-3.66-.73-4-2.59-4-2.59l-2.94-1.13Z' fill='#00949b')
							path(d='M51.2,89.15A31.64,31.64,0,0,1,33,83l-.54-.44.57-.4c6.39-4.46,8.77-23.09,8.79-23.28h0L42.5,54l3.82,1.47,0,.3s.37,1.52,3.57,2.16a17.92,17.92,0,0,0,4.49.58l.08-.1,6.93.52-.2.63c-6.41,20.81,3.41,25,3.51,25.05l1,.41-1,.54A27.57,27.57,0,0,1,51.2,89.15Zm-17.05-6.6c2.69,1.92,15.16,9.81,29.3,2.5-2.47-1.58-8.67-7.51-3.4-25.22l-5.21-.39c-.46.14-1.65.16-5.1-.53-3.11-.62-4-2.06-4.3-2.7l-2.1-.81L42.81,59C42.71,59.82,40.46,77.23,34.15,82.55Z')
							g
								path(d='M45.31,56.1a4,4,0,0,0,1.19,4,3.58,3.58,0,0,0,3.18.75,4,4,0,0,0,1.92-1.16l.23-.23Z' fill='#fff')
								path(d='M48.83,61.4a4.06,4.06,0,0,1-2.59-.94A4.36,4.36,0,0,1,44.93,56l.14-.47,7.43,3.88-.61.63a4.29,4.29,0,0,1-2.11,1.27A4.4,4.4,0,0,1,48.83,61.4Zm-3.22-4.69a3.42,3.42,0,0,0,1.15,3.12,3.19,3.19,0,0,0,2.83.67,3.42,3.42,0,0,0,1.57-.9Z')
							g
								path(d='M58.64,58.37a3.78,3.78,0,0,1-2.19,3.48,3.4,3.4,0,0,1-2.35.07,3.81,3.81,0,0,1-2.39-2.55l0-.09Z' fill='#fff')
								path(d='M55.18,62.5a3.86,3.86,0,0,1-1.2-.19,4.2,4.2,0,0,1-2.66-2.82l-.17-.55,7.88-1v.44a4.13,4.13,0,0,1-2.44,3.87A3.63,3.63,0,0,1,55.18,62.5Zm-3-2.88a3.33,3.33,0,0,0,2,1.92,3,3,0,0,0,2.08-.07,3.19,3.19,0,0,0,1.9-2.64Z')
							g
								ellipse(cx='25.44' cy='20.92' rx='3.73' ry='2.77' transform='translate(-3.14 37.28) rotate(-69.21)' fill='#faeeeb')
								path(d='M24.86,25.06a2.72,2.72,0,0,1-.93-.16h0c-1.7-.65-2.4-3-1.57-5.16a5,5,0,0,1,1.9-2.43A2.82,2.82,0,0,1,28.72,19a5,5,0,0,1-.19,3.09A4.26,4.26,0,0,1,24.86,25.06Zm-.55-1.15c1.15.44,2.61-.55,3.23-2.2a3.92,3.92,0,0,0,.17-2.42,1.79,1.79,0,0,0-2.88-1.09,4,4,0,0,0-1.49,1.92c-.62,1.65-.19,3.35,1,3.79Z')
							path(d='M80.18,53.68c6.68-3.58,10.16-13.77,10.31-14.24l-3.88-4.06c-10.59-11-7.5-27.82-7.5-27.82A36.35,36.35,0,0,1,90.74,23.5h0c.2.41.37.83.55,1.25C88.23,12.48,76.62,2.52,61.74.74,43.14-1.48,26.48,9.93,24.53,26.23s12.8,32.32,30.16,33.53C70.91,60.9,80.18,53.68,80.18,53.68Z' fill='#faeeeb')
							path(d='M79.72,8.05a.33.33,0,0,1-.14,0l-1.26-.83a.27.27,0,0,1-.1-.32,7.21,7.21,0,0,0,0-4.72.27.27,0,0,1,.15-.34.27.27,0,0,1,.34.15,7.71,7.71,0,0,1,.08,4.91l.86.56A5.25,5.25,0,0,1,83,5.24a.26.26,0,1,1,.08.52A4.89,4.89,0,0,0,80,7.92a.26.26,0,0,1-.17.12Z')
							path(d='M43.18,107.87l-6.85-1.43.2-.44a3.67,3.67,0,0,1,4.26-2,3,3,0,0,1,2.05,1.54l3.34-17.28.76.14Z')
							path(d='M57.32,107.5H50.18l-.26-18.84h.78l.23,17.06a3.69,3.69,0,0,1,2.93-1.53A3.59,3.59,0,0,1,57.2,107Z')

							g
								path(d='M24.52,30.7c.38-1.48-1-1.9-2.14-.72l-.43.33a1.62,1.62,0,0,0-1.58,1.58l.06,1.42h0a1.6,1.6,0,0,0-.52-.1,2.68,2.68,0,0,0-2.6,2.36,1.87,1.87,0,0,0,0,.41c-1.94-.82-4,1.86-4.24,4a1.22,1.22,0,0,0-.24.1C11.21,41.18,9,43.48,11.2,45.2s4.48-.51,6.24-1.68a1.72,1.72,0,0,0,.45-.44,2.31,2.31,0,0,0,2.38-1.91.62.62,0,0,0,0-.13l1,0c1,0,2-.61,2-1.3.37-.29.19-.67.51-1.11a1.22,1.22,0,0,0,.22-.78,3.11,3.11,0,0,0,.76-.32,1.6,1.6,0,0,0,.56-2.16A7.86,7.86,0,0,1,24.52,30.7Z' fill='#dd8324')
								path(d='M90.71,23.44h0A36.35,36.35,0,0,0,79.08,7.51S76,24.3,86.57,35.33l3.72,4A22.16,22.16,0,0,1,83,51.53l-2.81,2.4S70.9,58,74.06,65.4c3.43,8,18.58,1.68,18.58,1.68C84.41,62.06,98.68,40,90.71,23.44Z' fill='#dd8324')
								path(d='M27.52,16.29S56.18,24,79.08,7.51C79.08,7.51,50.68-13.66,27.52,16.29Z' fill='#dd8324')
							g
								polyline(points='10.28 47.83 16.58 50.74 9.16 54.27 8.6 48.56' fill='#cc137a')
								polygon(points='8.81 54.9 8.19 48.6 9.02 48.52 9.52 53.64 15.6 50.75 10.1 48.21 10.45 47.45 17.56 50.74 8.81 54.9')
							g
								path(d='M8.13,44c0-.09-.23-6.46-.23-6.46L1.92,41,6.73,45' fill='#cc137a')
								path(d='M6.46,45.27,1.19,41l7.1-4.19,0,.7c0,1.5.23,6.39.23,6.48H7.72c0-.14-.15-4.11-.21-5.75L2.65,41.09,7,44.63Z')
							ellipse(cx='51.25' cy='28.55' rx='3.04' ry='1.88' transform='translate(9.34 69.6) rotate(-73.53)')
							ellipse(cx='60.67' cy='31.33' rx='3.04' ry='1.99' transform='translate(13.42 80.63) rotate(-73.53)')
							path(d='M55.34,52.42A16.76,16.76,0,0,1,49,51.07a16.64,16.64,0,0,1-10.76-15,.43.43,0,0,1,.43-.4.4.4,0,0,1,.4.42A15.82,15.82,0,0,0,49.27,50.3c11.94,4.9,18.07-5.82,18.13-5.93a.42.42,0,1,1,.73.41C68.08,44.87,63.76,52.42,55.34,52.42Z')
							g
								circle(cx='8.6' cy='46.27' r='2.29' fill='#cc137a')
								path(d='M8.6,49a2.71,2.71,0,1,1,2.71-2.71A2.72,2.72,0,0,1,8.6,49Zm0-4.59a1.88,1.88,0,1,0,1.88,1.88A1.88,1.88,0,0,0,8.6,44.39Z')
							path(d='M.41,49a.42.42,0,0,1-.32-.16.4.4,0,0,1,.07-.57,11.05,11.05,0,0,1,5.65-2,.41.41,0,1,1,.05.81A10.71,10.71,0,0,0,.66,49,.38.38,0,0,1,.41,49Z')
							path(d='M2,51.7a.47.47,0,0,1-.27-.1.41.41,0,0,1,0-.58c.11-.12,2.59-3,4.94-3.76a.41.41,0,0,1,.51.26.4.4,0,0,1-.26.52c-2.13.71-4.54,3.49-4.57,3.51A.39.39,0,0,1,2,51.7Z')
							path(d='M5.16,53.05A.34.34,0,0,1,5,53a.41.41,0,0,1-.17-.55,18.36,18.36,0,0,1,2.94-4.13.41.41,0,0,1,.58,0,.4.4,0,0,1,0,.57,17.66,17.66,0,0,0-2.76,3.9A.42.42,0,0,1,5.16,53.05Z')
							path(d='M31.92,70.58a.4.4,0,0,1-.4-.31.42.42,0,0,1,.3-.51c5.3-1.32,9.81-10.09,9.85-10.18a.42.42,0,0,1,.75.37c-.19.38-4.73,9.21-10.4,10.62Z')
							g
								ellipse(cx='30.13' cy='70.48' rx='2.24' ry='1.63' fill='#faeeeb')
								path(d='M30.13,72.53a2.41,2.41,0,0,1-2.65-2c0-1.12,1.19-2,2.65-2s2.66.92,2.66,2A2.42,2.42,0,0,1,30.13,72.53Zm0-3.26c-1,0-1.82.56-1.82,1.21s.84,1.21,1.82,1.21S32,71.14,32,70.48,31.12,69.27,30.13,69.27Z')
							path(d='M70.09,72.43H70C64.32,71,59.78,62.17,59.59,61.8a.42.42,0,0,1,.74-.38c.05.09,4.56,8.86,9.86,10.19a.41.41,0,0,1,.3.5A.42.42,0,0,1,70.09,72.43Z')
							g
								ellipse(cx='71.87' cy='72.33' rx='2.24' ry='1.63' fill='#faeeeb')
								path(d='M71.87,74.37c-1.46,0-2.65-.92-2.65-2s1.19-2,2.65-2,2.65.91,2.65,2S73.33,74.37,71.87,74.37Zm0-3.25c-1,0-1.82.55-1.82,1.21s.84,1.21,1.82,1.21,1.82-.56,1.82-1.21S72.86,71.12,71.87,71.12Z')
							circle(cx='61.59' cy='30.66' r='0.76' fill='#fff')
							circle(cx='52.19' cy='27.6' r='0.76' fill='#fff')
							path(d='M79.08,7.61l-.1,0a.27.27,0,0,1-.15-.34,6.62,6.62,0,0,1,1.43-2.4.26.26,0,1,1,.3.43,6.24,6.24,0,0,0-1.24,2.16A.27.27,0,0,1,79.08,7.61Z')
							path(d='M20.45,37.41l-.07-.49s-.13-.87-.42-4a2.7,2.7,0,0,1,.7-2.44,2.25,2.25,0,0,1,1.89-.29l.19.06,0,.19c0,.1.36,2.35.47,3.6s-2.11,2.93-2.36,3.1Zm1.41-6.69a1.22,1.22,0,0,0-.8.25,2.13,2.13,0,0,0-.47,1.89c.17,1.84.28,2.89.35,3.44.79-.62,1.72-1.56,1.66-2.21-.09-1-.34-2.74-.43-3.35Z')
							path(d='M13.32,43l-.1-.55c0-.13-.58-3.06.23-4.71s2.12-2.42,3.5-2.17c0-.18,0-.34.07-.5a2.44,2.44,0,0,1,1-1.78,2.83,2.83,0,0,1,2.05-.31l-.16.61a2.21,2.21,0,0,0-1.55.23,1.85,1.85,0,0,0-.75,1.34c0,.28-.07.55-.09.83,0,.48,0,.95-.05,1.41,0,1.64-.06,3.18-1.34,3.75a9.94,9.94,0,0,0-2.42,1.47Zm3.14-6.84A2.87,2.87,0,0,0,14,38a7.63,7.63,0,0,0-.26,3.78,10.64,10.64,0,0,1,2.15-1.23c.86-.38.92-1.46.95-3.18,0-.38,0-.78,0-1.18A1.7,1.7,0,0,0,16.46,36.12Z')
							path(d='M24.72,34.82c-.77-.11-1.62-.22-1.77-.21V34.3l-.35,0,.12-.22c.13-.1.16-.13,2.09.14Z')
							path(d='M21.17,41.42A10,10,0,0,1,16.86,40l-.18-.1L16.94,38l.08-.08a4.56,4.56,0,0,1,3.09-1.19c.91.13,2.56.32,3.78.45.44,0,1.73,0,1.74,0v.63s-.86,0-1.43,0a4,4,0,0,1-1,2.7A2.43,2.43,0,0,1,21.17,41.42Zm-3.8-1.87c.8.45,4.14,2.18,5.34.59a3.24,3.24,0,0,0,.86-2.37c-1.19-.13-2.69-.3-3.55-.42a3.63,3.63,0,0,0-2.48,1Z')
							path(d='M16.72,43.84a5.28,5.28,0,0,1-.55,0,7.18,7.18,0,0,1-2.76-1.16.32.32,0,0,1-.17-.42.31.31,0,0,1,.42-.16l.09,0a6.48,6.48,0,0,0,2.52,1.06,3.17,3.17,0,0,0,3.4-2,.69.69,0,0,0,0-.19.33.33,0,0,1,.33-.3.32.32,0,0,1,.31.3,1.14,1.14,0,0,1-.1.41A3.81,3.81,0,0,1,16.72,43.84Z')
							path(d='M12.8,46.24a3.14,3.14,0,0,1-2.27-1A2,2,0,0,1,10,43.69c.27-4.1,3.31-4,3.35-4l0,.63c-.09,0-2.47,0-2.7,3.45a1.4,1.4,0,0,0,.36,1,2.62,2.62,0,0,0,1.89.84c1.08,0,2.27-.81,3.53-2.29l.48.4c-1.38,1.63-2.72,2.48-4,2.52Z')
							path(d='M11,45.16l-.53-.34a5.94,5.94,0,0,1,3-2.23l.27.06-.19.25,0,.32A5.43,5.43,0,0,0,11,45.16Z')
							path(d='M22.76,30.54l-.62-.11A2.25,2.25,0,0,1,23,29a1.61,1.61,0,0,1,1.32-.13l-.18.61a.93.93,0,0,0-.81.06A1.61,1.61,0,0,0,22.76,30.54Z')
							g
								path(d='M90.59,41.56a2.12,2.12,0,0,0-.73-.22,19.93,19.93,0,0,1-3.35,6.32,2,2,0,0,0,.66.53c1.36.7,3.23-.22,4.17-2S92,42.26,90.59,41.56Z' fill='#f4e0d9')
								path(d='M88.17,48.84A2.57,2.57,0,0,1,87,48.56a2.65,2.65,0,0,1-.79-.63L86,47.67l.2-.26a19.5,19.5,0,0,0,3.28-6.19l.1-.33.35,0a2.37,2.37,0,0,1,.87.26h0a2.84,2.84,0,0,1,1.46,2.17,5.13,5.13,0,0,1-2.64,5.13A3.2,3.2,0,0,1,88.17,48.84Zm-1.11-1.22a1.74,1.74,0,0,0,.3.2,2,2,0,0,0,1.87-.08A3.92,3.92,0,0,0,91,46a4,4,0,0,0,.45-2.46,2,2,0,0,0-1-1.56h0a1.19,1.19,0,0,0-.26-.11A20,20,0,0,1,87.06,47.62Z')
							path(d='M92.78,66.69c-4-1.37-2.77-8.06-1.26-16.54,1.69-9.52,3.79-21.38-1.25-29.74h0a30.72,30.72,0,0,0-5.46-8.51A36.75,36.75,0,0,0,61.76.28C43-2,26.06,9.63,24.09,26.13s11.72,31.75,30.52,34a39.39,39.39,0,0,0,4.7.29,36.76,36.76,0,0,0,15.81-3.52,9.52,9.52,0,0,0-2,7.14,6.68,6.68,0,0,0,3.92,4.63,11.9,11.9,0,0,0,5.16,1,32.32,32.32,0,0,0,10.55-2.2.42.42,0,0,0,0-.78ZM57.1.83A38,38,0,0,1,78.45,7.42c-2.73,2.05-22,15.42-49.87,8.3C34.1,6.7,44.92.83,57.1.83ZM54.71,59.3c-18.35-2.19-31.71-17-29.8-33.07a25.89,25.89,0,0,1,3.2-9.7A65.82,65.82,0,0,0,44.7,18.7,59.85,59.85,0,0,0,78.48,8.52c-.61,4.21-1.81,19.75,11.37,31-.18,1.23-1.56,8.09-10.3,13.92l-.17.11A37.07,37.07,0,0,1,54.71,59.3Zm22.74,8.61a5.76,5.76,0,0,1-3.46-4c-.47-2.32.6-5.24,2.85-7.82,13-6.86,13.83-16.23,13.86-16.64v0a.19.19,0,0,0,0-.08s0,0,0-.08a.21.21,0,0,0,0-.06l0-.07,0,0C76.31,27,79.05,9.89,79.44,7.82a41.39,41.39,0,0,1,5.34,5.34,29.72,29.72,0,0,1,3.1,4.34,32.32,32.32,0,0,1,1.63,3,.4.4,0,0,0,0,.3l.36.64c.29.66.56,1.32.79,2h0c.28.57.52,1.16.75,1.75,2.29,7.6.62,17-.76,24.82-1.46,8.21-2.63,14.82.87,17C89.05,67.91,81.89,70.05,77.45,67.91Z')
		

		div.uk-offcanvas-content
			include header
			include nav
			.website
				block content
			include footer
			include btn_totop
			include popups	
			include offcanvas	
		block append

