.mz{

	.uk-light{
		color: $colorWhite;
		
		p {
			color: $colorWhite;
		}
	}

	// Переписываем UiKit
	// header
	a{
		color: $mzMainColor;
		cursor:pointer;
		
		&[uk-slideshow-item], &[uk-slider-item]{
			color: $mzMainColor;
			
			&:hover{
				color: $mzHoverColor;
			}
		}


		
		&:hover{
			color: $mzHoverColor;
			text-decoration: underline;
			
			span{
				color: $mzHoverColor;
				cursor: pointer;
				text-decoration: underline;
			}
		}

		&.mz-not-decor:hover{
			text-decoration: none;
		}

	}


	.uk-light{
		a{
			color: $colorWhite;
			cursor:pointer;			
			
			&:hover{
				color: $mzHoverColor;
				cursor:pointer;
				text-decoration: underline;
			}
			
		}
	}


	.uk-nav-default>li>a{
		color: $mzMainColor;
		cursor:pointer;

		:hover{
			color: $mzHoverColor;
			cursor:pointer;
			text-decoration: underline;
		}
	}

	.uk-grid-divider > :not(.uk-first-column)::before{
		border-left: 1px solid $mzMainColor;
	}


	.uk-search-default .uk-search-input{
		padding-left: 24px;
		border: 1px solid #00949b;
	}


	.uk-search .uk-search-icon-flip {
		right: 40px;
    	left: auto;
	}

	.uk-search .uk-search-icon{
		color: $mzMainColor;
	}

	.uk-navbar-nav > li > a{
		color: $colorWhite;
		font-size: 1.125rem;
		font-family: $fontSemiBold;
		
	}


	//nav
		
	nav{
		.uk-navbar-nav > li > a{
			min-height: 60px;
			padding: 0 25px;
			
			&:hover{
				color: $mzHoverColor;
				text-decoration: none;
			}

			
			&:hover > .uk-button.uk-border-pill{
				color: $colorWhite;
			}
			
			.uk-button.uk-border-pill{
				background: $mzAccentColor;
				text-transform: none;
				font-size: 1.375rem;
				font-family: $fontSemiBold;	
				&:hover{
					text-decoration: none;
				}		
			}
		}

		.uk-navbar-center >.uk-navbar-nav > li{
			position: relative;
			display: block;		
			
			&:nth-child(n+2):before{
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left:0;
				width: 1px;
				height: 30%;
				transform: translateY(-50%);
				background: $colorWhite;
			}		

		}


		.uk-navbar-dropdown{
			background: $mzMainColor;
			
		}

		.uk-navbar-dropdown-nav > li > a{
				color: $colorWhite;
		}


		.uk-grid-divider > :not(.uk-first-column)::before{
			border-left: 1px solid #f2f5f5;
		}

		.uk-light a:hover{
			text-decoration: none;
		}
	} 

	// hr

	.mz-hr{
		width: 30%;
		border-top: 1px solid $mzMainColor;
	}


	//doctorst - slider
	
	
	

	.uk-card-default .uk-card-footer {
	    border-top: none;
	}


	//aside 

	&-shadow-remove{
		box-shadow: none;
	}

	.uk-offcanvas-bar{
		background: $colorWhite;
	}
	
	.uk-offcanvas-bar .uk-close{
		color: $mzMainColor;
	}

	.uk-offcanvas-bar .mz-accent-clr{
		color: $mzAccentColor;
	}

	.uk-offcanvas-bar .uk-nav-default > li > a{
		color: $colorWhite;
		
		// &:hover{
		// 	color: $mzHoverColor;	
		// }
	}

	.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a{
		color: $colorWhite;
		
		// &:hover{
		// 	color: $mzHoverColor;
		// }
	}

	.uk-offcanvas-bar .mz-accent-clr a{
		color: $mzAccentColor;
	}

	.uk-offcanvas-bar p{
		color: $mzGlobalTextColor;
	}


	[uk-lightbox]{
		a{
			color: $colorWhite !important;
		}
	}




}	