@font-face {
    font-family: 'weblysleekui_l';
    src: url('../fonts/weblysleekuil/weblysleekuil.eot');
    src: url('../fonts/weblysleekuil/weblysleekuil.woff') format('woff'),
         url('../fonts/weblysleekuil/weblysleekuil.ttf') format('truetype'),
         url('../fonts/weblysleekuil/weblysleekuil.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleekui_li';
    src: url('../fonts/weblysleekuil/weblysleekuili.eot');
    src: url('../fonts/weblysleekuil/weblysleekuili.woff') format('woff'),
         url('../fonts/weblysleekuil/weblysleekuili.ttf') format('truetype'),
         url('../fonts/weblysleekuil/weblysleekuili.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleekui_sb';
    src: url('../fonts/weblysleekuil/weblysleekuisb.eot');
    src: url('../fonts/weblysleekuil/weblysleekuisb.woff') format('woff'),
         url('../fonts/weblysleekuil/weblysleekuisb.ttf') format('truetype'),
         url('../fonts/weblysleekuil/weblysleekuisb.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleekui_sbi';
    src: url('../fonts/weblysleekuil/weblysleekuisbi.eot');
    src: url('../fonts/weblysleekuil/weblysleekuisbi.woff') format('woff'),
         url('../fonts/weblysleekuil/weblysleekuisbi.ttf') format('truetype'),
         url('../fonts/weblysleekuil/weblysleekuisbi.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleekui_sl';
    src: url('../fonts/weblysleekuil/weblysleekuisl.eot');
    src: url('../fonts/weblysleekuil/weblysleekuisl.woff') format('woff'),
         url('../fonts/weblysleekuil/weblysleekuisl.ttf') format('truetype'),
         url('../fonts/weblysleekuil/weblysleekuisl.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'weblysleekui_sli';
    src: url('../fonts/weblysleekuil/weblysleekuisli.eot');
    src: url('../fonts/weblysleekuil/weblysleekuisli.woff') format('woff'),
         url('../fonts/weblysleekuil/weblysleekuisli.ttf') format('truetype'),
         url('../fonts/weblysleekuil/weblysleekuisli.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}