
html {
	height: 100%;
}

body {
	font-family: $fontMain;
	font-weight: 500;
	font-size: 16px;
	width: 100%;
	height: 100%;
	padding-bottom: 0!important;
	color: $mzGlobalTextColor;
}


.mz{

	//Основные шрифты

	&-headline{
		// 80px
		font-size: 5rem;
		font-family: $fontSemiBold;
		color: $mzGlobalTextColor;

	}

	&-h1{
		// 64px
		font-size: 1.5rem;
		font-family: $fontSemiBold;
		color: $mzGlobalTextColor;		
		
		@include breakPoint($compact){
			font-size: 3rem;
			background: transparent;
		}

		@include breakPoint($desktop){
			font-size: 4rem;
			background: transparent;
		}
	}

	&-h2{
		// 46px
		font-size: 1.4rem;
		font-family: $fontLigth;
		color: $mzGlobalTextColor;
		
		@include breakPoint($compact){
			font-size: 2.875rem;
		}

	}

	&-h3{
		//28px
		font-size: 2.75rem;
		font-family: $fontLigth;

	}

	&-text{
		
		// 53px
		&-adv{
			font-size: 3.3125rem;
			font-family: $fontSemiBold;
		}

		// 16px
		font-size: 1rem;
		font-family: $fontSemiLight;
		color: $mzGlobalTextColor;
						

		&-title{
			// 22px
			font-size: 1.375rem;
			font-family: $fontSemiLight;			
		}

		&-title-bold{
			// 22px
			font-size: 1.375rem;
			font-family: $fontSemiBold;
			color: $mzGlobalTextColor;
		}

		&-mlead{
			// 20px
			font-size: 1.25rem;
			font-family: $fontSemiLight;
		}

		&-mlead-bold{
			// 20px
			font-size: 1.25rem;
			font-family: $fontSemiBold;
			color: $mzGlobalTextColor;
		}

		&-mslead-bold{
			// 18px
			font-size: 1.125rem;
			font-family: $fontSemiBold;
			color: $mzGlobalTextColor;
		}

		&-slead{
			// 16px
			font-size: 1rem;
			font-family: $fontSemiLight;
			color: $mzGlobalTextColor;			
		}



		&-slead-bold{
			// 16px
			font-size: 1rem;
			font-family: $fontSemiBold;			
		}

		&-small{
			// 14px
			font-size: 0.875rem;
			font-family: $fontLigth;
			color: $mzGlobalTextColor;
		}

		&-xsmall{
			// 12px
			font-size: 0.75rem;
			font-family: $fontLigth;
			color: $mzCommentsTextColor;			
		}

	}


	// girls
	
	&-h-girl{
		height: 80px;
		padding: 15px;
		@include breakPoint($tablet){
			height: 90px;
		}

		@include breakPoint($tablet){
			height: 110px;
		}
	}


	&-menu-link{
		// 18px
		font-size: 1.125rem;
		font-family: $fontSemiBold;
		text-transform: uppercase;
	}


	// ОСновные цвета текста
	
	&-main-clr{
		color: $mzMainColor !important;
		
		[uk-icon]{
			color: $mzMainColor !important;			
		}
	}

	&-accent-clr{
		color: $mzAccentColor !important;
		
		[uk-icon]{
			color: $mzAccentColor !important;
		}
		
	}

	&-white-clr{
		color: $colorWhite !important;
		
		[uk-icon]{
			color: $colorWhite !important;
		}	
		
	}


	&-common-clr{
		color: $mzGlobalTextColor !important;
		
		[uk-icon]{
			color: $mzGlobalTextColor !important;
		}
	}

	&-second-clr{
		color: $mzCommentsTextColor !important;
		
		[uk-icon]{
			color: $mzCommentsTextColor !important;
		}
	}




	//button

	&-button-act{
		background: $mzAccentColor;
		padding: 0px 30px;
		color: $colorWhite !important;
		text-decoration: none;
		margin: 0;
	    border: none;
	    overflow: visible;
	    color: inherit;
	    text-transform: none;
	    -webkit-appearance: none;
	    border-radius: 0;
	    display: inline-block;
	    box-sizing: border-box;	    
	    vertical-align: middle;
	    font-size: 0.875rem;
	    line-height: 38px;
	    text-align: center;
	    text-decoration: none;
	    text-transform: uppercase;
	    transition: 0.1s ease-in-out;
	    transition-property: color, background-color, border-color;
	    border-radius: 500px;
	    
	    @include breakPoint($compact){
	    	padding: 5px 60px;
	    }
		
		
		&:hover{
			color: $colorWhite !important;
			text-decoration: none !important;
		}
	}

	&-buttom-totop{
		position: fixed;
		z-index: 20;
    	right: 11px;
    	bottom: 13px;
    	border: 1px solid $colorWhite;
    	padding: 8px 14px;
    	cursor: pointer;
    	font-size: 1.2rem;
    	color: $colorWhite !important;
    	// line-height: 2rem;
    	background: $mzAccentColor;
    	
    	&:hover{
			background: darken($mzAccentColor, 10%);
			text-decoration: none !important;
    	};
    	
    	@include breakPoint($tablet){
    		font-size: 2rem;
    		right: 20px;
    		bottom: 20px;
    		padding: 12px 16px;
    		// line-height: 2rem;
    		
    	}
	}	


	&-button{
		text-decoration: none;
		color: $mzMainColor;
		font-family: $fontSemiLight;
		font-size: 1rem;
		padding: 0 30px;
		vertical-align: middle;
	    font-size: 0.875rem;
	    line-height: 38px;
	    text-align: center;
	    text-decoration: none;
	    text-transform: none;
	    transition: 0.1s ease-in-out;
	    transition-property: color, background-color, border-color;
	    border: 1px solid $mzMainColor;
	    
	    &:hover{
	    	color: $colorWhite !important;
	    	text-decoration: none !important;
	    	background: $mzMainColor;
	    }
		
		&:not(:disabled){
			cursor: pointer;
		}
	}

	// backgrounds
	
	&-bcg{
		background: $mzBackgroundColor;
	}

	
	&-bcg-main-color{
		background: $mzMainColor;
	}
	
	&-bcg-dark-pattern{
		background: $mzMainColorDarken;
		background-image: url(../img/bcg/bcgDrk.png);
		background-repeat: repeat;		
	}

	&-bcg-light-pattern{
		background: $colorWhite;
		background-image: url(../img/bcg/bcgLight.png);
		background-repeat: repeat;		
	}

	&-bcg-accent{
		background: $mzAccentColor;
	}

	&-bcg-light-gray{
		background: $mzBcgClrGray;
	}

	&-bcg-light{
		background: $mzBcgClrMEdium;
	}

	&-bcg-white{
		background: $colorWhite;
	}

	&-margin-negative-medium-top{
		margin-top: 0px;
		
		&-l{
			margin-top: 40px;
			@include breakPoint($desktop){
				margin-top: -40px;
			}
			
		}	

	}

	// border
	&-border{
		border: 1px solid $mzBorderAdvColor;


		&-rounded{
			&-medium{
				border-radius: 15px;
				
				&-bottom{
					border-bottom-left-radius:  15px;
					border-bottom-right-radius:  15px;
				}

				&-top{
					border-top-left-radius:  15px;
					border-top-right-radius:  15px;
				}

			}
		}

		&-adv{
			border-radius: 100%;
			border: 1px solid $mzBorderAdvColor;
		}
	}

	

	&-padding-left{
		padding-left: 0;
		
		@include breakPoint($desktop){
			padding-left: 60px;
		}
	}
}	