.mz{
	&-adv{
		&-blc{
			width: 65px;
			height: 65px;
			border-radius: 500px;
			border: 1px solid $mzBorderAdvColor;
			
			@include breakPoint($tablet){
				width: 95px;
				height: 95px;
			}
		}
	}
	// end adv	

	&-table{
		vertical-align: middle !important;
		margin-top: 20px;
		width: 100%;
    	margin-bottom: 20px;
		border-spacing: 10px 10px;
    	
    	th{
    		padding: 6px 6px;
    		text-align: center;
		    vertical-align: middle;
		    font-size: 0.85rem;
		    font-weight: normal;
		    border-top: 2px solid $mzMainColor;
		    border-bottom: 2px solid $mzMainColor;
		    
		    @include breakPoint($tablet){
		    	font-size: 1.25rem;
		    	padding: 16px 12px;
		    }
		    
		    &:nth-child(2){
		    	display: none;
		    	@include breakPoint($tablet){
		    		display: table-cell;
		    	}
		    }	    		    
    	}



    	tr:nth-child(n+2) > td{
    		border-top: 1px solid #e5e5e5;
    	}

    	tr > td{
    		vertical-align: middle !important;
			text-align: center;
			padding: 16px 12px;
    		
    		&:first-child{
    			text-align: left;
    		}

    		&:nth-child(2){
    			display: none;
		    	@include breakPoint($tablet){
		    		display: table-cell;
		    	}
    		}
    	}
	}
	// end table
	
	&-accordion{
		.uk-accordion-title{
			color: $mzGlobalTextColor;
			font-size: 1rem;
			text-transform: uppercase;
			padding: 20px 10px 20px 20px;
			background: $mzBcgClrGray;
			overflow: visible;
			
			@include breakPoint($tablet){
				font-size: 1.375rem;
				padding: 30px 10px 30px 30px;
				
			}
			
			&:before{
				content: '';
				display: none;
			}
			
			&:hover{
				color: $mzAccentColor;
				text-decoration: none;
				
				span{
					color: $mzAccentColor;
				}
			};
			
			span[uk-icon='icon: minus']{
				display: none;
			}
			
		}

		.uk-open{
			.uk-accordion-title{
				color: $colorWhite;
				background: $mzAccentColor;
				
				&:hover span{
					color: $colorWhite;
				}

				span[uk-icon='icon: minus']{
					display: block;
				}

				span[uk-icon='icon: plus']{
					display: none;
				}
				
				&:after{
					content: '';
					display: block;
					position: absolute;
					bottom: -20px;
					left: 30px;
					border: 10px solid transparent;
					border-top: 10px solid $mzAccentColor;
					background-image: none;
					width: 0;
					height: 0;
					margin: 0;
				};
				
				
			}
		}


		li{
			
			&:nth-child(n+2){
				margin-top: 1px;
			};
		}
	}


	&-card{
		&.uk-card-default{
			.uk-card-header{
				border-bottom: none;
			}
		}	

		&.uk-card-default.uk-card-hover:hover{


			.uk-card-header{
				background: $mzAccentColor;
					a{ 
						color: $colorWhite;
						text-decoration: underline;					
					}
			}
		}
	}

	&-scroll{
		position: relative;
		
		&:bofore{
			content:'';
			display:block;
			position: absolute;
			top: 64;
			left: 0;
		}		
	}
	
		
}