
$fontSemiBold: 'weblysleekui_sb', sans-serif;
$fontSemiBoldItalic: 'weblysleekui_sbi', sans-serif;

$fontLigth: 'weblysleekui_l', sans-serif;
$fontLigthItalic: 'weblysleekui_li', sans-serif;

$fontSemiLight: 'weblysleekui_sl', sans-serif;
$fontSemiLightItalic: 'weblysleekui_sli', sans-serif;

$fontMain: $fontSemiLight;

$tablet: 640px;
$compact: 960px;
$compactMiddle: 1000px;
$desktop: 1200px;
$fullhd: 1600px;


$mzMainColor: #00949b;
$mzMainColorDark: #168080;
$mzMainColorDarken: #098787;

$mzAccentColor: #cc137a;
$mzHoverColor: #dd8324;

$mzBackgroundColor: #edefef;
$mzBcgClrWhite: #e0eff0;
$mzBcgClrMEdium: #f0f7f7;
$mzBcgClrGray: #edefef;

$mzGlobalTextColor: #1d1d1b;
$mzCommentsTextColor: #808080;

$mzBorderAdvColor: #cfcfcf;



$colorWhite: #fff;
