<template lang="pug">
	.btn-group
		slot
</template>


<script>
	export default {
		props: {
			disabled: {
				type: Boolean,
				default: false
			},
			loading: {
				type: Boolean,
				default: false
			},
			small: {
				type: Boolean,
				default: false
			},
			blue: {
				type: Boolean,
				default: false
			}
		}
	}
</script>

<style scoped lang="scss">

	.btn-group{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		vertical-align: middle;
		margin: 5px 0 5px 10px;

		&::v-deep .btn{
			border-radius: 0;
			margin: 0!important;

			&:first-child{
				border-top-left-radius: $roundElement ;
				border-bottom-left-radius: $roundElement;
			}

			&:last-child{
				border-top-right-radius: $roundElement ;
				border-bottom-right-radius: $roundElement;
			}

		}

		&::v-deep ~ .btn,
		&::v-deep ~ .btn-group{
		}
	}


</style>