<template functional lang="pug">
	.btn-case
		slot
</template>


<script>

</script>

<style scoped lang="scss">

	.btn-case{
		display: flex;
		flex-wrap: wrap;
		margin: (-$padding/2);
		margin-bottom: 15px;

		&::v-deep .btn,
		&::v-deep .btn-group {
			margin: $padding / 2;
		}

	}


</style>