<template lang="pug">
	.btn(v-ripple,
		:class="cls()",
		@click="(active || loading || disabled) || $emit('click')")
		.btn-inner: slot

</template>


<script>
	export default {
		props: {
			disabled: {
				type: Boolean,
				default: false
			},
			active: {
				type: Boolean,
				default: false
			},
			loading: {
				type: Boolean,
				default: false
			},
			small: {
				type: Boolean,
				default: false
			},
			big: {
				type: Boolean,
				default: false
			},
			yellow: {
				type: Boolean,
				default: false
			},
			white: {
				type: Boolean,
				default: false
			},
			blue: {
				type: Boolean,
				default: false
			},
			green: {
				type: Boolean,
				default: false
			},
			grey: {
				type: Boolean,
				default: false
			},
			red: {
				type: Boolean,
				default: false
			}
		},

		methods:{
			cls(){
				let cls = '';

				if ( this.small ) cls += ' btn_small';
				if ( this.big ) cls += ' btn_big';
				if ( this.loading ) cls += ' btn_loading';
				if ( this.disabled ) cls += ' btn_disabled';
				if ( this.active ) cls += ' btn_active';
				if ( this.white ) cls += ' btn_white';
				if ( this.yellow ) cls += ' btn_yellow';
				if ( this.blue ) cls += ' btn_blue';
				if ( this.green ) cls += ' btn_green';
				if ( this.grey ) cls += ' btn_grey';
				if ( this.red ) cls += ' btn_red';
				if ( this.active ) cls += ' btn_active';

				return cls
			}
		}
	}
</script>

<style scoped lang="scss">

	.btn{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		text-align: center;
		border-radius: $roundElement;
		background: $colorDashboardGreen no-repeat 50% 50%;
		background-size: auto 80%;
		color: #fff;
		padding: $fOffsetY $fOffsetX;
		user-select: none;
		box-sizing: border-box;
		overflow: hidden;
		vertical-align: middle;
		font-size: 14px;
		transition: all .2s ease;
		box-shadow: $boxshadow;

		&:hover{
			box-shadow: 0 0 0 rgba(#000, 0);
		}

		&:active{
			box-shadow: inset 0 1px 3px rgba(#000, 0.25);
		}

		&-inner{
			display: inline-flex;
			align-items: center;
			justify-content: center;

			&::v-deep .icon{
				margin: -5px 5px;

				&:first-child{
					margin-left: 0;
				}

				&:last-child{
					margin-right: 0;
				}
			}
		}

		&:hover{
			background-color: darken($colorDashboardGreen, 10%)
		}

		&_active{
			box-shadow: inset 0 1px 3px rgba(#000, 0.25);
			cursor: default;
		}

		&_small{
			font-size: 12px;
			padding: ($fOffsetY / 2) ($fOffsetX / 2);
		}

		&_big{
			padding: (2 * $fOffsetY) ($fOffsetX);
		}

		&_white{
			background-color: #fff;
			color: #000;

			&:hover{
				background-color: darken(#fff, 10%)
			}
		}

		&_yellow{
			background-color: $colorYellow;

			&:hover{
				background-color: darken($colorYellow, 10%)
			}
		}
		&_green{
			background-color: $colorGreen;

			&:hover{
				background-color: darken($colorGreen, 10%)
			}
		}
		&_blue{
			background-color: $colorBlue;

			&:hover{
				background-color: darken($colorBlue, 10%)
			}
		}
		&_red{
			background-color: $colorRed;

			&:hover{
				background-color: darken($colorRed, 10%)
			}
		}
		&_grey{
			background-color: $colorGrey;

			&:hover{
				background-color: darken($colorGrey, 10%)
			}
		}

		&_loading{
			color: transparent !important;
			background-image: url("../../img/svg/btn-loader.svg");
		}

		&_disabled{
			background-color: $colorGrey;
			cursor: default;
			color: $colorGreyText;
		}

	}


</style>