<template lang="pug">
	.msd-form(v-if="pageLoaded")
		form-wrap(ref="form")
			form-field(type="text", v-model="title", :options="fields.title")
			form-field(type="text", v-model="keywords", :options="fields.keywords")
			form-field(type="text", v-model="slug", :options="fields.slug")
			form-field(type="textarea", v-model="description", :options="fields.description")
			form-field(type="date", v-model="added", :options="fields.added")
			form-field(type="editor", v-model="html", :options="fields.html")
			form-field(type="file", v-model="gallery", :options="fields.gallery")
			form-field(type="text", v-model="anchor", :options="fields.anchor")
			form-field(type="checkbox", v-model="publish", :options="fields.publish")

		div
			btn-case
				btn(blue, @click="submit", :loading="btnLoad") {{ newsId ? 'Сохранить новость' : 'Добавить новость'}}
				btn(red, @click="deletePopup = true", v-if="newsId") Удалить новость

		popup(v-model="deletePopup", @onClose="deletePopup = false").popup_info
			.popup__title Удалить запись.
			.popup__text
				p Вы уверены что хотите удалить "{{ title }}"?
				p После удаления, восстановить будет невозможно.
			.popup__footer
				btn-case
					btn(red @click="deleteConfirm()", :loading="deleteBtnLoading") Удалить
					btn(blue @click="deletePopup = false") Отменить

</template>

<script>

	import moment from "moment";
	import {mapState} from "vuex";

	export default {
		props: {
			newsId: {
				type: [String, Number],
				default: null
			},
		},

		data () {
			return {

				deleteBtnLoading: false,
				deletePopup: false,

				btnLoad: false,

				pageLoaded: false,

				fields: {
					title: {
						placeholder: 'Заголовок',
						required: true,
						max: 200,
						rules: {
							empty: 'Укажите заголовок новости',
						},

					},
					keywords: {
						placeholder: 'Ключевые слова',
					},
					slug: {
						required: true,
						placeholder: 'slug',
					},
					description: {
						placeholder: 'Краткое описание'
					},
					added: {
						required: true,
						placeholder: 'Дата новости',
						mask: '99.99.9999',
						disableDate: date => date > new Date().setHours(0, 0, 0, 0),
					},

					anchor: {
						placeholder: 'Якорь',
					},
					html: {
						required: true,
						placeholder: 'Текст новости'
					},
					gallery: {
						placeholder: 'Фотографии новости',
						multiple: true,
						max: 10,
						accept: ['png', 'jpg', 'jpeg'],
					},
					publish: {
						label: 'Опубликовать'
					},
				}
			}
		},

		computed: {
			...mapState({
				news: state => state.news.item
			}),

			title: {
				get() {
					return this.news.title;
				},
				set(value) {
					this.$store.dispatch("news/setCurrent", {name: 'title', value});
				}
			},

			keywords: {
				get() {
					return this.news.keywords;
				},
				set(value) {
					this.$store.dispatch("news/setCurrent", {name: 'keywords', value});
				}
			},

			description: {
				get() {
					return this.news.description;
				},
				set(value) {
					this.$store.dispatch("news/setCurrent", {name: 'description', value});
				}
			},

			anchor: {
				get() {
					return this.news.anchor;
				},
				set(value) {
					this.$store.dispatch("news/setCurrent", {name: 'anchor', value});
				}
			},

			slug: {
				get() {
					return this.news.slug;
				},
				set(value) {
					this.$store.dispatch("news/setCurrent", {name: 'slug', value});
				}
			},

			added: {
				get() {
					return this.news.added ? new Date(this.news.added) : new Date();
				},
				set(value) {
					let date = moment(value).format('YYYY-MM-DD');
					this.$store.dispatch("news/setCurrent", {name: 'added', value: date});
				}
			},

			html: {
				get() {
					return this.news.html;
				},
				set(value) {
					this.$store.dispatch("news/setCurrent", {name: 'html', value});
				}
			},

			gallery: {
				get() {
					return this.news.gallery;
				},
				set(value) {
					this.$store.dispatch("news/setCurrent", {name: 'gallery', value});
				}
			},

			publish: {
				get() {
					return this.news.publish;
				},
				set(value) {
					this.$store.dispatch("news/setCurrent", {name: 'publish', value});
				}
			},
		},

		created(){
			this.loadData()
		},

		mounted (){

		},

		methods: {

			loadData(){
				if ( this.newsId ){
					this.getItem();
				} else {
					this.setDefault();
				}
			},

			getItem(){
				this.$store.dispatch('news/getItem', this.newsId).finally(()=>{ this.pageLoaded = true; });
			},

			setDefault(){
				this.pageLoaded = true;
				this.$store.dispatch('news/setDefault');
			},

			submit(){

				let method = this.newsId ? 'news/edit' : 'news/add';

				this.$refs.form.validate()
					.then(()=>{
						this.btnLoad = true;
						this.$store.dispatch(method).then(()=>{
							this.$emit('onFormSubmit');
						}).finally(()=>{
							this.btnLoad = false;
						});
					}, error => {
						this.$toast.error(error);
					});
			},


			deleteConfirm(){
				this.deleteBtnLoading = true;
				this.$store.dispatch('news/delete', this.newsId).then(()=>{
					this.deletePopup = false;
					this.deleteBtnLoading = false;
					this.$emit('onFormSubmit');
				});
			}
		},

		watch: {
			'$route' () {
				this.loadData();
			},
		},

		components: {

		},

	}
</script>

<style lang="scss">

</style>