.form-item__datepicker-btn {
	color: $default-color;
	white-space: nowrap;

	&:hover {
		color: $primary-color;
	}
}

.form-item__datepicker-btn-text {
	border: 0;
	padding: 0;
	text-align: left;
	line-height: inherit;
}
