@import './var.scss';
@import './btn.scss';
@import './scrollbar.scss';
@import './animation.scss';

.form-item__datepicker {
	display: block;



	&-range {
		width: 320px;
	}

	&-inline {
		width: auto;
		border: 1px solid $border-color;
		background-color: #fff;
	}


}



.form-item__datepicker-input-wrapper {
	position: relative;
	.form-item__datepicker-icon-clear {
		display: none;
	}
	&:hover {
		.form-item__datepicker-icon-clear {
			display: block;
		}
		.form-item__datepicker-icon-clear + .form-item__datepicker-icon-calendar {
			display: none;
		}
	}
}

.form-item__datepicker-input {


}

.form-item__datepicker-icon-calendar,
.form-item__datepicker-icon-clear {
	position: absolute;
	top: 5px;
	right: 5px;
}

.form-item__datepicker-icon-clear {
	cursor: pointer;
	&:hover {
		color: rgba(0, 0, 0, 0.8);
	}
}

.form-item__datepicker-popup {
	//color: $default-color;
	position: absolute;
	margin-top: -1px;
	margin-bottom: -1px;
	border: 1px solid $fColorBorder;
	background-color: $inputBg;
	z-index: 1000;
}

.form-item__datepicker-content-wrapper {
	display: flex;
}

.form-item__datepicker-content {
	position: relative;
	user-select: none;
}

.form-item__datepicker-sidebar {
	box-sizing: border-box;
	width: 100px;
	padding: 6px;
	overflow: auto;
	border-right: 1px solid $border-color;
}

.form-item__datepicker-btn-shortcut {
	display: block;
	padding: 0 6px;
	line-height: 24px;
}

.form-item__datepicker-range-wrapper {
	display: flex;
}

.form-item__datepicker-header {
	padding: 6px 8px;
	border-bottom: 1px solid $border-color;
}

.form-item__datepicker-footer {
	padding: 6px 8px;
	text-align: right;
	border-top: 1px solid $border-color;
}

.form-item__datepicker-calendar {
	padding: 6px 6px;
	& + & {
		border-left: 1px solid $border-color;
	}
}

.form-item__datepicker-calendar-header {
	box-sizing: border-box;
	height: 34px;
	text-align: center;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.form-item__datepicker-btn-icon-left {

}
.form-item__datepicker-btn-icon-right {

}
.form-item__datepicker-btn-icon-double-left {

}
.form-item__datepicker-btn-icon-double-right {

}

.form-item__datepicker-calendar-header-label {
	font-size: 14px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-item__datepicker-calendar-decade-separator {
	margin: 0 2px;
}

.form-item__datepicker-calendar-content {
	position: relative;
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	.cell {
		cursor: pointer;
		&:hover {
			background-color: $hover-color;
		}
		&.active {
			color: #fff;
			background-color: $primary-color;
		}
		&.in-range {
			background-color: $range-color;
		}
		&.disabled {
			cursor: not-allowed;
			color: #ccc;
			background-color: #f3f3f3;
		}
	}
}

.form-item__datepicker-calendar-week-mode {
	.form-item__datepicker-date-row {
		cursor: pointer;
		&:hover {
			background-color: $hover-color;
		}
		&.form-item__datepicker-active-week {
			background-color: $range-color;
		}
		.cell {
			&:hover {
				background-color: transparent;
			}
			&.active {
				color: inherit;
				background-color: transparent;
			}
		}
	}
}

.form-item__datepicker-week-number {
	opacity: 0.5;
}

.form-item__datepicker-table {
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
	th {
		padding: 0;
		font-weight: 500;
	}
	td {
		padding: 0;
	}

	&-month{
		padding: 15px 0;
	}

	&-year{
		padding: 15px 0;
	}
}

.form-item__datepicker-table-date {
	td,
	th {
		height: 28px;
		font-size: 12px;
	}

	.today {
		color: mix(#fff, $primary-color, 10%);
	}
	.not-current-month {
		color: #ddd;
	}
}

.form-item__datepicker-time {
	flex: 1;
	width: 224px;
	background: #fff;
	& + & {
		border-left: 1px solid $border-color;
	}
}
.form-item__datepicker-calendar-time {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.form-item__datepicker-time-header {

}

.form-item__datepicker-time-content {
	height: 224px;
	box-sizing: border-box;
	overflow: hidden;
}

.form-item__datepicker-time-columns {
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.form-item__datepicker-time-column {
	flex: 1;
	position: relative;
	border-left: 1px solid $border-color;
	text-align: center;

	&:first-child {
		border-left: 0;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		&::after {
			content: '';
			display: block;
			height: 32 * 6px;
		}
	}

	li {
		font-size: 12px;
		height: 32px;
		line-height: 32px;
	}
}

.form-item__datepicker-time-list {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		padding: 8px 10px;
		font-size: 14px;
		line-height: 20px;
	}
}

.form-item__datepicker-time-list,
.form-item__datepicker-time-column {
	li {
		cursor: pointer;
		&:hover {
			background-color: $hover-color;
		}
		&.active {
			color: $primary-color;
			font-weight: 700;
		}
		&.disabled {
			cursor: not-allowed;
			color: #ccc;
			background-color: #f3f3f3;
		}
	}
}
