
html{
	height: 100%;
}

body{
	height: 100%;
	background: $colorBackground;
	font-family: $fontMain;
	font-size: $fontSize;
	padding-bottom: 0 !important;
	overflow-x: hidden;

}

.link{
	cursor: pointer;
}


// custom transitions
.v-enter-active, .v-leave-active {
	transition: all .3s ease;
	opacity: 1;
}
.v-enter, .v-leave-to {
	opacity: 0;
}



// popup transitions
.popup-enter-active, .popup-leave-active {
	transition: all .5s ease;

	.popup__layout{
		transition: all .5s ease;
		//transform: perspective(500px) translateY(0%) scale(1) rotateX(0deg);
		transform: scale(1);
		box-shadow: $boxshadow;
		filter: blur(0);
	}
}
.popup-enter {
	opacity: 0;

	.popup__layout{
		//transform: perspective(800px) translateY(-40%) scale(0.8) rotateX(-40deg);
		transform: scale(0.9);
		box-shadow: 0 5px 25px 0 rgba(43,43,43,.1), 0 30px 10px -7px rgba(43,43,43,.1);
		filter: blur(5px);
	}
}
.popup-leave-to {
	opacity: 0;
	.popup__layout{
		//transform: perspective(800px) translateY(-40%) scale(0.8) rotateX(-40deg);
		transform: scale(0.7);
		box-shadow: 0 5px 25px 0 rgba(43,43,43,.1), 0 30px 10px -7px rgba(43,43,43,.1);
		filter: blur(5px);
	}
}


// layout transitions
.layout-enter-active, .layout-leave-active {
	transition: all .8s ease;

	.msd__aside{
		transition: all .8s ease;
		transform: translateX(0);
	}

	.msd__main-header{
		transition: all .8s ease;
		transform: translateY(0);
	}

	.msd__main-middle{
		transition: all .8s ease;
		filter: blur(0);
	}
}
.layout-enter, .layout-leave-to {
	opacity: 0;

	.msd__aside{
		transform: translateX(-100%);
	}

	.msd__main-header{
		transform: translateY(-100%);
	}

	.msd__main-middle{
		filter: blur(5px);
	}
}