

img[lazy="error"]{
	/**
		todo: add error icon
	 */
}

img[lazy="loading"]{
	min-width: 50px;
	min-height: 50px;
	background: url("../img/svg/btn-loader.svg") no-repeat 50% 50%;
	background-size: 50px 50px;
}


.msd-collect{
	display: flex;
	flex-wrap: wrap;
	margin: (-$padding/2);
	margin-bottom: 15px;
}

.msd-card{
	width: 200px;
	height: 150px;
	margin: $padding / 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $roundElement;
	box-shadow: $boxshadow;
	transition: all .2s ease;
	cursor: pointer;
	position: relative;
	background: #fff;

	&:hover{
		box-shadow: 0 0 0 rgba(#000, 0);
	}

	&:active{
		box-shadow: inset 0 1px 3px rgba(#000, 0.25);
	}

	&__item{
	}

	&__image{
		display: block;
		max-width: 100%;
		max-height: 100%;
	}

	&__control{
		position: absolute;
		top: $padding;
		right: $padding;
		max-width: calc(100% - #{2 * $padding});
		opacity: 0;
		transition: opacity .3s ease;

		.msd-card:hover &{
			opacity: 1;
		}


		&-btn{
			width: 24px;
			height: 24px;
			border-radius: $roundElement;
			background: $fColorBorder;
			color: #fff;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin: 0 0 5px 5px;
			cursor: pointer;

			.icon{
				width: 20px;
				height: 20px;
			}

			&:hover{
				background: $fColorFocus;
			}
		}
	}
}