.v-popover{
	cursor: pointer;
	display: inline-block;
	vertical-align: baseline;

	&.open{
		.more{
			&:before{
				transform: rotate(-45deg);
			}

			&:after{
				transform: rotate(45deg);
			}
		}
	}



}

.tooltip {
	display: block !important;
	z-index: 10000;

	.tooltip-inner {
		background: rgba(#000, 0.8);
		color: #fff;
		border-radius: 3px;
		padding: 8px 10px;
		font-size: 12px;
		box-shadow: $boxshadow;
		max-width: 230px;
		line-height: 1.2;

		ul{
		}

		li{
			margin: 13px 0;

			&:first-child{
				margin-top: 0;
			}

			&:last-child{
				margin-bottom: 0;
			}
		}

		.link{
			color: $colorGreyText;

			&:hover{
				color: $colorBlack;
			}
		}
	}

	.tooltip-arrow {
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		margin: 5px;
		border-color: rgba(#000, 0.8);
		z-index: 1;
	}

	&[x-placement^="top"] {
		margin-bottom: 5px;

		.tooltip-arrow {
			border-width: 5px 5px 0 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			bottom: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&[x-placement^="bottom"] {
		margin-top: 5px;

		.tooltip-arrow {
			border-width: 0 5px 5px 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-top-color: transparent !important;
			top: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&[x-placement^="right"] {
		margin-left: 5px;

		.tooltip-arrow {
			border-width: 5px 5px 5px 0;
			border-left-color: transparent !important;
			border-top-color: transparent !important;
			border-bottom-color: transparent !important;
			left: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
	}

	&[x-placement^="left"] {
		margin-right: 5px;

		.tooltip-arrow {
			border-width: 5px 0 5px 5px;
			border-top-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			right: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
	}

	&.popover {

		.popover{

			&-inner {
				background: rgba(#fff, .6);
				backdrop-filter: blur(10px);
				color: #000;
				padding: 15px 20px;
				min-width: 150px;
			}

			&-arrow {
				border-color: rgba(#fff, .6);
				backdrop-filter: blur(10px);
			}

			&-title{
				font-weight: 600;
				margin-bottom: 20px;
			}

			&-menu{
				margin: -10px -20px;

				&__item{
					cursor: pointer;
					padding: 10px 20px;
					transition: all .3s ease;
					display: flex;
					align-items: center;

					&:hover{
						background-color: rgba($colorBlue, 0.1);

						.icon{
							color: $colorBlue;
						}
					}
				}

				&__ico{
					color: $colorGrey;
					margin-right: 10px;
				}

				&__link{

				}
			}
		}
	}

	&[aria-hidden='true'] {
		visibility: hidden;
		opacity: 0;
		transition: opacity .15s, visibility .15s;
	}

	&[aria-hidden='false'] {
		visibility: visible;
		opacity: 1;
		transition: opacity .15s;
	}
}


.tooltip{
	pointer-events: none;
}

.popover{
	pointer-events: all;
}