$fontMain: 'Roboto', sans-serif;
$fontSize: 14px;


$breakPoint_tablet: 800px;
$breakPoint_compact: 1200px;
$breakPoint_desktop: 1500px;

$colorDashboardGreen: #59b89d;
$colorDashboardDarkMedium: #2e4051;
$colorDashboardDarkHeavy: #1c2d40;

$colorBackground: #f0f0f0;
$colorBlue: #278ef6;
$colorGreen: #639A00;
$colorYellow: #FFB600;
$colorRed: #D40000;
$colorBlack: #000;
$colorGreyText: #666666;
$colorGrey: #ccc;
$colorText: #141414;



$roundComponent: 10px;
$roundElement: 3px;



// layout


$bodyBackground: #fff;
$asideMin: 50px;
$asideMax: 250px;
$headerHeight: 50px;
$headerFooter: $headerHeight;



// form input
$fGutter: 16px;
$fLineHeight: 1.2;
$fFontSize: 14px;
$fOffsetY: 8px;
$fOffsetX: 12px;
$fWidthBorder: 1px;
$fColorBorder: $colorGrey;
$fColorFocus: $colorBlue;
$fColorError: $colorRed;

$inputBg: #fff;




.c{
	&-yellow{
		color: $colorYellow !important;
	}
	&-green{
		color: $colorGreen !important;
	}
	&-blue{
		color: $colorBlue !important;
	}
	&-red{
		color: $colorRed !important;
	}
	&-white{
		color: #fff !important;
	}
}


$padding: 10px;
$boxshadow: 0 5px 5px 0 rgba(#000,.25), 0 15px 6px -7px rgba(#000,.1);

