<template lang="pug">
	.msd-form(v-if="pageLoaded")
		form-wrap(ref="form")
			form-field(type="text", v-model="title", :options="fields.title")
			form-field(type="text", v-model="keywords", :options="fields.keywords")
			form-field(type="textarea", v-model="description", :options="fields.description")
			form-field(type="editor", v-model="html", :options="fields.html")

		div
			btn-case
				btn(blue, @click="submit", :loading="btnLoad") {{ partId ? 'Сохранить страницу' : 'Добавить страницу'}}


</template>

<script>

	import {mapState} from "vuex";

	export default {
		props: {
			partId: {
				type: [String, Number],
				default: null
			},
		},

		data () {
			return {

				btnLoad: false,

				pageLoaded: false,

				fields: {

					title: {
						placeholder: 'Заголовок',
						required: true,
						max: 200,
						rules: {
							empty: 'Укажите заголовок новости',
						},

					},
					keywords: {
						placeholder: 'Ключевые слова',
					},

					description: {
						placeholder: 'Краткое описание'
					},
					html: {
						required: true,
						placeholder: 'Текст новости'
					},

				}
			}
		},

		computed: {
			...mapState({
				part: state => state.part.item,
				sections: state => state.section.list,
			}),

			title: {
				get() {
					return this.part.title;
				},
				set(value) {
					this.$store.dispatch("part/setCurrent", {name: 'title', value});
				}
			},

			keywords: {
				get() {
					return this.part.keywords;
				},
				set(value) {
					this.$store.dispatch("part/setCurrent", {name: 'keywords', value});
				}
			},

			description: {
				get() {
					return this.part.description;
				},
				set(value) {
					this.$store.dispatch("part/setCurrent", {name: 'description', value});
				}
			},

			html: {
				get() {
					return this.part.html;
				},
				set(value) {
					this.$store.dispatch("part/setCurrent", {name: 'html', value});
				}
			},

		},

		created(){
			this.loadData()
		},

		mounted (){

		},

		methods: {

			loadData(){
				if ( this.partId ){
					this.getItem();
				} else {
					this.setDefault();
				}
			},

			getItem(){
				this.$store.dispatch('part/getItem', this.partId).finally(()=>{ this.pageLoaded = true; });
			},

			setDefault(){
				this.pageLoaded = true;
				this.$store.dispatch('part/setDefault');
			},

			submit(){

				let method = this.partId ? 'part/edit' : 'part/add';

				this.$refs.form.validate()
					.then(()=>{
						this.btnLoad = true;
						this.$store.dispatch(method).then(()=>{
							this.$emit('onFormSubmit');
						}).finally(()=>{
							this.btnLoad = false;
						});
					}, error => {
						this.$toast.error(error);
					});
			},

		},

		watch: {
			'$route' () {
				this.loadData();
			},
		},

		components: {

		},

	}
</script>

<style lang="scss">

</style>