<template lang="pug">
	div
		article-wrap(v-if="!loaded") ...

		article-wrap(v-else-if="parts.length <= 0")
			p Список пуст
			p

		article-wrap(v-else)

			br
			br
			table-item(:items="parts")
				template(v-slot:head)
					tr
						//-th id
						th Страница
						th.msd-table__control Управление
				template(v-slot:row="{item}")
					tr
						//-td.msd-table__num {{ item.id }}
						td
							router-link(:to="{name: 'part_item', params: {partId: item.id}}") {{ item.title }}
						td.msd-table__control
							v-popover.msd-settings
								template(slot="popover")
									.popover-title Настройки
									.popover-menu
										router-link.popover-menu__item(v-close-popover.all, tag="div", :to="{name: 'part_item', params: {partId: item.id}}")
											.popover-menu__ico: icon(name="square-edit-outline")
											.popover-menu__link Редактировать
										a.popover-menu__item(v-close-popover.all, :href="`/${item.id}`", target="_blank")
											.popover-menu__ico: icon(name="open-in-new")
											.popover-menu__link Страница на сайте
								.msd-settings__icon
									icon(name="tune")



</template>

<script>

	import {mapState} from "vuex";

	export default {
		data () {
			return {
				loaded: false,
			}
		},

		mounted (){
			this.getAll();
		},

		methods: {
			getAll(){
				this.$store.dispatch('part/getAll').then(()=>{
					this.loaded = true;
				});
			},

		},

		computed: {
			...mapState({
				parts: state => state.part.list
			}),
		},

		watch: {
			deleteItem(val){
				this.deletePopup = !!val;
			}
		},

		components: {

		},

	}
</script>

<style lang="scss">

</style>