.search-form
	form.form(action='', method='post', novalidate, autocomplete='off')

		.form__field
			//-.form__title E-mail
			.form__input
				input(type='email', name='email', data-require='email')
				.form__placeholder E-mail

		.form__field
			.form__input
				input(type='text', name='date-before', data-date='from', data-require='true', readonly)
				.form__placeholder Дата рождения

		.form__field
			.form__input
				input(type='text', name='date-to', data-date='to', data-require='true', readonly)
				.form__placeholder Дата сметри

		.form__field
			.form__input
				input(type='text', name='date-to', data-date='range-from', data-require='true', readonly)
				.form__placeholder Диапазон даты рождения

		.form__field
			.form__input
				input(type='text', name='date-to', data-date='range-to', data-require='true', readonly)
				.form__placeholder Диапазон даты смерти

		.form__field
			//-.form__title Пароль*
			.form__input
				input(type='password', name='password', data-require='true')
				.form__placeholder Пароль

		.form__field
			.form__input
				label
					input(type='checkbox', name='remember', data-require='true')
					.form__label Запомнить меня

		.form__field
			.form__input
				.form__title Радио кнопки
				label
					input(type='radio', name='radio', data-require='true')
					.form__label Радио кнопка 1

		.form__field
			.form__input
				label
					input(type='radio', name='radio', data-require='true')
					.form__label Радио кнопка 2

		.form__field
			//-.form__title ФИО*
			.form__input
				input(type='text', name='fio', data-require='true')
				.form__placeholder ФИО*

		.form__field
			//-.form__title Селект
			.form__input
				select(name='select', data-require='true')
					option(value='', selected, disabled)
					option(value='1') Вариант 1
					option(value='2') Вариант 2
					option(value='3') Вариант 3
				.form__placeholder Селект

		.form__field
			//-.form__title Сообщение*
			.form__input
				textarea(name='message', data-require='true')
				.form__placeholder Сообщение

		.form__field
			.form__footnote * - Поля. обязательные для заполнения

		.form__field.form__field_submit
			.form__input
				button(type='submit').btn отправить


