section.uk-section.uk-section-small
	div.uk-container
		ul(class='uk-breadcrumb')
			li
				a(href='') Главная
			li
				a(href='') Доктора			
			li
				span Яковлева Марина Степановна

section.uk-section.mz-bcg-dark-pattern.uk-padding-remove-vertical
	div.uk-container.uk-light
		div(class='uk-grid-collapse uk-child-width-1-1 uk-child-width-1-2@m' uk-grid='' uk-height-match="row: false")
			div(class='uk-cover-container')
				div(class='uk-cover-container uk-width-1-1 uk-height-1-1 uk-margin-auto')
					img(src='../img/about/about.jpg' uk-cover)



			div(class='uk-padding')
				div(class='.h')
					h2.mz-h2.uk-text-left О компании
					p Аппаратный педикюр является абсолютно безопасной процедурой, исключающей риск заражения грибком и не вызывающей неприятных ощущений. При данной методике используют вместо ванночек химические размягчители, которые защищают от любых инфекций. С помощью сменных аппаратных насадок (одноразовых или стерилизованных) кожа на ножках обрабатывается мягко и деликатно даже в труднодоступных местах, что особенно важно для проблемных ног.

					p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью решаются такие проблемы, как гиперкератоз (чрезмерное утолщение рогового слоя эпидермиса), вросший ноготь, гипергидроз (повышенная потливость стоп), микоз (грибковое заболевание), подошвенные бородавки, твердые мозоли и многие другие. Аппаратный методика показана для больных диабетом (при снижении болевой и температурной чувствительности, характерной для этой болезни, можно пораниться, делая классический маникюр).

section.uk-section
	div.uk-container
		h2.mz-h2.uk-text-center Наши награды

		div(class='uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-child-width-1-5@l uk-grid-medium' uk-grid uk-lightbox="animation: slide")
			div
				a(class="uk-inline" href='../img/doctors/AnnaPetrova/diplom/diplom@2x-80.jpg' data-caption="Caption 1")
					img(src='../img/doctors/AnnaPetrova/diplom/diplom.jpg' alt='')

			div
				a(class="uk-inline" href='../img/doctors/AnnaPetrova/diplom/diplom_2@2x-80.jpg' data-caption="Caption 2")
					img(src='../img/doctors/AnnaPetrova/diplom/diplom_2.jpg' alt='')
			div
				a(class="uk-inline" href='../img/doctors/AnnaPetrova/diplom/diplom_3@2x-80.jpg' data-caption="Caption 3")
					img(src='../img/doctors/AnnaPetrova/diplom/diplom_3.jpg' alt='')
			div
				a(class="uk-inline" href='../img/doctors/AnnaPetrova/diplom/diplom_4@2x-80.jpg' data-caption="Caption 4")
					img(src='../img/doctors/AnnaPetrova/diplom/diplom_4.jpg' alt='')
			div
				a(class="uk-inline" href='../img/doctors/AnnaPetrova/diplom/diplom_5@2x-80.jpg' data-caption="Caption 5")
					img(src='../img/doctors/AnnaPetrova/diplom/diplom_5.jpg' alt='')







