section.uk-section.mz-bcg-light.uk-section-small
	div.uk-container
		h2.mz-h2.uk-text-center.uk-padding Наши преимущества

		div(class='uk-text-center uk-grid uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-small uk-grid-medium@m' uk-grid uk-height-match='target: > div > div > span')

			div(class='')
				div.mz-accent-clr.uk-margin-small-bottom: span(uk-icon='icon: advantages-comfort')
				div.uk-padding-small
					p.mz-text-mlead-bold Комфортные процедуры 
					p Без боли и неприятных ощущений

			div(class='')
				div.mz-accent-clr.uk-margin-small-bottom: span(uk-icon='icon: advantages-sterility')
				div.uk-padding-small
					p.mz-text-mlead-bold Абсолютная стерильность и безопасность процедур
					p Абсолютно стерильные насадки, процедура не травмиру ющая — риск инфицирования клиента отсутствует

			div(class='')
				div.mz-accent-clr.uk-margin-small-bottom: span(uk-icon='icon: advantages-qualification')
				div.uk-padding-small
					p.mz-text-mlead-bold Высочайшая квалификация специалистов
					p Все наши мастера имеют специальное образование и виртуозно владеют методиками обработки стоп и ногтей

			div(class='')
				div.mz-accent-clr.uk-margin-small-bottom: span(uk-icon='icon: advantages-complex')
				div.uk-padding-small
					p.mz-text-mlead-bold Комплексный подход в решении проблем
					p Мы проводим весь необходимый комплекс процедур для устранения проблемы

			div(class='')
				div.mz-accent-clr.uk-margin-small-bottom: span(uk-icon='icon: advantages-cosmetics')
				div.uk-padding-small
					p.mz-text-mlead-bold Профессиональная космоцевтика
					p Мы используем только зарекомендовавшую себя косметическую продукцию

			div(class='')
				div.mz-accent-clr.uk-margin-small-bottom: span(uk-icon='icon: advantages-individual')
				div.uk-padding-small
					p.mz-text-mlead-bold Индивидуальный подход 
					p Наши специалисты индивидуально подбирают методику в соответствии с пожеланиями клиента
			div(class='')
				div.mz-accent-clr.uk-margin-small-bottom: span(uk-icon='icon: advantages-location')
				div.uk-padding-small
					p.mz-text-mlead-bold Удобство расположения и комфорт 
					p Кабинет расположен в самом центре города, олицетворяющем красоту и комфорт

			div(class='')
				div.mz-accent-clr.uk-margin-small-bottom: span(uk-icon='icon: advantages-universal')
				div.uk-padding-small
					p.mz-text-mlead-bold Решаем любые проблемы, работаем со всеми категориями пациентов 
					p У нас комфортно всем пациентам любого пола, вероисповедания и возраста от 3+


