section
	div.uk-container.uk-container-large
		div(class='uk-position-relative' tabindex='-1' uk-slideshow='animation: pull; autoplay: false; autoplay-interval: 6000; pause-on-hover: true; min-height: 300; max-height: 700')
			ul(class='uk-slideshow-items')
				li
					img(src='../img/banners/banner-1.jpg' alt='' uk-cover )
					div(class='uk-position-small uk-position-center mz-padding-left' style='')
						p(class='uk-width-1-1 uk-width-1-2@s uk-width-1-2@m  mz-h1 mz-main-clr') Здоровье Ваших ног - в руках надежных специалистов! 
						div
							a(class='mz-text-title mz-button-act' href='#modalexpl' uk-toggle) Записаться
								
							svg(class='uk-margin-medium-left mz-h-girl' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 93.43 107.87')
								use(xlink:href='#my-icon', x='0', y='0')



				li
					img(src='../img/banners/banner-2.jpg' alt='' uk-cover)
				li
					img(src='../img/banners/banner-3.jpg' alt='' uk-cover)


			a(class='uk-position-center-left uk-position-small uk-visible@s' href='#' uk-slidenav-previous uk-slideshow-item='previous')
			a(class='uk-position-center-right uk-position-small uk-visible@s' href='#' uk-slidenav-next uk-slideshow-item='next')

	div.uk-container.uk-container-small.mz-bcg-dark-pattern.uk-padding-large.uk-position-relative.uk-light.mz-margin-negative-medium-top-l
		h2.mz-h2.uk-text-center О нас
		p.mz-text Аппаратный педикюр является абсолютно безопасной процедурой, исключающей риск заражения грибком и не вызывающей неприятных ощущений. При данной методике используют вместо ванночек химические размягчители, которые защищают от любых инфекций. С помощью сменных аппаратных насадок (одноразовых или стерилизованных) кожа на ножках обрабатывается мягко и деликатно даже в труднодоступных местах, что особенно важно для проблемных ног.

		p.mz-text Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью решаются такие проблемы, как гиперкератоз (чрезмерное утолщение рогового слоя эпидермиса), вросший ноготь, гипергидроз (повышенная потливость стоп), микоз (грибковое заболевание), подошвенные бородавки, твердые мозоли и многие другие. Аппаратный методика показана для больных диабетом (при снижении болевой и температурной чувствительности, характерной для этой болезни, можно пораниться, делая классический маникюр).

		p.mz-text Специалисты, выполняющие аппаратный педикюр, могут не только провести тщательную обработку стоп и ногтей, диагностировать заболевания даже на ранних стадиях, но и рекомендовать способы домашнего ухода.