section.uk-section.uk-section-small
	div.uk-container
		ul(class='uk-breadcrumb')
			li
				a(href='') Главная
			li
				a(href='') Услуги
			li(class="uk-disabled")
				a() Раздел
			li
				span Аппаратный педикюр

section.uk-section.uk-section-small
	div.uk-container
		h2.mz-h2.uk-text-center.uk-margin-medium-bottom#doctors Наши специалисты

		div(class='uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l' uk-grid)
			div
				div(class='uk-card uk-card-default uk-flex uk-flex-column uk-flex-between')
					div
						div(class='uk-card-media-top')
							img(src='../img/doctors/doctor@2x-80.jpg')
						div(class='uk-card-body')
							p(class='uk-text-left') 
								a(class='mz-text-mlead-bold mz-common-clr' href='#') Яковлева Марина Степановна
							hr(class='mz-hr')
							p Врач - Аппаратный педикюр – процедура не только гигиеническая
					div(class='uk-card-footer') Стаж работы: 19 лет
			div
				div(class='uk-card uk-card-default uk-flex uk-flex-column uk-flex-between')
					div
						div(class='uk-card-media-top')
							img(src='../img/doctors/doctor@2x-80.jpg')
						div(class='uk-card-body')
							p(class='mz-text-mlead-bold') 
								a(class='mz-text-mlead-bold mz-common-clr' href='#') Яковлева Марина Степановна
							hr(class='mz-hr')
							p Врач - Аппаратный педикюр – процедура не только гигиеническая
					div(class='uk-card-footer') Стаж работы: 19 лет
			div
				div(class='uk-card uk-card-default uk-flex uk-flex-column uk-flex-between')
					div
						div(class='uk-card-media-top')
							img(src='../img/doctors/doctor@2x-80.jpg')
						div(class='uk-card-body')
							p(class='mz-text-mlead-bold') 
								a(class='mz-text-mlead-bold mz-common-clr' href='#') Яковлева Марина Степановна
							hr(class='mz-hr')
							p Врач - Аппаратный педикюр – процедура не только гигиеническая
					div(class='uk-card-footer') Стаж работы: 19 лет
			div
				div(class='uk-card uk-card-default uk-flex uk-flex-column uk-flex-between')
					div
						div(class='uk-card-media-top')
							img(src='../img/doctors/doctor@2x-80.jpg')
						div(class='uk-card-body')
							p(class='mz-text-mlead-bold') 
								a(class='mz-text-mlead-bold mz-common-clr' href='#') Яковлева Марина Степановна
							hr(class='mz-hr')
							p Врач - Аппаратный педикюр – процедура не только гигиеническая
					div(class='uk-card-footer') Стаж работы: 19 лет
			div
				div(class='uk-card uk-card-default uk-flex uk-flex-column uk-flex-between')
					div
						div(class='uk-card-media-top')
							img(src='../img/doctors/doctor@2x-80.jpg')
						div(class='uk-card-body')
							p(class='mz-text-mlead-bold') Яковлева Марина Степановна
							hr(class='mz-hr')
							p Врач - Аппаратный педикюр – процедура не только гигиеническая
					div(class='uk-card-footer') Стаж работы: 19 лет
			div
				div(class='uk-card uk-card-default uk-flex uk-flex-column uk-flex-between')
					div
						div(class='uk-card-media-top')
							img(src='../img/doctors/doctor@2x-80.jpg')
						div(class='uk-card-body')
							p(class='mz-text-mlead-bold') 
								a(class='mz-text-mlead-bold mz-common-clr' href='#') Яковлева Марина Степановна
							hr(class='mz-hr')
							p Врач - Аппаратный педикюр – процедура не только гигиеническая
					div(class='uk-card-footer') Стаж работы: 19 лет