section.uk-section.uk-section-small
	div.uk-container
		ul(class='uk-breadcrumb')
			li
				a(href='') Главная
			li
				a(href='') Доктора			
			li
				span Яковлева Марина Степановна

section.uk-section.mz-bcg-light-pattern
	div.uk-container
		div(class='uk-grid-collapse mz-bcg-white uk-grid-match uk-flex uk-flex-center' uk-grid)
			div(class='uk-width-1-1 uk-width-2-3@m')
				div(class="uk-card uk-grid-collapse uk-child-width-1-2@s" uk-grid)
					div(class="uk-card-media-left")
						img(class='' src="../img/doctors/doctor-card-2x.jpg" alt="" )
						//- canvas(width="600" height="400")
					div
						div(class="uk-card-body")
							p(class='uk-text-left') 
								a(class='mz-text-mlead-bold mz-common-clr' href='#') Яковлева Марина Степановна
							hr(class='mz-hr')
							p Врач - Аппаратный педикюр – процедура не только гигиеническая
							p Квалификационная категория
							p Стаж работы: 19 лет
							p Аппаратный методика показана для больных диабетом (при снижении болевой и температурной чувствительности, характерной для этой болезни, можно пораниться, делая классический маникюр).

			
			div(class='uk-width-1-1 uk-width-1-3@m')
				div(class='uk-flex uk-flex-column uk-flex-center uk-flex-middle')
					
					svg(class='uk-margin-medium-bottom mz-h-girl' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 93.43 107.87')
								use(xlink:href='#my-icon', x='0', y='0')

					a(class='mz-text-title mz-button-act' href='#modalexpl' uk-toggle) Записаться	

					p(class='uk-text-center mz-second-clr uk-width-1-1 uk-margin-auto uk-width-1-2@m') Первичный приём 1500 руб.
					p(class='uk-text-center mz-second-clr uk-width-1-1 uk-margin-auto uk-width-1-2@m') Запишитесь на прием к доктору в удобное для вас время.

section.uk-section.uk-section-small
	div.uk-container
		h2.mz-h2.uk-text-center.uk-margin-medium-bottom#diploms Дипломы
		div(class='uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-child-width-1-5@l uk-grid-medium' uk-grid uk-lightbox="animation: slide")
			div
				a(class="uk-inline" href='../img/doctors/AnnaPetrova/diplom/diplom@2x-80.jpg' data-caption="Caption 1")
					img(src='../img/doctors/AnnaPetrova/diplom/diplom.jpg' alt='')

			div
				a(class="uk-inline" href='../img/doctors/AnnaPetrova/diplom/diplom_2@2x-80.jpg' data-caption="Caption 2")
					img(src='../img/doctors/AnnaPetrova/diplom/diplom_2.jpg' alt='')
			div
				a(class="uk-inline" href='../img/doctors/AnnaPetrova/diplom/diplom_3@2x-80.jpg' data-caption="Caption 3")
					img(src='../img/doctors/AnnaPetrova/diplom/diplom_3.jpg' alt='')
			div
				a(class="uk-inline" href='../img/doctors/AnnaPetrova/diplom/diplom_4@2x-80.jpg' data-caption="Caption 4")
					img(src='../img/doctors/AnnaPetrova/diplom/diplom_4.jpg' alt='')
			div
				a(class="uk-inline" href='../img/doctors/AnnaPetrova/diplom/diplom_5@2x-80.jpg' data-caption="Caption 5")
					img(src='../img/doctors/AnnaPetrova/diplom/diplom_5.jpg' alt='')

section.uk-section.uk-section-small
	div.uk-container
		h2.mz-h2.uk-text-center.uk-padding Отзывы о докторе 


		div(class='uk-slider' uk-slider)
			div(class='uk-position-relative' tabindex='-1')
				div(class='uk-slider-container')
					ul(class='uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-grid uk-grid-match' uk-margin)
						li(class='')
							div(class='mz-border-rounded-medium mz-bcg-light-gray')
								div(class='uk-padding')
									div(class='uk-padding uk-padding-remove-top')
										p(class='uk-margin-remove mz-text-mslead-bold mz-main-clr') Иванова Галина
										p(class='uk-margin-remove') 12.04.2019
									div(class='uk-position-relative uk-margin-bottom')
										span(class='uk-position-top-left mz-main-clr' uk-icon='icon: chevron-double-left; ratio: 2')
										span(class='uk-position-bottom-right mz-main-clr' uk-icon='icon: chevron-double-right; ratio: 2')
										p(class='uk-padding uk-margin-remove') Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике. Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике.
						li(class='')
							div(class='mz-border-rounded-medium mz-bcg-light-gray')
								div(class='uk-padding')
									div(class='uk-padding uk-padding-remove-top')
										p(class='uk-margin-remove mz-text-mslead-bold mz-main-clr') Иванова Галина
										p(class='uk-margin-remove') 12.04.2019
									div(class='uk-position-relative uk-margin-bottom')
										span(class='uk-position-top-left mz-main-clr' uk-icon='icon: chevron-double-left; ratio: 2')
										span(class='uk-position-bottom-right mz-main-clr' uk-icon='icon: chevron-double-right; ratio: 2')
										p(class='uk-padding uk-margin-remove') Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике. Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике.
						li(class='')
							div(class='mz-border-rounded-medium mz-bcg-light-gray')
								div(class='uk-padding')
									div(class='uk-padding uk-padding-remove-top')
										p(class='uk-margin-remove mz-text-mslead-bold mz-main-clr') Иванова Галина
										p(class='uk-margin-remove') 12.04.2019
									div(class='uk-position-relative uk-margin-bottom')
										span(class='uk-position-top-left mz-main-clr' uk-icon='icon: chevron-double-left; ratio: 2')
										span(class='uk-position-bottom-right mz-main-clr' uk-icon='icon: chevron-double-right; ratio: 2')
										p(class='uk-padding uk-margin-remove') Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике. Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике.

						



				div(class='uk-visible@s uk-hidden@m')
					a(class='uk-position-center-left uk-position-medium uk-icon uk-slidenav-previous uk-slidenav' href='#' uk-slidenav-previous uk-slider-item='previous')
					a(class='uk-position-center-right uk-position-medium uk-icon uk-slidenav-next uk-slidenav' href='#' uk-slidenav-next uk-slider-item='next')

				div(class='uk-visible@m')
					a(class='uk-position-center-left-out uk-position-small uk-icon uk-slidenav-previous uk-slidenav' href='#' uk-slidenav-previous uk-slider-item='previous')
					a(class='uk-position-center-right-out uk-position-small uk-icon uk-slidenav-next uk-slidenav' href='#' uk-slidenav-next uk-slider-item='next')


section.uk-section.uk-padding-remove-vertical
	div.uk-container
		div(class='uk-grid-small uk-grid-match uk-child-auto uk-flex uk-flex-center' uk-grid uk-lightbox="animation: slide")
			div
				a(class="uk-inline uk-position-relative" href='https://www.youtube.com/watch?v=MaRpg303JWU' data-caption="YouTube")
					span(class='uk-position-center' uk-icon='icon: youtube; ratio: 3' style='color: red')
					img(src='../img/doctors/AnnaPetrova/video/work_1.jpg' alt='')
			div
				a(class="uk-inline uk-position-relative" href='https://www.youtube.com/watch?v=MaRpg303JWU' data-caption="YouTube")
					span(class='uk-position-center' uk-icon='icon: youtube; ratio: 3' style='color: red')
					img(src='../img/doctors/AnnaPetrova/video/work_2.jpg' alt='')
			div
				a(class="uk-inline uk-position-relative" href='https://www.youtube.com/watch?v=MaRpg303JWU' data-caption="YouTube")
					span(class='uk-position-center' uk-icon='icon: youtube; ratio: 3' style='color: red')
					img(src='../img/doctors/AnnaPetrova/video/work_3.jpg' alt='')

section.uk-section.uk-padding-remove-vertical
	div.uk-container.uk-padding-large
		h2.mz-h2.uk-text-center.uk-margin-medium-bottom Работы доктора
		div(class='uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-match uk-grid-medium' uk-grid='')
			div
				div(class='uk-card mz-card uk-card-default uk-card-hover')
					div(class='uk-card-media-top')
						img(class='mz-border-rounded-medium-top' src='../img/services/staps@2x-80.jpg')
					div(class="uk-card-header")
						a(class="uk-card-title") Медицинский педикюр

					div(class="uk-card-body")
						p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью
					p(class='uk-text-center mz-text-mlead-bold') от 1500 ₽

			div
				div(class='uk-card mz-card uk-card-default uk-card-hover')
					div(class='uk-card-media-top')
						img(class='mz-border-rounded-medium-top' src='../img/services/staps@2x-80.jpg')
					div(class="uk-card-header")
						a(class="uk-card-title mz-card-header") Медицинский педикюр

					div(class="uk-card-body")
						p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью
					p(class='uk-text-center mz-text-mlead-bold') от 1500 ₽

			div
				div(class='uk-card mz-card uk-card-default uk-card-hover')
					div(class='uk-card-media-top')
						img(class='mz-border-rounded-medium-top' src='../img/services/staps@2x-80.jpg')
					div(class="uk-card-header")
						a(class="uk-card-title mz-card-header") Медицинский педикюр

					div(class="uk-card-body")
						p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью
					p(class='uk-text-center mz-text-mlead-bold') от 1500 ₽
			div
				div(class='uk-card mz-card uk-card-default uk-card-hover')
					div(class='uk-card-media-top')
						img(class='mz-border-rounded-medium-top' src='../img/services/staps@2x-80.jpg')
					div(class="uk-card-header")
						a(class="uk-card-title mz-card-header") Медицинский педикюр

					div(class="uk-card-body")
						p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью
					p(class='uk-text-center mz-text-mlead-bold') от 1500 ₽

//- До и после
section.uk-section
	div.uk-container
		h2.mz-h2.uk-text-center.uk-padding#foto Работы доктора


		div(class='uk-slider' uk-slider)
			div(class='uk-position-relative uk-flex uk-flex-wrap uk-flex-center')
				div(class='uk-slider-container uk-width-1-1 uk-width-5-6@m')
					ul(class='uk-width-1-1 uk-slider-items')
						li(class='uk-width-1-1')
							div(class='mz-bcg uk-padding uk-panel')
								div(class='uk-grid' uk-grid)
									div(class='uk-width-1-1 uk-width-2-3@m')
										div(class='uk-width-1-1 mz-bcg-light-pattern')
											div(class='image-compare')
												img(src="../img/comparison/comparison__1.jpg" alt="")
												img(src="../img/comparison/comparison__2.jpg" alt="")
									div(class='uk-width-1-1 uk-width-1-3@m')
										p(class='mz-text-title-bold mz-accent-clr') Заголовок процедуры до и после

										p Обработка стопы Сеанс работы 15 минут Какие инструменты использовал

										p 
											| Врач 
											span(class='mz-text-slead-bold') Яковлева Марина Степановна
						li(class='uk-width-1-1')
							div(class='mz-bcg uk-padding uk-panel')
								div(class='uk-grid' uk-grid)
									div(class='uk-width-1-1 uk-width-2-3@m')
										div(class='uk-width-1-1 mz-bcg-light-pattern')
											div(class='image-compare')
												img(src="../img/comparison/comparison__3.jpg" alt="")
												img(src="../img/comparison/comparison__3-1.jpg" alt="")
									div(class='uk-width-1-1 uk-width-1-3@m')
										p(class='mz-text-title-bold mz-accent-clr') Заголовок процедуры до и после

										p Обработка стопы Сеанс работы 15 минут Какие инструменты использовал

										p 
											| Врач 
											span(class='mz-text-slead-bold') Яковлева Марина Степановна
									
						
				div(class='uk-visible@s uk-hidden@l uk-light')
					a(class='uk-position-center-left uk-position-medium uk-icon uk-slidenav-previous uk-slidenav' href='#' uk-slidenav-previous uk-slider-item='previous')
					a(class='uk-position-center-right uk-position-medium uk-icon uk-slidenav-next uk-slidenav' href='#' uk-slidenav-next uk-slider-item='next')

				div(class='uk-visible@l')
					a(class='uk-position-center-left-out uk-position-small uk-icon uk-slidenav-previous uk-slidenav' href='#' uk-slidenav-previous uk-slider-item='previous')
					a(class='uk-position-center-right-out uk-position-small uk-icon uk-slidenav-next uk-slidenav' href='#' uk-slidenav-next uk-slider-item='next')