section.uk-section.uk-section-small
	div.uk-container
		ul(class='uk-breadcrumb')
			li
				a(href='') Главная
			li
				a(href='') Услуги
			li(class="uk-disabled")
				a() Раздел
			li
				span Аппаратный педикюр


section.uk-section.uk-padding-remove-vertical
	div.uk-container.uk-container-small
		div(class="uk-grid uk-child-width-auto uk-grid-match" uk-grid)
			div
				a(class="mz-button uk-border-rounded" href='#apparat-pedikur' uk-scroll) Аппаратный педикюр
			div
				a(class="mz-button uk-border-rounded" href='#medicinskii-pedikur' uk-scroll) Медицинский педикюр
			div
				a(class="mz-button uk-border-rounded" href='#mujskoi-pedikur' uk-scroll) Мужской педикюр
 

//- Прайс лист
section.uk-section.uk-padding-remove-vertical
	div.uk-container.uk-padding-large
		h2.mz-h2.uk-text-center.uk-margin-medium-bottom.mz-scroll#apparat-pedikur Аппаратный педикюр
		div(class='uk-width-1-1 uk-width-2-3@l uk-margin-auto')
			p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью решаются такие проблемы, как гиперкератоз (чрезмерное утолщение рогового слоя эпидермиса), вросший ноготь, гипергидроз (повышенная потливость стоп.

			table(class='mz-table')
				thead
					tr
						th Название
						th Количество посещений
						th 
							| Стоимость 
							span(class='uk-hide@s') посещения
				tbody
					tr
						td Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс
						td 1
						td 750 ₽

					tr
						td Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс
						td 1
						td 750 ₽

					tr
						td Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс
						td 1
						td 750 ₽

		h2.mz-h2.uk-text-center.uk-margin-medium-bottom#medicinskii-pedikur Медицинский педикюр
		div(class='uk-width-1-1 uk-width-2-3@l uk-margin-auto')
			p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью решаются такие проблемы, как гиперкератоз (чрезмерное утолщение рогового слоя эпидермиса), вросший ноготь, гипергидроз (повышенная потливость стоп.

			table(class='mz-table')
				thead
					tr
						th Название
						th Количество посещений
						th 
							| Стоимость 
							span(class='uk-hide@s') посещения
				tbody
					tr
						td Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс
						td 1
						td 750 ₽

					tr
						td Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс
						td 1
						td 750 ₽

					tr
						td Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс
						td 1
						td 750 ₽


		h2.mz-h2.uk-text-center.uk-margin-medium-bottom#mujskoi-pedikur Мужской педикюр
		div(class='uk-width-1-1 uk-width-2-3@l uk-margin-auto')
			p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью решаются такие проблемы, как гиперкератоз (чрезмерное утолщение рогового слоя эпидермиса), вросший ноготь, гипергидроз (повышенная потливость стоп.

			table(class='mz-table')
				thead
					tr
						th Название
						th Количество посещений
						th 
							| Стоимость 
							span(class='uk-hide@s') посещения
				tbody
					tr
						td Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс
						td 1
						td 750 ₽

					tr
						td Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс
						td 1
						td 750 ₽

					tr
						td Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс
						td 1
						td 750 ₽


