section.uk-section
	div.uk-container
		h2.mz-h2.uk-text-center.uk-padding Какие проблемы мы решаем?
			svg(class='uk-margin-medium-left' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 93.43 107.87', width='74')
				use(xlink:href='#my-icon', x='0', y='0')


		div(class='uk-slider' uk-slider)
			div(class='uk-position-relative uk-flex uk-flex-wrap uk-flex-center')
				div(class='uk-slider-container uk-light uk-width-1-1 uk-width-5-6@m')
					ul(class='uk-width-1-1 uk-slider-items')
						li(class='uk-width-1-1')
							div(class='mz-bcg-accent uk-padding uk-panel')
								div(class='uk-grid' uk-grid)
									div(class='uk-margin-large-right uk-width-1-1 uk-width-auto@m uk-text-center')
										h3(class='mz-h3 uk-text-uppercase') Мозоли
										img(class='uk-border-circle' src='../img/problems/problems.jpg')
									div(class='uk-width-1-1 uk-width-expand@m uk-text-left')
										
										p(class='uk-padding uk-position-relative uk-padding-remove-vertical uk-padding-remove-right') 
											span(class='uk-position-top-left' uk-icon='icon: arrow-right')
											| Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google. 

										p(class='uk-padding uk-position-relative uk-padding-remove-vertical uk-padding-remove-right') 
											span(class='uk-position-top-left' uk-icon='icon: arrow-right')
											| Если умеете делать сайты, справитесь и со страницей с отзывами. 

										p(class='uk-padding uk-position-relative uk-padding-remove-vertical uk-padding-remove-right') 
											span(class='uk-position-top-left' uk-icon='icon: arrow-right')
											| Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google. 

										p(class='uk-padding uk-position-relative uk-padding-remove-vertical uk-padding-remove-right') 
											span(class='uk-position-top-left' uk-icon='icon: arrow-right')
											| Если умеете делать сайты, справитесь и со страницей с отзывами. 

										p(class='uk-padding uk-position-relative uk-padding-remove-vertical uk-padding-remove-right') 
											span(class='uk-position-top-left' uk-icon='icon: arrow-right')
											| Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google. 

										p(class='uk-padding uk-position-relative uk-padding-remove-vertical uk-padding-remove-right') 
											span(class='uk-position-top-left' uk-icon='icon: arrow-right')
											| Если умеете делать сайты, справитесь и со страницей с отзывами. 
						li(class='uk-width-1-1')
							div(class='mz-bcg-accent uk-padding uk-panel')
								div(class='uk-grid' uk-grid)
									div(class='uk-margin-large-right uk-width-1-1 uk-width-auto@m uk-text-center')
										h3(class='mz-h3 uk-text-uppercase') Мозоли
										img(class='uk-border-circle' src='../img/problems/problems.jpg')
									div(class='uk-width-1-1 uk-width-expand@m uk-text-left')
										
										p(class='uk-padding uk-position-relative uk-padding-remove-vertical uk-padding-remove-right') 
											span(class='uk-position-top-left' uk-icon='icon: arrow-right')
											| Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google. 

										p(class='uk-padding uk-position-relative uk-padding-remove-vertical uk-padding-remove-right') 
											span(class='uk-position-top-left' uk-icon='icon: arrow-right')
											| Если умеете делать сайты, справитесь и со страницей с отзывами. 

										p(class='uk-padding uk-position-relative uk-padding-remove-vertical uk-padding-remove-right') 
											span(class='uk-position-top-left' uk-icon='icon: arrow-right')
											| Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google. 

										p(class='uk-padding uk-position-relative uk-padding-remove-vertical uk-padding-remove-right') 
											span(class='uk-position-top-left' uk-icon='icon: arrow-right')
											| Если умеете делать сайты, справитесь и со страницей с отзывами. 

										p(class='uk-padding uk-position-relative uk-padding-remove-vertical uk-padding-remove-right') 
											span(class='uk-position-top-left' uk-icon='icon: arrow-right')
											| Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google. 

										p(class='uk-padding uk-position-relative uk-padding-remove-vertical uk-padding-remove-right') 
											span(class='uk-position-top-left' uk-icon='icon: arrow-right')
											| Если умеете делать сайты, справитесь и со страницей с отзывами. 
				div(class='uk-visible@s uk-hidden@l uk-light')
					a(class='uk-position-center-left uk-position-medium uk-icon uk-slidenav-previous uk-slidenav' href='#' uk-slidenav-previous uk-slider-item='previous')
					a(class='uk-position-center-right uk-position-medium uk-icon uk-slidenav-next uk-slidenav' href='#' uk-slidenav-next uk-slider-item='next')

				div(class='uk-visible@l')
					a(class='uk-position-center-left-out uk-position-small uk-icon uk-slidenav-previous uk-slidenav' href='#' uk-slidenav-previous uk-slider-item='previous')
					a(class='uk-position-center-right-out uk-position-small uk-icon uk-slidenav-next uk-slidenav' href='#' uk-slidenav-next uk-slider-item='next')