section.uk-section.uk-section-small
	div.uk-container
		h2.mz-h2.uk-text-center.uk-padding Отзывы о нас	


		div(class='uk-slider' uk-slider)
			div(class='uk-position-relative' tabindex='-1')
				div(class='uk-slider-container')
					ul(class='uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-grid uk-grid-match' uk-margin)
						li(class='')
							div(class='mz-border-rounded-medium mz-bcg-light-gray')
								div(class='uk-padding')
									div(class='uk-padding uk-padding-remove-top')
										p(class='uk-margin-remove mz-text-mslead-bold mz-main-clr') Иванова Галина
										p(class='uk-margin-remove') 12.04.2019
									div(class='uk-position-relative uk-margin-bottom')
										span(class='uk-position-top-left mz-main-clr' uk-icon='icon: chevron-double-left; ratio: 2')
										span(class='uk-position-bottom-right mz-main-clr' uk-icon='icon: chevron-double-right; ratio: 2')
										p(class='uk-padding uk-margin-remove') Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике. Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике.
						li(class='')
							div(class='mz-border-rounded-medium mz-bcg-light-gray')
								div(class='uk-padding')
									div(class='uk-padding uk-padding-remove-top')
										p(class='uk-margin-remove mz-text-mslead-bold mz-main-clr') Иванова Галина
										p(class='uk-margin-remove') 12.04.2019
									div(class='uk-position-relative uk-margin-bottom')
										span(class='uk-position-top-left mz-main-clr' uk-icon='icon: chevron-double-left; ratio: 2')
										span(class='uk-position-bottom-right mz-main-clr' uk-icon='icon: chevron-double-right; ratio: 2')
										p(class='uk-padding uk-margin-remove') Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике. Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике.
						li(class='')
							div(class='mz-border-rounded-medium mz-bcg-light-gray')
								div(class='uk-padding')
									div(class='uk-padding uk-padding-remove-top')
										p(class='uk-margin-remove mz-text-mslead-bold mz-main-clr') Иванова Галина
										p(class='uk-margin-remove') 12.04.2019
									div(class='uk-position-relative uk-margin-bottom')
										span(class='uk-position-top-left mz-main-clr' uk-icon='icon: chevron-double-left; ratio: 2')
										span(class='uk-position-bottom-right mz-main-clr' uk-icon='icon: chevron-double-right; ratio: 2')
										p(class='uk-padding uk-margin-remove') Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике. Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике.

						



				div(class='uk-visible@s uk-hidden@m')
					a(class='uk-position-center-left uk-position-medium uk-icon uk-slidenav-previous uk-slidenav' href='#' uk-slidenav-previous uk-slider-item='previous')
					a(class='uk-position-center-right uk-position-medium uk-icon uk-slidenav-next uk-slidenav' href='#' uk-slidenav-next uk-slider-item='next')

				div(class='uk-visible@m')
					a(class='uk-position-center-left-out uk-position-small uk-icon uk-slidenav-previous uk-slidenav' href='#' uk-slidenav-previous uk-slider-item='previous')
					a(class='uk-position-center-right-out uk-position-small uk-icon uk-slidenav-next uk-slidenav' href='#' uk-slidenav-next uk-slider-item='next')