//- Вопрос - ответ
section.uk-section
	div.uk-container
		h2.mz-h2.uk-text-center Вопросы - Ответы
		div(class='uk-column-1-1 uk-column-1-2@m')
				
				div
				
					p(class='mz-text-mlead-bold')
						span(class='mz-main-clr uk-margin-right' uk-icon='icon: mz-questions; ratio: 1')
						| Когда наступает эффект?
					hr(class='mz-hr')
					p Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике. Если умеете делать сайты, справитесь и со страницей с отзывами. 
				
				div
				
					p(class='mz-text-mlead-bold')
						span(class='mz-main-clr uk-margin-right' uk-icon='icon: mz-questions; ratio: 1')
						| Когда наступает эффект?
					hr(class='mz-hr')
					p Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике. Если умеете делать сайты, справитесь и со страницей с отзывами. Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике. Если умеете делать сайты, справитесь и со страницей с отзывами. сли умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике. Если умеете делать сайты, справитесь и со страницей с отзывами. Если умеете делать сайты, справитесь и со страницей с отзывами. сли умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике. Если умеете делать сайты, справитесь и со страницей с отзывами.
				
				div
				
					p(class='mz-text-mlead-bold')
						span(class='mz-main-clr uk-margin-right' uk-icon='icon: mz-questions; ratio: 1')
						| Когда наступает эффект?
					hr(class='mz-hr')
					p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью решаются такие проблемы, как гиперкератоз (чрезмерное утолщение рогового слоя эпидермиса), вросший ноготь, гипергидроз (повышенная потливость стоп), микоз (грибковое заболевание), подошвенные бородавки, твердые мозоли и многие другие. Аппаратный методика показана для больных диабетом (при снижении болевой и температурной чувствительности, характерной для этой болезни, можно пораниться, делая классический маникюр) Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью решаются такие проблемы, как гиперкератоз (чрезмерное утолщение рогового слоя эпидермиса), вросший ноготь, гипергидроз (повышенная потливость стоп), микоз (грибковое заболевание), подошвенные бородавки, твердые мозоли и многие другие. Аппаратный методика показана для больных диабетом (при снижении болевой и температурной чувствительности, характерной для этой болезни, можно пораниться, делая классический маникюр)

				div
				
					p(class='mz-text-mlead-bold')
						span(class='mz-main-clr uk-margin-right' uk-icon='icon: mz-questions; ratio: 1')
						| Когда наступает эффект?
					hr(class='mz-hr')
					p Если умеете делать сайты, справитесь и со страницей с отзывами. Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. Разберём ошибки в теории, а потом на практике. Если умеете делать сайты, справитесь и со страницей с отзывами. 

//- Форма обратной связи
section.uk-section.mz-bcg-accent.uk-padding-remove-vertical
	div.uk-container
		div(class='uk-flex uk-flex-between uk-flex-middle uk-grid-medium' uk-grid)
			div(class='uk-width-1-1 uk-width-auto@m')
				p(class='mz-h1 mz-white-clr uk-text-center') Позвоните сейчас
			div(class='uk-width-2-3 uk-width-auto@m uk-text-center')
				button(class="uk-button uk-border-pill uk-button-large mz-text-title" uk-toggle='target: #modalexpl') Записаться
			div(class='uk-width-1-3 uk-width-auto@m uk-text-center')
				svg(class='mz-h-girl' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 93.43 107.87')
					use(xlink:href='#my-icon', x='0', y='0')


//- Вас так же может заинтересовать
section.uk-section.uk-padding-remove-vertical
	div.uk-container.uk-padding-large
		h2.mz-h2.uk-text-center.uk-margin-medium-bottom Вас так же может заинтересовать
		div(class='uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match uk-grid-medium' uk-grid='')
			div
				div(class='uk-card mz-card uk-card-default uk-card-hover')
					div(class='uk-card-media-top')
						img(class='mz-border-rounded-medium-top' src='../img/services/staps@2x-80.jpg')
					div(class="uk-card-header")
						a(class="uk-card-title") Медицинский педикюр

					div(class="uk-card-body")
						p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью
					p(class='uk-text-center mz-text-mlead-bold') от 1500 ₽

			div
				div(class='uk-card mz-card uk-card-default uk-card-hover')
					div(class='uk-card-media-top')
						img(class='mz-border-rounded-medium-top' src='../img/services/staps@2x-80.jpg')
					div(class="uk-card-header")
						a(class="uk-card-title mz-card-header") Медицинский педикюр

					div(class="uk-card-body")
						p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью
					p(class='uk-text-center mz-text-mlead-bold') от 1500 ₽

			div
				div(class='uk-card mz-card uk-card-default uk-card-hover')
					div(class='uk-card-media-top')
						img(class='mz-border-rounded-medium-top' src='../img/services/staps@2x-80.jpg')
					div(class="uk-card-header")
						a(class="uk-card-title mz-card-header") Медицинский педикюр

					div(class="uk-card-body")
						p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью
					p(class='uk-text-center mz-text-mlead-bold') от 1500 ₽ 



			
			



