section.uk-section.uk-section-small
	div.uk-container
		ul(class='uk-breadcrumb')
			li
				a(href='') Главная
			li
				a(href='') Услуги
			li(class="uk-disabled")
				a() Раздел
			li
				span Аппаратный педикюр

section.uk-section.mz-bcg
	div.uk-container
		div(class='uk-grid uk-grid-medium uk-child-width-1-1 uk-child-width-1-2@s uk-grid-match' uk-grid)
			div(class='uk-hidden@s')
				div(class='uk-cover-container uk-height-small uk-child-width-1-1 mz-border-rounded-medium')
					img(class='' src='../img/services/servises_1_1.jpg' uk-cover)

			div
				h1.mz-h1.mz-accent-clr.uk-margin-medium-bottom Аппаратный педикюр
				div(class='uk-grid uk-child-width-auto uk-grid-match' uk-grid)
					div
						a(class='mz-button uk-border-rounded' href='#procedure' uk-scroll) Процедура
					div
						a(class='mz-button uk-border-rounded' href='#protivopokaz' uk-scroll) Противопоказания
					div
						a(class='mz-button uk-border-rounded' href='#result' uk-scroll) Результат
					div
						a(class='mz-button uk-border-rounded' href='#doctors' uk-scroll) Врачи
					div
						a(class='mz-button uk-border-rounded' href='#foto' uk-scroll) Фото
					div
						a(class='mz-button uk-border-rounded' href='#price' uk-scroll) Цены

				div(class='uk-margin-medium-top')
					p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью решаются такие проблемы, как гиперкератоз (чрезмерное утолщение рогового слоя эпидермиса), вросший ноготь, гипергидроз (повышенная потливость стоп), микоз (грибковое заболевание),
				div
					span(class='uk-margin-large-right mz-text-title-bold') от 500 ₽
					a(class="mz-bcg-accent uk-button uk-border-pill mz-white-clr" href="#modalexpl" uk-toggle) Записаться
					svg(class='uk-margin-medium-left' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 93.43 107.87', width='63')
								use(xlink:href='#my-icon', x='0', y='0')


			divdiv(class='uk-visible@s')
				div(class='uk-cover-container uk-height-1-1 uk-child-width-1-1 mz-border-rounded-medium')
					img(class='' src='../img/services/servises_1_1.jpg' uk-cover)

section.uk-section.uk-padding-remove-vertical
	div.uk-container.mz-bcg-main-color.uk-padding-small.uk-light.mz-border-rounded-medium-bottom
		div(class='uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@m  uk-child-width-1-6@m uk-grid-small' uk-grid)
			div.uk-text-center.uk-flex.uk-flex-middle.mz-text-slead-bold
				span(class='uk-margin-small-right' uk-icon='icon: clock; ratio: 2')
				| Время на процедуру 20 минут
			div.uk-text-center.uk-flex.uk-flex-middle.mz-text-slead-bold
				span(class='uk-margin-small-right'  uk-icon='icon: clock; ratio: 2')
				| Время на процедуру 20 минут
			div.uk-text-center.uk-flex.uk-flex-middle.mz-text-slead-bold
				span(class='uk-margin-small-right'  uk-icon='icon: clock; ratio: 2')
				| Время на процедуру 20 минут
			div.uk-text-center.uk-flex.uk-flex-middle.mz-text-slead-bold
				span(class='uk-margin-small-right'  uk-icon='icon: clock; ratio: 2')
				| Время на процедуру 20 минут

//- О процедуре
section.uk-section
	div.uk-container
		h2.mz-h2.uk-text-center#procedure Сделать процедуру аппаратный педикюр

		div(class='uk-width-1-1 uk-width-2-3@l uk-margin-auto')
			p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью решаются такие проблемы, как гиперкератоз (чрезмерное утолщение рогового слоя эпидермиса), вросший ноготь, гипергидроз (повышенная потливость стоп), микоз (грибковое заболевание), подошвенные бородавки, твердые мозоли и многие другие. Аппаратный методика показана для больных диабетом (при снижении болевой и температурной чувствительности, характерной для этой болезни, можно пораниться, делая классический маникюр).

			p С ее помощью решаются такие проблемы, как гиперкератоз (чрезмерное утолщение рогового слоя эпидермиса, но и лечебная. С ее помощью решаются такие проблемы, как гиперкератоз (чрезмерное утолщение рогового слоя эпидермиса), вросший ноготь, гипергидроз (повышенная потливость стоп), микоз (грибковое заболевание), подошвенные бородавки.


//- Форма обратной связи
section.uk-section.mz-bcg-light-pattern
	div.uk-container
		a(class='uk-margin-auto uk-height-medium uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-center uk-flex-middle uk-background-cover' data-src='../img/prev-video/preview-video.jpg' uk-img='' href="#modal-media-youtube" uk-toggle)
				span(class='' uk-icon='icon: youtube; ratio: 3' style='color: red')

	div(id="modal-media-youtube" class="uk-flex-top" uk-modal)
		div(class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical")
			button(class="uk-modal-close-outside" type="button" uk-close)
			iframe(src="https://www.youtube.com/embed/pAGfsO2DKRk" width="960" height="540" frameborder="0" uk-video uk-responsive)


//- Используемые препараты
section.uk-section
	div.uk-container
		h2.mz-h2.uk-text-center Используемые препараты
		div(class='uk-child-width-1-1 uk-child-width-1-2@m uk-flex uk-flex-wrap uk-flex-between uk-flex-middle uk-margin-medium-top' uk-grid)
			div
				img(src='../img/preparat/preparat.jpg')
			div
				p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью решаются такие проблемы, как гиперкератоз (чрезмерное утолщение рогового слоя эпидермиса), вросший ноготь, гипергидроз (повышенная потливость стоп), микоз (грибковое заболевание), подошвенные бородавки, твердые мозоли и многие другие. 

				p Аппаратный методика показана для больных диабетом (при снижении болевой и температурной чувствительности, характерной для этой болезни, можно пораниться, делая классический маникюр).

//- Форма обратной связи
section.uk-section.mz-bcg-accent.uk-padding-remove-vertical
	div.uk-container
		div(class='uk-flex uk-flex-between uk-flex-middle uk-grid-medium' uk-grid)
			div(class='uk-width-1-1 uk-width-auto@m')
				p(class='mz-h1 mz-white-clr uk-text-center') Позвоните сейчас
			div(class='uk-width-2-3 uk-width-auto@m uk-text-center')
				button(class="uk-button uk-border-pill uk-button-large mz-text-title" uk-toggle='target: #modalexpl') Записаться
			div(class='uk-width-1-3 uk-width-auto@m uk-text-center')
				svg(class='mz-h-girl' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 93.43 107.87')
					use(xlink:href='#my-icon', x='0', y='0')


//- Преимущества
section.uk-section.uk-padding-remove-vertical
	div.uk-container.mz-bcg.uk-padding-large
		h2.mz-h2.uk-text-center Наши преимущества
		div(class='uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m' uk-grid)
			
			div(class='uk-flex uk-flex-between uk-flex-middle')
				div(class='mz-adv-blc uk-position-relative uk-width-auto uk-margin-right')
					span(class='mz-text-adv mz-accent-clr uk-position-center') 1
				p(class='mz-text-mslead-bold uk-width-expand uk-margin-remove') Преимущества о которых мы вам рассказываем и показываем

			div(class='uk-flex uk-flex-between uk-flex-middle')
				div(class='mz-adv-blc uk-position-relative uk-width-auto uk-margin-right')
					span(class='mz-text-adv mz-accent-clr uk-position-center') 2
				p(class='mz-text-mslead-bold uk-width-expand uk-margin-remove') Преимущества о которых мы вам рассказываем и показываем

			div(class='uk-flex uk-flex-between uk-flex-middle')
				div(class='mz-adv-blc uk-position-relative uk-width-auto uk-margin-right')
					span(class='mz-text-adv mz-accent-clr uk-position-center') 3
				p(class='mz-text-mslead-bold uk-width-expand uk-margin-remove') Преимущества о которых мы вам рассказываем и показываем

			div(class='uk-flex uk-flex-between uk-flex-middle')
				div(class='mz-adv-blc uk-position-relative uk-width-auto uk-margin-right')
					span(class='mz-text-adv mz-accent-clr uk-position-center') 4
				p(class='mz-text-mslead-bold uk-width-expand uk-margin-remove') Преимущества о которых мы вам рассказываем и показываем

			div(class='uk-flex uk-flex-between uk-flex-middle')
				div(class='mz-adv-blc uk-position-relative uk-width-auto uk-margin-right')
					span(class='mz-text-adv mz-accent-clr uk-position-center') 5
				p(class='mz-text-mslead-bold uk-width-expand uk-margin-remove') Преимущества о которых мы вам рассказываем и показываем

			div(class='uk-flex uk-flex-between uk-flex-middle')
				div(class='mz-adv-blc uk-position-relative uk-width-auto uk-margin-right')
					span(class='mz-text-adv mz-accent-clr uk-position-center') 6
				p(class='mz-text-mslead-bold uk-width-expand uk-margin-remove') Преимущества о которых мы вам рассказываем и показываем



//- Прайс лист
section.uk-section.uk-padding-remove-vertical
	div.uk-container.uk-padding-large
		h2.mz-h2.uk-text-center#price Цены на аппаратный педикюр
		div(class='uk-width-1-1 uk-width-2-3@l uk-margin-auto')
			p Аппаратный педикюр – процедура не только гигиеническая, но и лечебная. С ее помощью решаются такие проблемы, как гиперкератоз (чрезмерное утолщение рогового слоя эпидермиса), вросший ноготь, гипергидроз (повышенная потливость стоп.

			table(class='mz-table')
				thead
					tr
						th Название
						th Количество посещений
						th 
							| Стоимость 
							span(class='uk-hide@s') посещения
				tbody
					tr
						td Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс
						td 1
						td 750 ₽

					tr
						td Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс
						td 1
						td 750 ₽

					tr
						td Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс
						td 1
						td 750 ₽


//- показания противопоказания
section.uk-section.uk-padding-remove-vertical
	div.uk-container.uk-padding-large#protivopokaz
		div(class='uk-width-1-1 uk-width-2-3@l uk-margin-auto')
			uk(class='mz-accordion' uk-accordion='duration: 1000')
				li(class='uk-open')
					a(class='uk-accordion-title uk-position-relative' href='') 
						| Показания
						span(class='uk-position-center-right uk-position-medium' uk-icon='icon: plus')
						span(class='uk-position-center-right uk-position-medium' uk-icon='icon: minus')
					div(class='uk-accordion-content uk-padding-small')
						p Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. 
						p Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. 
						p Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. 
						p Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. 
						p Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. 
				li
					a(class='uk-accordion-title uk-position-relative' href='') 
						| Противопоказания
						span(class='uk-position-center-right uk-position-medium' uk-icon='icon: plus')
						span(class='uk-position-center-right uk-position-medium' uk-icon='icon: minus')
					div(class='uk-accordion-content uk-padding-small')
						p Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. 
						p Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. 
						p Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. 
						p Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. 
						p Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. 
				li
					a(class='uk-accordion-title uk-position-relative' href='') 
						| Результат
						span(class='uk-position-center-right uk-position-medium' uk-icon='icon: plus')
						span(class='uk-position-center-right uk-position-medium' uk-icon='icon: minus')
					div(class='uk-accordion-content uk-padding-small')
						p Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. 
						p Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. 
						p Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. 
						p Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. 
						p Однако есть несколько распространённых ошибок, которые не дают таким разделам оказаться в топе Google и Яндекс. 


//- форма обратной связи
section.uk-section.mz-bcg-main-color.uk-padding-remove-vertical
	div.uk-container
		div(class='uk-flex uk-flex-between uk-flex-middle uk-grid-medium' uk-grid)
			div(class='uk-width-1-1 uk-width-auto@m')
				p(class='mz-h1 mz-white-clr uk-text-center') Позвоните сейчас
			div(class='uk-width-2-3 uk-width-auto@m uk-text-center')
				button(class="uk-button uk-border-pill uk-button-large mz-text-title" uk-toggle='target: #modalexpl') Записаться
			div(class='uk-width-1-3 uk-width-auto@m uk-text-center')
				svg(class='mz-h-girl' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 93.43 107.87')
					use(xlink:href='#my-icon', x='0', y='0')



//- До и после
section.uk-section
	div.uk-container
		h2.mz-h2.uk-text-center.uk-padding#foto До и после


		div(class='uk-slider' uk-slider)
			div(class='uk-position-relative uk-flex uk-flex-wrap uk-flex-center')
				div(class='uk-slider-container uk-width-1-1 uk-width-5-6@m')
					ul(class='uk-width-1-1 uk-slider-items')
						li(class='uk-width-1-1')
							div(class='mz-bcg uk-padding uk-panel')
								div(class='uk-grid' uk-grid)
									div(class='uk-width-1-1 uk-width-2-3@m')
										div(class='uk-width-1-1 mz-bcg-light-pattern')
											div(class='image-compare')
												img(src="../img/comparison/comparison__1.jpg" alt="")
												img(src="../img/comparison/comparison__2.jpg" alt="")
									div(class='uk-width-1-1 uk-width-1-3@m')
										p(class='mz-text-title-bold mz-accent-clr') Заголовок процедуры до и после

										p Обработка стопы Сеанс работы 15 минут Какие инструменты использовал

										p 
											| Врач 
											span(class='mz-text-slead-bold') Яковлева Марина Степановна
						li(class='uk-width-1-1')
							div(class='mz-bcg uk-padding uk-panel')
								div(class='uk-grid' uk-grid)
									div(class='uk-width-1-1 uk-width-2-3@m')
										div(class='uk-width-1-1 mz-bcg-light-pattern')
											div(class='image-compare')
												img(src="../img/comparison/comparison__3.jpg" alt="")
												img(src="../img/comparison/comparison__3-1.jpg" alt="")
									div(class='uk-width-1-1 uk-width-1-3@m')
										p(class='mz-text-title-bold mz-accent-clr') Заголовок процедуры до и после

										p Обработка стопы Сеанс работы 15 минут Какие инструменты использовал

										p 
											| Врач 
											span(class='mz-text-slead-bold') Яковлева Марина Степановна
									
						
				div(class='uk-visible@s uk-hidden@l uk-light')
					a(class='uk-position-center-left uk-position-medium uk-icon uk-slidenav-previous uk-slidenav' href='#' uk-slidenav-previous uk-slider-item='previous')
					a(class='uk-position-center-right uk-position-medium uk-icon uk-slidenav-next uk-slidenav' href='#' uk-slidenav-next uk-slider-item='next')

				div(class='uk-visible@l')
					a(class='uk-position-center-left-out uk-position-small uk-icon uk-slidenav-previous uk-slidenav' href='#' uk-slidenav-previous uk-slider-item='previous')
					a(class='uk-position-center-right-out uk-position-small uk-icon uk-slidenav-next uk-slidenav' href='#' uk-slidenav-next uk-slider-item='next')





