section.uk-section.uk-section-small
	div.uk-container
		h2.mz-h2.uk-text-center.uk-padding Наши услуги

		div(class='uk-text-center uk-grid uk-grid-match uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-small uk-grid-medium@m' uk-grid uk-height-match='target: > div > div')

			div
				img(class='uk-border-rounded' src='../img/services/servises_1.jpg')
				div.uk-padding Медицинский педикюр

			div
				img(class='uk-border-rounded' src='../img/services/servises_1.jpg')
				div.uk-padding Обработка ногтей и подошвы, пораженных грибком

			div
				img(class='uk-border-rounded' src='../img/services/servises_1.jpg')
				div.uk-padding Лечение пораженной ногтевой пластины (гиперкератоз)

			div
				img(class='uk-border-rounded' src='../img/services/servises_1.jpg')
				div.uk-padding Коррекция вросшего ногтя

			div
				img(class='uk-border-rounded' src='../img/services/servises_1.jpg')
				div.uk-padding Лечение натоптышей

			div
				img(class='uk-border-rounded' src='../img/services/servises_1.jpg')
				div.uk-padding Лечение  стержневой мозоли

			div
				img(class='uk-border-rounded' src='../img/services/servises_1.jpg')
				div.uk-padding Лечение трещин стоп

			div
				img(class='uk-border-rounded' src='../img/services/servises_1.jpg')
				div.uk-padding Протезирование ногтей

			div
				img(class='uk-border-rounded' src='../img/services/servises_1.jpg')
				div.uk-padding Медицинский маникюр у мужчин

			div
				img(class='uk-border-rounded' src='../img/services/servises_1.jpg')
				div.uk-padding Коррекция вросшего ногтя у ребенка

			div
				img(class='uk-border-rounded' src='../img/services/servises_1.jpg')
				div.uk-padding Массаж

			div
				img(class='uk-border-rounded' src='../img/services/servises_1.jpg')
				div.uk-padding Медицинский маникюр


