section.uk-section.mz-bcg-light-pattern.uk-section-small
	div.uk-container
		h2.mz-h2.uk-text-center.uk-padding#doctors Наши специалисты
		div(class='uk-slider' uk-slider)
			div(class='uk-position-relative' tabindex='-1')
				div(class='uk-slider-container')
					ul(class='uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-grid uk-grid-match' uk-margin)
						li(class='')
							div(class='uk-card uk-card-default uk-flex uk-flex-column uk-flex-between')
								div
									div(class='uk-card-media-top')
										img(src='../img/doctors/doctor@2x-80.jpg')
									div(class='uk-card-body')
										p(class='uk-text-left') 
											a(class='mz-text-mlead-bold mz-common-clr' href='#') Яковлева Марина Степановна
										hr(class='mz-hr')
										p Врач - Аппаратный педикюр 
								div(class='uk-card-footer') Стаж работы: 19 лет

						li(class='')
							div(class='uk-card uk-card-default uk-flex uk-flex-column uk-flex-between')
								div
									div(class='uk-card-media-top')
										img(src='../img/doctors/doctor@2x-80.jpg')
									div(class='uk-card-body')
										p(class='uk-text-left') 
											a(class='mz-text-mlead-bold mz-common-clr' href='#') Яковлева Марина Степановна
										hr(class='mz-hr')
										p Врач - Аппаратный педикюр – процедура не только гигиеническая
								div(class='uk-card-footer') Стаж работы: 19 лет

						li(class='')
							div(class='uk-card uk-card-default uk-flex uk-flex-column uk-flex-between')
								div
									div(class='uk-card-media-top')
										img(src='../img/doctors/doctor@2x-80.jpg')
									div(class='uk-card-body')
										p(class='uk-text-left') 
											a(class='mz-text-mlead-bold mz-common-clr' href='#') Яковлева Марина Степановна
										hr(class='mz-hr')
										p Врач - Аппаратный педикюр – процедура не только гигиеническая
								div(class='uk-card-footer') Стаж работы: 19 лет

						li(class='')
							div(class='uk-card uk-card-default uk-flex uk-flex-column uk-flex-between')
								div
									div(class='uk-card-media-top')
										img(src='../img/doctors/doctor@2x-80.jpg')
									div(class='uk-card-body')
										p(class='uk-text-left') 
											a(class='mz-text-mlead-bold mz-common-clr' href='#') Яковлева Марина Степановна
										hr(class='mz-hr')
										p Врач - Аппаратный педикюр – процедура не только гигиеническая
								div(class='uk-card-footer') Стаж работы: 19 лет

						li(class='')
							div(class='uk-card uk-card-default uk-flex uk-flex-column uk-flex-between')
								div
									div(class='uk-card-media-top')
										img(src='../img/doctors/doctor@2x-80.jpg')
									div(class='uk-card-body')
										p(class='uk-text-left') 
											a(class='mz-text-mlead-bold mz-common-clr' href='#') Яковлева Марина Степановна
										hr(class='mz-hr')
										p Врач - Аппаратный педикюр – процедура не только гигиеническая
								div(class='uk-card-footer') Стаж работы: 19 лет

						



				div(class='uk-visible@s uk-hidden@l')
					a(class='uk-position-center-left uk-position-medium uk-icon uk-slidenav-previous uk-slidenav' href='#' uk-slidenav-previous uk-slider-item='previous')
					a(class='uk-position-center-right uk-position-medium uk-icon uk-slidenav-next uk-slidenav' href='#' uk-slidenav-next uk-slider-item='next')

				div(class='uk-visible@l')
					a(class='uk-position-center-left-out uk-position-small uk-icon uk-slidenav-previous uk-slidenav' href='#' uk-slidenav-previous uk-slider-item='previous')
					a(class='uk-position-center-right-out uk-position-small uk-icon uk-slidenav-next uk-slidenav' href='#' uk-slidenav-next uk-slider-item='next')