<template lang="pug">
	.msd-form(v-if="pageLoaded")
		form-wrap(ref="form")
			form-field(type="text", v-model="login", :options="fields.login")
			form-field(type="password", v-model="password", :options="fields.password")
			form-field(type="text", v-model="fio", :options="fields.fio")
			form-field(type="text", v-model="email", :options="fields.email")

		div
			btn-case
				btn(blue, @click="submit", :loading="btnLoad") {{ managerId ? 'Сохранить данные' : 'Добавить администратора'}}
				btn(red, @click="deletePopup = true", v-if="managerId && !isSuper") Удалить карточку администратора

		popup(v-model="deletePopup", @onClose="deletePopup = false").popup_info
			.popup__title Удалить запись.
			.popup__text
				p Вы уверены что хотите удалить "{{ login }}"?
				p После удаления, восстановить будет невозможно.
			.popup__footer
				btn-case
					btn(red @click="deleteConfirm()", :loading="deleteBtnLoading") Удалить
					btn(blue @click="deletePopup = false") Отменить

</template>

<script>

	import {mapState, mapGetters} from "vuex";

	export default {
		props: {
			managerId: {
				type: [String, Number],
				default: null
			},
		},

		data () {
			return {

				deleteBtnLoading: false,
				deletePopup: false,

				btnLoad: false,

				pageLoaded: false,

				fields: {
					login: {
						placeholder: 'Логин',
						required: true,
						max: 200,
						rules: {
							empty: 'Укажите логин',
						},

					},
					password: {
						placeholder: 'Пароль',
						required: true,
						rules: {
							empty: 'Задайте пароль',
						},
					},
					fio: {
						placeholder: 'Фамилия Имя Отчество',
						required: true,
						rules: {
							empty: 'Задайте ФИО',
						},
					},
					email: {
						placeholder: 'Email',
						rules: {
							empty: 'Заполните поле',
							pattern: [
								{
									regex: /^[-._a-z0-9а-я]+@(?:[a-z0-9а-я][-a-z0-9а-я]+\.)+[a-zа-я]{2,6}$/i,
									message: 'Проверьте корректность E-mail'
								}
							]
						},
					},
				}
			}
		},

		computed: {
			...mapGetters({
				isSuper: 'base/isSuper'
			}),

			...mapState({
				manager: state => state.manager
			}),

			login: {
				get() {
					return this.manager.item.login;
				},
				set(value) {
					this.$store.dispatch("manager/setCurrent", {name: 'login', value});
				}
			},

			password: {
				get() {
					return this.manager.item.password;
				},
				set(value) {
					this.$store.dispatch("manager/setCurrent", {name: 'password', value});
				}
			},

			fio: {
				get() {
					return this.manager.item.fio;
				},
				set(value) {
					this.$store.dispatch("manager/setCurrent", {name: 'fio', value});
				}
			},


			email: {
				get() {
					return this.manager.item.email;
				},
				set(value) {
					this.$store.dispatch("manager/setCurrent", {name: 'email', value});
				}
			},


		},

		created(){
			this.loadData()
		},

		mounted (){

		},

		methods: {

			loadData(){
				if ( this.managerId ){
					this.getItem();
				} else {
					this.setDefault();
				}
			},

			getItem(){
				this.$store.dispatch('manager/getItem', this.managerId).finally(()=>{ this.pageLoaded = true; });
			},

			setDefault(){
				this.pageLoaded = true;
				this.$store.dispatch('manager/setDefault');
			},

			submit(){

				let method = this.managerId ? 'manager/edit' : 'manager/add';

				this.$refs.form.validate()
					.then(()=>{
						this.btnLoad = true;
						this.$store.dispatch(method).then(()=>{
							this.$emit('onFormSubmit');
						}).finally(()=>{
							this.btnLoad = false;
						});
					}, error => {
						this.$toast.error(error);
					});
			},


			deleteConfirm(){
				this.deleteBtnLoading = true;
				this.$store.dispatch('manager/delete', this.managerId).then(()=>{
					this.deletePopup = false;
					this.deleteBtnLoading = false;
					this.$emit('onFormSubmit');
				});
			}
		},

		watch: {
			'$route' () {
				this.loadData();
			},
		},

		components: {

		},

	}
</script>

<style lang="scss">

</style>