<template lang="pug">
	transition(mode='out-in', name="popup", @beforeEnter="onStart", @enter="$emit('onOpen')", @afterLeave="onEnd")
		.popup(v-if="value")
			.popup__overlay
			.popup__layout
				.popup__close(v-if="!hideCloseBtn", @click="onClose"): icon(name="close")
				.popup__content
					slot

</template>

<script>
	export default {

		props: {
			value: {
				type: Boolean,
				default: false
			},

			hideCloseBtn: {
				type: Boolean,
				default: false
			}
		},

		data() {
			return {
			}
		},


		destroyed(){
		},

		computed:{

		},

		watch:{
			value(val){

				if ( !val ) this.$emit('onClose');
			}
		},

		mounted(){

		},

		methods:{
			onClose(e){
				this.$emit('input', false);
			},

			onStart(){
				document.body.style.paddingRight = this.scrollWidth() + 'px';
				document.querySelector('.msd__main-header').style.marginRight = this.scrollWidth() + 'px';
				document.body.style.overflow = 'hidden';
			},

			onEnd(el){
				if ( !document.getElementsByClassName('popup').length ) {
					document.body.style.overflow = '';
					document.body.style.paddingRight = '';
					document.querySelector('.msd__main-header').style.marginRight = '';
				}
			},

			scrollWidth(){
				return window.innerWidth - document.body.clientWidth;
			}
		},

	}
</script>

<style lang="scss">


	$popupZIndex: 1000;
	$popupOverlayColor: rgba(#fff ,0.75);

	.popup {
		display: block;
		position: fixed;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
		text-align: center;
		background: transparent;
		overflow-y: scroll;
		font-size: 0;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		&__overlay{
			display: block;
			position: fixed;
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;
			background: $popupOverlayColor;
		}

		&__layout {
			box-sizing: border-box;
			display: inline-block;
			margin: 15px auto;
			padding: 0;
			position: relative;
			vertical-align: middle;
			max-width: calc(100% - 40px);
			width: 724px;
			min-height: 100px;
			text-align: left;
			font-size: $fontSize;
			box-shadow: $boxshadow;
			border-radius: $roundComponent;
			background: rgba(#fff, .9);
			//backdrop-filter: blur(10px);


			.popup_form &{
				width: 660px;
			}

			.popup_storage &{
				width: 890px;
			}

			.popup_image &{
				width: auto;
			}


			.popup_code &{
				width: 90%;
			}


		}

		&__close {
			width: 40px;
			height: 40px;
			top: 10px;
			right: 10px;
			z-index: 1;
			position: absolute;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			background-color: transparent;
			transition: all .3s ease;

			&:hover{
				background-color: rgba($fColorFocus, .2);
			}
		}

		&__content{
			padding: 30px;
			position: relative;
		}

		&__title{
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 20px;

			&:last-child{
				margin-bottom: 0;
			}
		}

		&__text{
			p{
				margin: 15px 0;
			}
		}

		&__footer{
			margin-top: 15px;
		}

		&__control{
			position: absolute;
			z-index: 1;
			right: 20px;
			bottom: 20px;
			max-width: calc(100% - 40px);
			text-align: right;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			align-items: center;

			.btn{
				margin-left: 10px;
				pointer-events: auto;
			}
		}

		&__image{
			min-width: 350px;
			min-height: 100px;
			background: url("../../img/svg/btn-loader.svg") no-repeat 50% 50%;

			img{
				max-width: 100%;
				max-height: calc(100vh - 100px);
			}
		}



	}


</style>


