<template lang="pug">
	.msd-form(v-if="sectionLoaded")
		form-wrap(ref="form")
			form-field(type="select", v-model="parent", :options="fields.parent")
			form-field(type="select", v-model="id_page", :options="fields.id_page")
			form-field(type="text", v-model="name", :options="fields.name")
			form-field(type="text", v-model="slug", :options="fields.slug")
			form-field(type="text", v-model="rating", :options="fields.rating")
			form-field(type="checkbox", v-model="publish", :options="fields.publish")

		div
			btn-case
				btn(blue, @click="submit", :loading="btnLoad") {{ sectionId ? 'Сохранить раздел' : 'Добавить раздел'}}
				btn(red, @click="deletePopup = true", v-if="sectionId") Удалить раздел

		popup(v-model="deletePopup", @onClose="deletePopup = false").popup_info
			.popup__title Удалить запись.
			.popup__text
				p Вы уверены что хотите удалить "{{ name }}"?
				p После удаления, восстановить будет невозможно.
			.popup__footer
				btn-case
					btn(red @click="deleteConfirm()", :loading="deleteBtnLoading") Удалить
					btn(blue @click="deletePopup = false") Отменить

</template>

<script>

	import moment from "moment";
	import {mapState} from "vuex";

	export default {
		props: {
			sectionId: {
				type: [String, Number],
				default: null
			},
		},

		data () {
			return {

				deleteBtnLoading: false,
				deletePopup: false,

				btnLoad: false,

				sectionLoaded: false,

				fields: {
					parent: {
						placeholder: 'Родительский сектор',
						search: true,
						items: [],
						onChange: (val, data)=>{

						}
					},
					id_page: {
						placeholder: 'Страница',
						search: true,
						items: [],
						onChange: (val, data)=>{

						}
					},

					name: {
						placeholder: 'Заголовок',
						required: true,
						max: 200,
						rules: {
							empty: 'Укажите заголовок сектора',
						},

					},
					rating: {
						placeholder: 'Рейтинг в списке',
					},
					slug: {
						placeholder: 'slug',
					},
					publish: {
						label: 'Опубликовать'
					},
				}
			}
		},

		computed: {
			...mapState({
				section: state => state.section.item,
				sections: state => state.section.list,
				pages: state => state.page.list,
			}),

			parent: {
				get() {
					return this.section.parent === 0 ? '' : this.section.parent;
				},
				set(value) {
					this.$store.dispatch("section/setCurrent", {name: 'parent', value});
				}
			},

			id_page: {
				get() {
					return this.section.id_page;
				},
				set(value) {
					this.$store.dispatch("section/setCurrent", {name: 'id_page', value});
				}
			},

			name: {
				get() {
					return this.section.name;
				},
				set(value) {
					this.$store.dispatch("section/setCurrent", {name: 'name', value});
				}
			},

			slug: {
				get() {
					return this.section.slug;
				},
				set(value) {
					this.$store.dispatch("section/setCurrent", {name: 'slug', value});
				}
			},

			rating: {
				get() {
					return this.section.rating;
				},
				set(value) {
					this.$store.dispatch("section/setCurrent", {name: 'rating', value});
				}
			},

			publish: {
				get() {
					return this.section.publish;
				},
				set(value) {
					this.$store.dispatch("section/setCurrent", {name: 'publish', value});
				}
			},
		},

		created(){
			this.loadData()
		},

		mounted (){

		},

		methods: {

			loadData(){
				if ( this.sectionId ){
					this.getItem();
				} else {
					this.setDefault();
				}
				this.loadSections();
				this.loadPages();
			},

			getItem(){
				this.$store.dispatch('section/getItem', this.sectionId).finally(()=>{ this.sectionLoaded = true; });
			},

			setDefault(){
				this.sectionLoaded = true;
				this.$store.dispatch('section/setDefault');
			},

			loadSections(){
				this.$store.dispatch('section/getAll').then(()=>{
					let hold = null,
						items = this.sections
						/*.filter(item => {
							if ( hold !== null && item.level <= hold ) hold = null;
							if ( item.id === this.sectionId ) hold = item.level;
							return hold === null;
						})*/
						/*.filter(item => {
							return item.id !== this.sectionId;
						})*/
							.map(item => {
								if ( hold !== null && item.level <= hold ) hold = null;
								if ( item.id === this.sectionId ) hold = item.level;
								return {
									value: item.id,
									level: item.level,
									hold: hold !== null,
									current: item.id === this.sectionId,
									label: item.name
								}
							})
					;

					this.fields.parent.items = [{
						value: '0',
						level: 0,
						hold: false,
						current: this.sectionId === 0,
						label: 'Верхний уровень'
					}, ...items]
				});
			},

			loadPages(){
				this.$store.dispatch('page/getAll').then(()=>{
					this.fields.id_page.items = this.pages.map(item => {
						return {
							value: item.id,
							label: item.title
						}
					});
				});
			},

			submit(){

				let method = this.sectionId ? 'section/edit' : 'section/add';

				this.$refs.form.validate()
					.then(()=>{
						this.btnLoad = true;
						this.$store.dispatch(method).then(()=>{
							this.$emit('onFormSubmit');
						}).finally(()=>{
							this.btnLoad = false;
						});
					}, error => {
						this.$toast.error(error);
					});
			},


			deleteConfirm(){
				this.deleteBtnLoading = true;
				this.$store.dispatch('section/delete', this.sectionId).then(()=>{
					this.deletePopup = false;
					this.deleteBtnLoading = false;
					this.$emit('onFormSubmit');
				});
			}
		},

		watch: {
			'$route' () {
				this.loadData();
			},
		},

		components: {

		},

	}
</script>

<style lang="scss">

</style>