<template lang="pug">
	div
		article-wrap(v-if="!loaded") ...

		article-wrap(v-else-if="sections.length <= 0")
			p Список пуст
			p
				btn(blue, @click="$router.push({ name: 'section_add'})") Добавить раздел

		article-wrap(v-else)

			btn(blue, @click="$router.push({ name: 'section_add'})") Добавить раздел
			br
			br

			table-item(:items="sections", count="0")
				template(v-slot:head)
					tr
						th id
						th Название
						th.msd-table__control Управление
				template(v-slot:row="{item, prev, next}")
					tr(v-if="levelDetect(item, prev, next).show")
						td.msd-table__num {{ item.id }}
						td
							router-link(:to="{name: 'section_item', params: {sectionId: item.id}}") {{ levelDetect(item).indent }}{{ item.name }}
							icon.link(v-if="levelDetect(item, prev, next).arrow", :name="`menu-${levelDetect(item, prev, next).arrow}-outline`", @click="toggleLevel(item.id)")
						td.msd-table__control
							v-popover.msd-settings
								template(slot="popover")
									.popover-title Настройки
									.popover-menu
										router-link.popover-menu__item(v-close-popover.all, tag="div", :to="{name: 'section_item', params: {sectionId: item.id}}")
											.popover-menu__ico: icon(name="square-edit-outline")
											.popover-menu__link Редактировать
										.popover-menu__item(v-close-popover.all, @click="deleteItem = item")
											.popover-menu__ico: icon(name="delete-forever")
											.popover-menu__link Удалить
								.msd-settings__icon
									icon(name="tune")


		popup(v-model="deletePopup", @onClose="deleteItem = null").popup_info
			.popup__title Удалить запись.
			.popup__text
				p Вы уверены что хотите удалить "{{ deleteItem ? deleteItem.name : ''}}"?
				p После удаления, восстановить будет невозможно.
			.popup__footer
				btn(@click="deleteConfirm()", :loading="deleteBtnLoading") Удалить
				btn(@click="deletePopup = false") Отменить

</template>

<script>

	import {mapState} from "vuex";

	export default {
		data () {
			return {
				loaded: false,
				deleteBtnLoading: false,
				deletePopup: false,
				deleteItem: null,

				openLevel: []
			}
		},

		mounted (){
			this.getAll();
		},

		methods: {
			getAll(){
				this.$store.dispatch('section/getAll').then(()=>{
					this.loaded = true;
				});
			},

			deleteConfirm(){
				this.deleteBtnLoading = true;
				this.$store.dispatch('section/delete', this.deleteItem.id).then(()=>{
					this.deletePopup = false;
					this.deleteBtnLoading = false;
					this.getAll();
				});
			},

			levelDetect(item, prev, next){
				// console.info(item, prev, next);
				let show = item.level === 0,
					indent = '',
					arrow = false
				;

				if (item.level && typeof item.level === 'number'){
					for (let i = 0; i < item.level; i++){
						indent += '─'
					}

					indent += ' ';
				}

				if (item.level >=0 && next && next.level && item.level < next.level ){
				 	arrow = 'down';
				}



				if ( arrow && next && this.openLevel.indexOf(next.id) >= 0 ){
					arrow = 'up';
				}

				if ( this.openLevel.indexOf(item.id) >= 0 ){
					show = true;
				}

				return {show, indent, arrow}
			},

			toggleLevel(id){
				let hold = null,
					visible = false
				;
				for (let i = 0; i < this.sections.length; i++ ){

					if ( !visible && hold && (hold.level === this.sections[i].level || hold.level + 1 === this.sections[i].level) ) {
					 	this.toggleLevelItem(this.sections[i].id, 'show');
					} else if (visible){
						this.toggleLevelItem(this.sections[i].id, 'hide');
					}


					if ( hold && this.sections[i + 1] && this.sections[i + 1].level <= hold.level ) break;

					if ( this.sections[i].id === id ) {
						hold = this.sections[i];
						this.toggleLevelItem(this.sections[i].id, 'show');

						if ( this.sections[i + 1] ){
							visible = this.openLevel.indexOf(this.sections[i + 1].id) >= 0
						}
					}


				}

			},

			toggleLevelItem(id, action){
				let idx = this.openLevel.indexOf(id),
					arr = this.openLevel;

				if ( idx >= 0 && action === 'hide' ){
					this.openLevel = [...arr.slice(0, idx), ...arr.slice(idx + 1)]
				} else if ( idx < 0 && action === 'show' ){
					this.openLevel = [...arr, id];
				}

			}

		},

		computed: {
			...mapState({
				sections: state => state.section.list
			}),
		},

		watch: {
			deleteItem(val){
				this.deletePopup = !!val;
			}
		},

		components: {

		},

	}
</script>

<style lang="scss">

</style>