<template lang="pug">
	edit-form(
		:section-id="$route.params.sectionId",
		@onFormSubmit="$router.push({ name: 'section'})",
	)

</template>

<script>

	import EditForm from './edit-form'

	export default {
		components: {
			EditForm
		},


	}
</script>

<style lang="scss">

</style>