<template lang="pug">
	.msd
		form-field(type="text", v-model="model.text", :options="options.text", ref="text")
		form-field(type="text", v-model="model.phone", :options="options.phone", ref="phone")
		form-field(type="text", v-model="model.email", :options="options.email", ref="email")
		form-field(type="map", v-model="model.map", :options="options.map", ref="map")
		form-field(type="scheme", v-model="model.scheme", :options="options.scheme", ref="scheme")
		form-field(type="textarea", v-model="model.textarea", :options="options.textarea", ref="textarea")
		form-field(type="editor", v-model="model.editor", :options="options.editor", ref="editor")
		form-field(type="select", v-model="model.select", :options="options.select", ref="select")
		form-field(type="select", v-model="model.select_m", :options="options.select_m", ref="select_m")
		form-field(type="radio", v-model="model.radio", :options="options.radio", ref="radio")
		form-field(type="checkbox", v-model="model.checkbox", :options="options.checkbox", ref="checkbox")
		form-field(type="file", v-model="model.file", :options="options.file", ref="file")
		form-field(type="date", v-model="model.date", :options="options.date", ref="date")


		div
			btn(@click="validate") Validate

</template>

<script>

	export default {
		data () {
			return {


				options: {
					text: {
						title: 'Text',
						placeholder: 'Text placeholder',
						onInput: ()=>{},
					},
					phone: {
						title: 'Phone',
						placeholder: 'Phone placeholder',
						mask: '+7 999 999-99-99',
						required: true,
						onInput: ()=>{},
					},
					email: {
						title: 'Email',
						placeholder: 'Email placeholder',
						rules: {
							empty: 'Заполните поле',
							pattern: [
								{
									regex: /^[-._a-z0-9а-я]+@(?:[a-z0-9а-я][-a-z0-9а-я]+\.)+[a-zа-я]{2,6}$/i,
									message: 'Проверьте корректность E-mail'
								}
							],
							antiPattern: [
								{
									regex: 'test@test.test',
									message: 'Какая, блин, оригинальная почта...'
								}
							]
						},
						onInput: ()=>{},
					},
					map: {
						title: 'Map',
						placeholder: 'Map placeholder',
						onInput: ()=>{},
					},
					scheme: {
						title: 'Scheme',
						placeholder: 'Scheme placeholder',
						image: 'http://www.epsomandewellhistoryexplorer.org.uk/images/AshleyRdPlan.JPG',
						onInput: ()=>{},
					},
					date: {
						title: 'Date',
						disableDate: date => date < new Date().setHours(0, 0, 0, 0),
						placeholder: 'Date placeholder',
					},
					textarea: {
						title: 'Textarea',
						placeholder: 'Textarea placeholder'
					},
					editor: {
						title: 'Editor',
						placeholder: 'Editor placeholder'
					},
					select: {
						title: 'Select',
						placeholder: 'Select placeholder',
						search: true,
						items: [
							{
								value: '1',
								label: 'Select 1'
							},
							{
								value: '2',
								label: 'Select 2'
							},
							{
								value: '3',
								label: 'Select 3'
							},
							{
								value: '4',
								label: 'Select 4'
							},
							{
								value: '5',
								label: 'Select 5'
							},
							{
								value: '6',
								label: 'Select 6'
							},
							{
								value: '7',
								label: 'Select 7'
							},
							{
								value: '8',
								label: 'Select 8'
							},
							{
								value: '9',
								label: 'Select 9'
							}
						],
					},
					select_m: {
						title: 'Select',
						placeholder: 'Select placeholder',
						search: true,
						items: [
							{
								value: '1',
								label: 'Select 1'
							},
							{
								value: '2',
								label: 'Select 2'
							},
							{
								value: '3',
								label: 'Select 3'
							},
							{
								value: '4',
								label: 'Select 4'
							},
							{
								value: '5',
								label: 'Select 5'
							},
							{
								value: '6',
								label: 'Select 6'
							},
							{
								value: '7',
								label: 'Select 7'
							},
							{
								value: '8',
								label: 'Select 8'
							},
							{
								value: '9',
								label: 'Select 9'
							}
						],
						multiple: true
					},
					radio: {
						title: 'Radio',
						items: [
							{
								value: '1',
								label: 'Radio 1'
							},
							{
								value: '2',
								label: 'Radio 2'
							},
							{
								value: '3',
								label: 'Radio 3'
							},
							{
								value: '4',
								label: 'Radio 4'
							},
							{
								value: '5',
								label: 'Radio 5'
							}
						],
					},
					checkbox: {
						title: 'Checkbox',
						label: 'Checkbox label'
					},
					file: {
						title: 'Files',
						placeholder: 'Files placeholder',
						multiple: true,
						max: 10,
						accept: ['png', 'jpg', 'jpeg'],
					}
				},

				model: {
					text: '',
					phone: '',
					email: '',
					date: '',
					textarea: '',
					editor: ``,
					radio: '',
					select: '',
					select_m: [],
					checkbox: false,
					file: [],
					scheme: '',
					map: [],
				},

				/*model: {
					text: '',
					date: '',
					textarea: '',
					editor: `<div contenteditable="true" tabindex="0" class="ProseMirror"><h3>das sa</h3><p>sa das d sa</p><p>a sd</p><p>as das</p><p>d sa</p></div>`,
					radio: '2',
					select: '3',
					select_m: ['1', '4'],
					checkbox: true,
					file: [
						{
							id: "111111.jpeg",
							url: "https://cdc.maestros.ru/assets/uploads/images/eb/09/eb09e883a06ac0ce9aaac19bbd4162b5.jpeg",
							thumb: "https://cdc.maestros.ru/assets/uploads/thumbs/eb/09/eb09e883a06ac0ce9aaac19bbd4162b5.jpeg",
						},
						{
							id: "222222.jpeg",
							url: "https://cdc.maestros.ru/assets/uploads/images/eb/09/eb09e883a06ac0ce9aaac19bbd4162b5.jpeg",
							thumb: "https://cdc.maestros.ru/assets/uploads/thumbs/eb/09/eb09e883a06ac0ce9aaac19bbd4162b5.jpeg",
						}
					],
					scheme: [{"x":538.0312690904649,"y":245.50135733591125},{"x":537.9406628367517,"y":313.7828404869639},{"x":526.5659104620455,"y":324.663292619121},{"x":476.61591090355324,"y":327.13612264915673},{"x":467.713930784218,"y":316.2556705169996},{"x":482.0560098653692,"y":283.1197481145212},{"x":500.3545245551139,"y":245.03816565197135}],
					map: [59.9342802, 30.3350986],
				},*/

			}
		},

		mounted (){

		},

		methods: {
			validate(){

				new Promise((resolve, reject)=>{

					let isError = Object.keys(this.model).filter((e)=>{
						return !this.$refs[e].validate()
					});

					if ( isError.length ){
						reject("Проверьте корректность заполнения полей");
					} else {
						resolve();
					}

				}).then(
					result => {
						console.info('result', result)
					},
					error => {
						console.info('error', error)
					}
				);



			}
		},

		computed: {

		},

		watch: {

		},

		components: {

		},

	}
</script>

<style lang="scss">

</style>