<template lang="pug">
	article-wrap
		ul
			li(v-for="item in statistic") {{ item.key }}: #[b {{ item.value}}]

		p &nbsp;
		btn(@click="clearCache()", :loading="clearCacheLoading") Очистить кеш
		article-wrap
			p(v-if="cacheInfo.count") {{cacheInfo.count | declension('Удален', 'Удалено', 'Удалено')}} {{ cacheInfo.count }} {{cacheInfo.count | declension('файл', 'файла', 'файлов')}}.
			p(v-if="cacheInfo.size") Освобождено: {{cacheInfo.size}}.


</template>

<script>

	import {mapState} from "vuex";

	export default {
		data () {
			return {
				clearCacheLoading: false,
				cacheInfo: {},
			}
		},

		mounted (){
			this.loadData();
		},

		methods: {
			loadData(){
				this.$store.dispatch('base/getStatistic');
			},
			clearCache(){
				this.clearCacheLoading = true;
				this.$store.dispatch('base/clearCache')
					.then((res)=>{
						this.cacheInfo = res;
					})
					.finally(()=>{
						this.clearCacheLoading = false;
					});
			}
		},

		computed: {
			...mapState({
				statistic: state => state.base.statistic
			}),
		},

		watch: {

		},

		components: {

		},

	}
</script>

<style lang="scss">

</style>