<template lang="pug">
	.msd
		btn(@click="clearCache()", :loading="clearCacheLoading") Очистить кеш
		article-wrap
			p(v-if="cacheInfo.count") {{cacheInfo.count | declension('Удален', 'Удалено', 'Удалено')}} {{ cacheInfo.count }} {{cacheInfo.count | declension('файл', 'файла', 'файлов')}}.
			p(v-if="cacheInfo.size") Освобождено: {{cacheInfo.size}}.


</template>

<script>
	export default {
		data () {
			return {
				clearCacheLoading: false,
				cacheInfo: {},
			}
		},

		mounted (){

		},

		methods: {
			clearCache(){
				this.clearCacheLoading = true;
				this.$store.dispatch('base/clearCache')
					.then((res)=>{
						this.cacheInfo = res;
					})
					.finally(()=>{
						this.clearCacheLoading = false;
					});
			}
		},

		computed: {

		},

		watch: {

		},

		components: {

		},

	}
</script>

<style lang="scss">

</style>