<template lang="pug">
	.msd-form(v-if="pageLoaded")
		form-wrap(ref="form")
			form-field(type="text", v-model="title", :options="fields.name")
			form-field(type="text", v-model="slug", :options="fields.slug")

		div
			btn-case
				btn(blue, @click="submit", :loading="btnLoad") {{ id ? 'Сохранить раздел' : 'Добавить раздел'}}
				btn(red, @click="deletePopup = true", v-if="id") Удалить раздел

		popup(v-model="deletePopup", @onClose="deletePopup = false").popup_info
			.popup__title Удалить запись.
			.popup__text
				p Вы уверены что хотите удалить "{{ title }}"?
				p После удаления, восстановить будет невозможно.
			.popup__footer
				btn-case
					btn(red @click="deleteConfirm()", :loading="deleteBtnLoading") Удалить
					btn(blue @click="deletePopup = false") Отменить

</template>

<script>

	import moment from "moment";
	import {mapState} from "vuex";

	export default {
		props: {
			id: {
				type: [String, Number],
				default: null
			},
		},

		data () {
			return {

				deleteBtnLoading: false,
				deletePopup: false,

				btnLoad: false,

				pageLoaded: false,

				fields: {
					name: {
						placeholder: 'Название раздела',
						required: true,
						max: 200,
						rules: {
							empty: 'Укажите название раздела',
						},

					},

					slug: {
						required: true,
						placeholder: 'slug',
					},
				}
			}
		},

		computed: {
			...mapState({
				item: state => state.articles_section.item
			}),

			title: {
				get() {
					return this.item.name;
				},
				set(value) {
					this.$store.dispatch("articles_section/setCurrent", {name: 'name', value});
				}
			},

			slug: {
				get() {
					return this.item.slug;
				},
				set(value) {
					this.$store.dispatch("articles_section/setCurrent", {name: 'slug', value});
				}
			},

		},

		created(){
			this.loadData()
		},

		mounted (){

		},

		methods: {

			loadData(){
				if ( this.id ){
					this.getItem();
				} else {
					this.setDefault();
				}
			},

			getItem(){
				this.$store.dispatch('articles_section/getItem', this.id).finally(()=>{ this.pageLoaded = true; });
			},

			setDefault(){
				this.pageLoaded = true;
				this.$store.dispatch('articles_section/setDefault');
			},

			submit(){

				let method = this.id ? 'articles_section/edit' : 'articles_section/add';

				this.$refs.form.validate()
					.then(()=>{
						this.btnLoad = true;
						this.$store.dispatch(method).then(()=>{
							this.$emit('onFormSubmit');
						}).finally(()=>{
							this.btnLoad = false;
						});
					}, error => {
						this.$toast.error(error);
					});
			},


			deleteConfirm(){
				this.deleteBtnLoading = true;
				this.$store.dispatch('articles_section/delete', this.id).then(()=>{
					this.deletePopup = false;
					this.deleteBtnLoading = false;
					this.$emit('onFormSubmit');
				});
			}
		},

		watch: {
			'$route' () {
				this.loadData();
			},
		},

		components: {

		},

	}
</script>

<style lang="scss">

</style>