<template lang="pug">
	.chip(:class="color()")
		span: slot
</template>


<script>
	export default {
		props: {
			yellow: {
				type: Boolean,
				default: false
			},
			blue: {
				type: Boolean,
				default: false
			},
			green: {
				type: Boolean,
				default: false
			},
			grey: {
				type: Boolean,
				default: false
			},
			red: {
				type: Boolean,
				default: false
			}
		},

		methods:{
			color(){
				let color = '';

				if ( this.yellow ) color += ' chip_yellow';
				if ( this.blue ) color += ' chip_blue';
				if ( this.green ) color += ' chip_green';
				if ( this.grey ) color += ' chip_grey';
				if ( this.red ) color += ' chip_red';

				return color
			}
		}
	}
</script>

<style lang="scss">

	.chip{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		cursor: default;
		user-select: none;
		text-align: center;
		border-radius: 100px;
		background: $colorDashboardGreen no-repeat 50% 50%;
		background-size: auto 80%;
		color: #fff;
		box-sizing: border-box;
		box-shadow: inset 0 0 0 rgba(0,0,0, .25);
		overflow: hidden;
		vertical-align: middle;
		font-size: 12px;
		padding: ($fOffsetY / 2) ($fOffsetX / 2);
		margin: 5px 10px 5px 0;

		&_yellow{
			background-color: $colorYellow;
		}
		&_green{
			background-color: $colorGreen;
		}
		&_blue{
			background-color: $colorBlue;
		}
		&_red{
			background-color: $colorRed;
		}
		&_grey{
			background-color: $colorGrey;
		}

	}


</style>