<template lang="pug">
	div
		.msd-table
			table
				thead
					slot(name="head")

				tbody
					slot(v-for="(item, index) in currentItems", name="row", :item="item", :index="index", :prev="currentItems[index - 1]", :next="currentItems[index + 1]")

		.msd-table__pager(v-if="parseInt(this.count) > 0 && this.items.length > parseInt(this.count)")
			btn-case
				btn(v-for="(page, index) in pages", @click="currentPage = page", :active="currentPage === page", :white="currentPage === page") {{ page }}



</template>


<script>
	export default {
		props: {
			items: {
				type: Array,
				default: []
			},
			count: {
				type: [String, Number],
				default: 15
			}
		},

		data(){
			return {
				currentPage: 1
			}
		},

		computed: {
			currentItems(){
				let count = parseInt(this.count),
					idx = (this.currentPage - 1) * count;
				return count > 0 ? this.items.slice(idx, idx + count) : this.items;
			},

			pages(){
				return Math.ceil(this.items.length / parseInt(this.count));
			}
		},

		methods:{

		}
	}
</script>

<style lang="scss">
	$br: $roundElement;

	.msd-table{
		max-width: 100%;
		overflow: auto;

		p{
			margin: 5px 0;
		}

		table{
			width: 100%;
			border-radius: $br;
			margin-bottom: 20px;
			background: $bodyBackground;
		}

		thead, tbody{
			&:first-child{
				tr{
					&:first-child{
						border-radius: $br $br 0 0;

						th, td{
							&:first-child{
								border-top-left-radius: $br;
							}
							&:last-child{
								border-top-right-radius: $br;
							}
						}
					}
					&:last-child{

					}
				}
			}
			&:last-child{
				tr{
					&:last-child{
						border-radius: 0 0 $br $br;

						td{
							border-bottom: 0;
						}

						th, td{
							&:first-child{
								border-bottom-left-radius: $br;
							}
							&:last-child{
								border-bottom-right-radius: $br;
							}
						}
					}
				}
			}
		}

		thead{
		}

		tbody{
			tr{

				&:hover{
					td{
						background-color: rgba($fColorFocus, .07);
					}

				}
			}
		}

		tr{
			table{
				width: auto;
				display: inline-table;
				margin: 0 0 10px 0;

				td, th{
					margin: 0;
					padding: 0 5px;
					border: 0;
					background: transparent;
				}
			}
		}

		th, td{
			padding: $fOffsetY $fOffsetX;
			font-weight: normal;
			color: $colorGreyText;
		}

		th{
			padding: $fOffsetX ;
			background: $colorGrey;
			text-align: left;
		}

		td{
			border-bottom: 1px solid $colorGrey;
			transition: background-color .2s ease;

			*{
				vertical-align: middle;
			}
		}


		&__control{
			text-align: right!important;;
			width: 10px;
			white-space: nowrap;

			.msd-settings{

			}
		}

		&__menu{
			text-align: right!important;
			width: 50%;
			//white-space: nowrap;

			.msd-settings{

			}
		}

		&__num{
			width: 10px;

		}

		&__pager{
			margin: 0 0 20px 0;

		}


	}

	.msd-settings{
		&__icon{
			color: $colorGreyText;
			&:hover{
				color: $fColorFocus;
			}
		}
	}



</style>