<template lang="pug">
	.msd-form(v-if="pageLoaded")
		form-wrap(ref="form")
			form-field(type="text", v-model="title", :options="fields.title")
			form-field(type="text", v-model="keywords", :options="fields.keywords")
			form-field(type="text", v-model="slug", :options="fields.slug")
			form-field(type="select", v-model="id_articles_section", :options="fields.id_articles_section")
			form-field(type="textarea", v-model="description", :options="fields.description")
			form-field(type="date", v-model="added", :options="fields.added")
			form-field(type="editor", v-model="html", :options="fields.html")
			form-field(type="file", v-model="gallery", :options="fields.gallery")
			form-field(type="text", v-model="anchor", :options="fields.anchor")
			form-field(type="checkbox", v-model="publish", :options="fields.publish")

		div
			btn-case
				btn(blue, @click="submit", :loading="btnLoad") {{ id ? 'Сохранить статью' : 'Добавить статью'}}
				btn(red, @click="deletePopup = true", v-if="id") Удалить статью

		popup(v-model="deletePopup", @onClose="deletePopup = false").popup_info
			.popup__title Удалить запись.
			.popup__text
				p Вы уверены что хотите удалить "{{ title }}"?
				p После удаления, восстановить будет невозможно.
			.popup__footer
				btn-case
					btn(red @click="deleteConfirm()", :loading="deleteBtnLoading") Удалить
					btn(blue @click="deletePopup = false") Отменить

</template>

<script>

	import moment from "moment";
	import {mapState} from "vuex";

	export default {
		props: {
			id: {
				type: [String, Number],
				default: null
			},
		},

		data () {
			return {

				deleteBtnLoading: false,
				deletePopup: false,

				btnLoad: false,

				pageLoaded: false,

				fields: {
					title: {
						placeholder: 'Заголовок',
						required: true,
						max: 200,
						rules: {
							empty: 'Укажите заголовок статьи',
						},

					},
					keywords: {
						placeholder: 'Ключевые слова',
					},
					slug: {
						required: true,
						placeholder: 'slug',
					},
					anchor: {
						placeholder: 'Якорь',
					},
					id_articles_section: {
						placeholder: 'Раздел статей',
						search: true,
						items: [],
						onChange: (val, data)=>{

						}
					},
					description: {
						placeholder: 'Краткое описание'
					},
					added: {
						required: true,
						placeholder: 'Дата статьи',
						mask: '99.99.9999',
						disableDate: date => date > new Date().setHours(0, 0, 0, 0),
					},
					html: {
						required: true,
						placeholder: 'Текст статьи'
					},
					gallery: {
						placeholder: 'Фотографии статьи',
						multiple: true,
						max: 10,
						accept: ['png', 'jpg', 'jpeg'],
					},
					publish: {
						label: 'Опубликовать'
					},
				}
			}
		},

		computed: {
			...mapState({
				item: state => state.article.item,
				articles_sections: state => state.articles_section.list
			}),

			title: {
				get() {
					return this.item.title;
				},
				set(value) {
					this.$store.dispatch("article/setCurrent", {name: 'title', value});
				}
			},

			anchor: {
				get() {
					return this.item.anchor;
				},
				set(value) {
					this.$store.dispatch("article/setCurrent", {name: 'anchor', value});
				}
			},

			keywords: {
				get() {
					return this.item.keywords;
				},
				set(value) {
					this.$store.dispatch("article/setCurrent", {name: 'keywords', value});
				}
			},

			description: {
				get() {
					return this.item.description;
				},
				set(value) {
					this.$store.dispatch("article/setCurrent", {name: 'description', value});
				}
			},

			slug: {
				get() {
					return this.item.slug;
				},
				set(value) {
					this.$store.dispatch("article/setCurrent", {name: 'slug', value});
				}
			},

			id_articles_section: {
				get() {
					return this.item.id_articles_section;
				},
				set(value) {
					this.$store.dispatch("article/setCurrent", {name: 'id_articles_section', value});
				}
			},

			added: {
				get() {
					return this.item.added ? new Date(this.item.added) : new Date();
				},
				set(value) {
					let date = moment(value).format('YYYY-MM-DD');
					this.$store.dispatch("article/setCurrent", {name: 'added', value: date});
				}
			},

			html: {
				get() {
					return this.item.html;
				},
				set(value) {
					this.$store.dispatch("article/setCurrent", {name: 'html', value});
				}
			},

			gallery: {
				get() {
					return this.item.gallery;
				},
				set(value) {
					this.$store.dispatch("article/setCurrent", {name: 'gallery', value});
				}
			},

			publish: {
				get() {
					return this.item.publish;
				},
				set(value) {
					this.$store.dispatch("article/setCurrent", {name: 'publish', value});
				}
			},
		},

		created(){
			this.loadData()
		},

		mounted (){

		},

		methods: {

			loadData(){
				if ( this.id ){
					this.getItem();
				} else {
					this.setDefault();
				}

				this.loadSections();
			},

			loadSections(){
				this.$store.dispatch('articles_section/getAll').then(()=>{
					this.articles_sections
						.map(item => {
							this.fields.id_articles_section.items.push({
								value: item.id,
								label: item.name
							});
						})
					;
				});
			},

			getItem(){
				this.$store.dispatch('article/getItem', this.id).finally(()=>{ this.pageLoaded = true; });
			},

			setDefault(){
				this.pageLoaded = true;
				this.$store.dispatch('article/setDefault');
			},

			submit(){

				let method = this.id ? 'article/edit' : 'article/add';

				this.$refs.form.validate()
					.then(()=>{
						this.btnLoad = true;
						this.$store.dispatch(method).then(()=>{
							this.$emit('onFormSubmit');
						}).finally(()=>{
							this.btnLoad = false;
						});
					}, error => {
						this.$toast.error(error);
					});
			},


			deleteConfirm(){
				this.deleteBtnLoading = true;
				this.$store.dispatch('article/delete', this.id).then(()=>{
					this.deletePopup = false;
					this.deleteBtnLoading = false;
					this.$emit('onFormSubmit');
				});
			}
		},

		watch: {
			'$route' () {
				this.loadData();
			},
		},

		components: {

		},

	}
</script>

<style lang="scss">

</style>