<template lang="pug">
	div
		article-wrap(v-if="!loaded") ...

		article-wrap(v-else-if="articles.length <= 0")
			p Список пуст
			p
				btn(blue, @click="$router.push({ name: 'article_add'})") Добавить статью

		article-wrap(v-else)


			btn(blue, @click="$router.push({ name: 'article_add'})") Добавить статью
			br
			br

			table-item(:items="articles")
				template(v-slot:head)
					tr
						th id
						th Название
						th.msd-table__control Управление
				template(v-slot:row="{item}")
					tr
						td.msd-table__num {{ item.id }}
						td
							router-link(:to="{name: 'article_item', params: {articleId: item.id}}") {{ item.title }}
						td.msd-table__control
							v-popover.msd-settings
								template(slot="popover")
									.popover-title Настройки
									.popover-menu
										router-link.popover-menu__item(v-close-popover.all, tag="div", :to="{name: 'article_item', params: {articleId: item.id}}")
											.popover-menu__ico: icon(name="square-edit-outline")
											.popover-menu__link Редактировать
										//-a.popover-menu__item(v-close-popover.all, :href="`/article/${item.slug}`", target="_blank")
											.popover-menu__ico: icon(name="open-in-new")
											.popover-menu__link Страница на сайте
										.popover-menu__item(v-close-popover.all, @click="deleteItem = item")
											.popover-menu__ico: icon(name="delete-forever")
											.popover-menu__link Удалить
								.msd-settings__icon
									icon(name="tune")



		popup(v-model="deletePopup", @onClose="deleteItem = null").popup_info
			.popup__title Удалить запись.
			.popup__text
				p Вы уверены что хотите удалить "{{ deleteItem ? deleteItem.title : ''}}"?
				p После удаления, восстановить будет невозможно.
			.popup__footer
				btn(@click="deleteConfirm()", :loading="deleteBtnLoading") Удалить
				btn(@click="deletePopup = false") Отменить

</template>

<script>

	import {mapState} from "vuex";

	export default {
		data () {
			return {
				loaded: false,
				deleteBtnLoading: false,
				deletePopup: false,
				deleteItem: null
			}
		},

		mounted (){
			this.getAll();
		},

		methods: {
			getAll(){
				this.$store.dispatch('article/getAll').then(()=>{
					this.loaded = true;
				});
			},

			deleteConfirm(){
				this.deleteBtnLoading = true;
				this.$store.dispatch('article/delete', this.deleteItem.id).then(()=>{
					this.deletePopup = false;
					this.deleteBtnLoading = false;
					this.getAll();
				});
			}
		},

		computed: {
			...mapState({
				articles: state => state.article.list
			}),
		},

		watch: {
			deleteItem(val){
				this.deletePopup = !!val;
			}
		},

		components: {

		},

	}
</script>

<style lang="scss">

</style>