<template lang="pug">
	.form-item__checkbox
		.form-item__checkbox-item
			input(
				:id="`checkbox_${_uid}`",
				type='checkbox',
				:checked="checked",
				:value="options.value || 'on'",
				@input="onInput",
				:disabled="disabled",
				@change="onChange")
			label(:for='`checkbox_${_uid}`') {{ options.label }}

</template>

<script>

	export default {

		props: {
			disabled: {
				type: Boolean,
				default: false
			},
			options: {
				type: Object
			},
			value: {
				type: [String, Boolean, Array]
			}
		},

		data() {
			return {

			}
		},

		computed: {
			checked(){
				return Array.isArray(this.value) ? this.value.indexOf(this.options.value) >= 0 : !!this.value;
			}
		},

		mounted(){

		},

		methods:{

			onInput(e){
				this.$emit('input', e)
			},

			onChange(e){
				this.$emit('change', e)
			},

		},

		components:{
		}
	}
</script>

<style lang="scss">
	.form-item__checkbox{

		&-item{
			display: inline-block;



			label{
				display: block;
				position: relative;
				padding: $fOffsetY 0 $fOffsetY 25px;
				margin-right: 20px;

				&:before{
					content: '';
					width: 12px;
					height: 12px;
					border: 3px solid currentColor;
					border-radius: $roundElement;
					position: absolute;
					display: block;
					top: ($fOffsetY - 2px);
					left: 0;
					transition: all .3s ease;
					background: no-repeat 50% 50%;
					background-size: 14px 14px;
					color: $fColorBorder;

					.form-item__field_error &{
						color: $fColorError;
					}

					.form-item__field_disabled &{
						color: $fColorBorder!important;
					}
				}

				&:hover{
					&:before{
						color: $fColorFocus;

					}
				}
			}

			input{
				opacity: 0;
				position: absolute;
				pointer-events: none;

				&:checked{

					& ~ label:before{
						color: $fColorFocus;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath fill='%23278ef6' d='M31,13.1L14.5,28.6L7,21.1l3.5-3.5l4.1,4.1l13-12.2L31,13.1z'/%3E%3C/svg%3E%0A");


						.form-item__field_disabled &{
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath fill='%23ccc' d='M31,13.1L14.5,28.6L7,21.1l3.5-3.5l4.1,4.1l13-12.2L31,13.1z'/%3E%3C/svg%3E%0A");
						}
					}
				}
			}
		}
	}
</style>