<template lang="pug">
	div
		date-picker.form-item__input(
			v-model="model",
			@focus="onFocus",
			@blur="onBlur",
			@change="onChange",
			type="date",
			:disabled="disabled",
			:clearable="!options.required",
			format="DD.MM.YYYY",
			:disabled-date="disableDate"
			)

</template>

<script>

	import Inputmask from 'inputmask'
	import DatePicker from '../../library/datepicker'

	export default {

		props: {
			disabled: {
				type: Boolean,
				default: false
			},
			options: {
				type: Object
			},
			value: {
				type: [String, Object, Date]
			}
		},

		data() {
			return {
			}
		},

		computed: {

			disableDate(){
				return this.options.disableDate || function () { return false};
			},

			model: {
				get(){
					return this.value;
				},
				set(val){
					this.$emit('input', {target: { value : val} });
				}
			}
		},

		mounted(){

			if ( this.options.mask ){
				new Inputmask({
					mask: this.options.mask,
					showMaskOnHover: false,
					onincomplete: (e)=>{
						e.target.value = '';
						this.$emit('input', e)
					}
				}).mask(this.$el.querySelectorAll('input')[0]);
			}
		},

		methods:{

			onInput(e){
				this.$emit('input', e)
			},

			onChange(e){
				this.$emit('change', e)
			},

			onKeyup(e){
				this.$emit('keyup', e)
			},

			onFocus(e){
				this.$emit('focus', e)
			},

			onBlur(e){
				this.$emit('blur', e)
			},
		},

		components:{
			DatePicker
		}
	}
</script>

<style lang="scss">



</style>