<template lang="pug">
	.form-item__input.form-item__editor
		editor-menu-bar(:editor="editor" v-slot="{ commands, isActive, getMarkAttrs }").form-item__editor-menubar
			.form-item__editor-toolbar
				button(:class="{ 'is-active': isActive.bold() }", @click.prevent='commands.bold')
					icon(name='format-bold')
				button(:class="{ 'is-active': isActive.italic() }", @click.prevent='commands.italic')
					icon(name='format-italic')
				button(:class="{ 'is-active': isActive.strike() }", @click.prevent='commands.strike')
					icon(name='format-strikethrough')
				button(:class="{ 'is-active': isActive.underline() }", @click.prevent='commands.underline')
					icon(name='format-underline')
				button(:class="{ 'is-active': isActive.paragraph() }", @click.prevent='commands.paragraph')
					icon(name='format-paragraph')
				button(:class="{ 'is-active': isActive.heading({ level: 1 }) }", @click.prevent='commands.heading({ level: 1 })')
					icon(name="format-header-1")
				button(:class="{ 'is-active': isActive.heading({ level: 2 }) }", @click.prevent='commands.heading({ level: 2 })')
					icon(name="format-header-2")
				button(:class="{ 'is-active': isActive.heading({ level: 3 }) }", @click.prevent='commands.heading({ level: 3 })')
					icon(name="format-header-3")
				button(:class="{ 'is-active': isActive.bullet_list() }", @click.prevent='commands.bullet_list')
					icon(name='format-list-bulleted')
				button(:class="{ 'is-active': isActive.ordered_list() }", @click.prevent='commands.ordered_list')
					icon(name='format-list-numbered')
				button(:class="{ 'is-active': isActive.blockquote() }", @click.prevent='commands.blockquote')
					icon(name='format-quote-close')
				button(:class="{ 'is-active': isActive.code() }", @click.prevent='commands.code')
					icon(name='code-tags')
				button(:class="{ 'is-active': isActive.code_block() }", @click.prevent='commands.code_block')
					icon(name='code-braces')
				button(:class="{ 'is-active': isActive.link() }", @click.prevent='linkActive = true')
					icon(name='link-variant')
				button(@click.prevent='commands.createTable({rowsCount: 3, colsCount: 3, withHeaderRow: false })')
					icon(name='table-large')
				span(v-if='isActive.table()')
					button(@click.prevent='commands.deleteTable')
						icon(name='table-large-remove')
					button(@click.prevent='commands.addColumnBefore')
						icon(name='table-column-plus-before')
					button(@click.prevent='commands.addColumnAfter')
						icon(name='table-column-plus-after')
					button(@click.prevent='commands.deleteColumn')
						icon(name='table-column-remove')
					button(@click.prevent='commands.addRowBefore')
						icon(name='table-row-plus-before')
					button(@click.prevent='commands.addRowAfter')
						icon(name='table-row-plus-after')
					button(@click.prevent='commands.deleteRow')
						icon(name='table-row-remove')
					button(@click.prevent='commands.toggleCellMerge')
						icon(name='table-merge-cells')
				button(@click.prevent='codeMirrorPopup = true')
					icon(name='xml')


		editor-menu-bubble.menububble(:editor='editor', @hide='hideLinkMenu' v-slot='{ commands, isActive, getMarkAttrs, menu }')
			.menububble(:class="{ 'is-active': menu.isActive && linkActive }", :style='`left: ${menu.left}px; bottom: ${menu.bottom}px;`')
				form.menububble__form(@submit.prevent='setLinkUrl(commands.link, linkUrl)')
					input.menububble__input(type='text' v-model='linkUrl' placeholder='https://' ref='linkInput', @keydown.esc='hideLinkMenu')
					button.menububble__button(@click='setLinkUrl(commands.link, null)' type='button')
						icon(name='link-variant-remove')




		.form-item__editor-content(v-scrollbar)
			editor-content(:editor="editor").form-item__editor-content

		popup(v-model="codeMirrorPopup", @onClose="codeMirrorPopup = null").popup_code
			codemirror(:value="content", :options="cmOptions", @input="onCmCodeChange")

</template>

<script>

	import { Editor, EditorContent, EditorMenuBar, EditorMenuBubble } from 'tiptap'

	import { Blockquote, CodeBlock, HardBreak, Heading, OrderedList, BulletList, ListItem, TodoItem, TodoList, Bold, Code, Italic, Link, Table, TableHeader, TableCell, TableRow, Strike, Underline, History } from 'tiptap-extensions'

	import { codemirror } from 'vue-codemirror'
	import 'codemirror/mode/xml/xml.js'
	import 'codemirror/addon/selection/active-line.js'
	import 'codemirror/addon/edit/closetag.js'

	export default {

		props: {
			disabled: {
				type: Boolean,
				default: false
			},
			options: {
				type: Object
			},
			value: {
				type: [String]
			}
		},

		data() {



			return {
				codeMirrorPopup: false,

				cmOptions: {
					tabSize: 4,
					styleActiveLine: true,
					lineNumbers: true,
					autoCloseTags: true,
					line: true,
					mode: 'htmlmixed',
					theme: 'ambiance',
					tags: {
						style: [["type", /^text\/(x-)?scss$/, "text/x-scss"],
							[null, null, "css"]],
						custom: [[null, null, "customMode"]]
					}
				},

				editor: new Editor({
					onUpdate: ({getHTML}) => {
						this.content = getHTML();
					},
					onFocus: () => {
						this.onFocus();
					},
					onBlur: () => {
						this.onBlur();
					},
					extensions: [
						new Blockquote(),
						new BulletList(),
						new CodeBlock(),
						new Code(),
						new HardBreak(),
						new Heading({ levels: [1, 2, 3] }),
						new ListItem(),
						new OrderedList(),
						new TodoItem(),
						new TodoList(),
						new Link(),
						new Bold(),
						new Italic(),
						new Strike(),
						new Underline(),
						new Table({
							resizable: true,
						}),
						new TableHeader(),
						new TableCell(),
						new TableRow(),
					]
				}),

				linkUrl: null,
				linkMenuIsActive: false,
				linkActive: false,
			}
		},

		computed: {
			content: {
				get(){
					return this.value;
				},
				set(val){
					this.$emit('input', {target: { value : val} });
				}
			},
		},

		mounted(){
			this.editor.setContent(this.content);
			this.$el.addEventListener('click', this.linkPrevent)
		},

		beforeDestroy() {
			this.editor.destroy();
			this.$el.removeEventListener('click', this.linkPrevent)
		},

		methods:{

			linkPrevent(e){
				if ( e.target.closest('a') ) e.preventDefault();
			},

			onInput(e){
				this.$emit('input', e)
			},

			onChange(e){
				this.$emit('change', e)
			},

			onKeyup(e){
				this.$emit('keyup', e)
			},

			onFocus(e){
				this.$emit('focus', e)
			},

			onBlur(e){
				this.$emit('blur', e)
			},


			hideLinkMenu() {
				this.linkUrl = null;
				this.linkMenuIsActive = false;
				this.linkActive = false;
			},

			setLinkUrl(command, url) {
				command({ href: url });
				this.hideLinkMenu();
			},

			onCmCodeChange(newCode){
				this.content = newCode;
				this.editor.setContent(this.content);
			}
		},

		components:{
			EditorContent,
			EditorMenuBar,
			EditorMenuBubble,
			codemirror
		}
	}
</script>

<style lang="scss">
	.form-item__editor{
		.form-item__field_disabled &{
			pointer-events: none;
		}

		&-toolbar{
			display: flex;
			flex-wrap: wrap;
			padding: $fOffsetY ($fOffsetX /4) 0;

			button{
				cursor: pointer;
				padding: 5px;
				color: $colorGreyText;

				svg{
					display: block;
					width: 20px;
					height: 20px;
				}

				&.is-active{
					color: $fColorFocus;
				}

				&:hover{
					color: $fColorFocus;
				}
			}
		}

		&-content{

			max-height: calc(100vh - 200px);

			.ProseMirror{
				min-height: 100px;
				padding: $fOffsetY $fOffsetX;
			}



			table {
				border-collapse: collapse;
				table-layout: fixed;
				width: 100%;
				margin: 0;
				overflow: hidden;

				td,
				th {
					min-width: 1em;
					border: 2px solid #ddd;
					padding: 3px 5px;
					vertical-align: top;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
					position: relative;


					& > * {
						margin-bottom: 0
					}
				}

				th {
					font-weight: 700;
					text-align: left
				}

				.selectedCell:after {
					z-index: 2;
					position: absolute;
					content: "";
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					background: rgba(200,200,255,.4);
					pointer-events: none
				}

				.column-resize-handle {
					position: absolute;
					right: -2px;
					top: 0;
					bottom: 0;
					width: 4px;
					z-index: 20;
					background-color: #adf;
					pointer-events: none
				}
			}

			a {
				text-decoration: underline;
			}

			p{
				margin: 10px 0;

				code{
					display: inline-block;
					padding: 0 .4rem;
					border-radius: 5px;
					font-size: .8rem;
					font-weight: 700;
					background: rgba(0,0,0,.1);
					color: rgba(0,0,0,.8);
				}
			}

			pre{
				padding: $fOffsetY $fOffsetX;
				border-radius: $roundElement;
				background: #000;
				color: #fff;
				font-size: .8rem;
				overflow-x: auto;
			}

			h1{
				font-size: 1.4em;
				font-weight: 600;
			}

			h2{
				font-size: 1.2em;
				font-weight: 600;
			}

			h3{
				font-size: 1.1em;
				font-weight: 600;
			}

			ul{
				margin-left: 30px;

				li{
					list-style: square outside;
				}
			}


			ol {
				counter-reset: myCounter;
				margin-left: 30px;

				li{
					position: relative;

					list-style-type: decimal
				}
			}

			blockquote{
				border-left: 2px solid grey;
				padding: 5px 10px;
			}

			.tableWrapper {
				margin: 1em 0;
				overflow-x: auto
			}

			.resize-cursor {
				cursor: ew-resize;
				cursor: col-resize
			}

		}



		.menububble {
			position: absolute;
			display: flex;
			z-index: 20;
			padding: .3rem;
			margin-bottom: .5rem;
			transform: translateX(-50%);
			visibility: hidden;
			opacity: 0;
			transition: opacity .2s,visibility .2s;
			font-size: $fontSize;
			box-shadow: $boxshadow;
			background: #fff;
			border-radius: $roundElement;

			&.is-active {
				opacity: 1;
				visibility: visible;
			}


			&__button {
				display: inline-flex;
				background: transparent;
				border: 0;
				padding: .2rem .5rem;
				margin-right: .2rem;
				border-radius: 3px;
				cursor: pointer;
			}

			&__button:last-child {
				margin-right: 0
			}

			&__button:hover {
				background-color: hsla(0,0%,100%,.1)
			}

			&__button.is-active {
				background-color: hsla(0,0%,100%,.2)
			}

			&__form {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				align-items: center
			}

			&__input {
				font: inherit;
				border: none;
				background: transparent;
				width: 230px;
			}
		}

	}



</style>