<template lang="pug">
	.form-item__files
		input(
			type='file',
			:accept="accept()",
			:id="`file_${_uid}`",
			:multiple="options.multiple",
			@change="onChange",
			:disabled="disabled"
			)
		Draggable.form-item__files-container(v-bind="sortOptions", v-model="model")
			FileItem(v-for="(file, index ) in value", :key="file.id", :file="file", :filesLimit="filesLimit", :fileLength="value.length", @change="$emit('change')")
		.form-item__files-drag(@dragenter="onDragenter", @dragover="onDragover", @dragleave="onDragleave", @drop="onDrop", :class="{'form-item__files-drag_active': dragActive}")
		label.form-item__files-label(v-if="!filesLimit", :for="`file_${_uid}`")
			btn(blue, :disabled="disabled") Добавить

</template>

<script>

	import FileItem from './file-item'
	import Draggable from 'vuedraggable'
	import {Base} from '../../middleware/api'

	export default {

		props: {
			disabled: {
				type: Boolean,
				default: false
			},
			options: {
				type: Object
			},
			value: {
				type: [Array]
			}
		},

		data() {
			if ( !this.options.multiple ) this.options.max = 1;

			return {
				sortOptions: {
					group: `sorter_${this._uid}`,
					animation: 150,
					handle:'.form-item__file-control-btn_move'
				},

				dragActive: false,

			}
		},

		computed: {
			model: {
				get(){
					return this.value;
				},
				set(val){
					this.$emit('input', {target: { value : val} });
				}
			},

			filesLimit(){
				return !(!this.options.max || this.value.filter(item => !item.removed ).length < this.options.max);
			}
		},

		mounted(){
		},

		methods:{

			onChange(e){
				this.onDrop(e);
				this.$emit('change', e)
			},

			accept(){
				let accept = '';
				for (let i = 0; i < this.options.accept.length; i++){
					accept += `${i > 0 ? ', ' : ''}.${this.options.accept[i]}`
				}
				return accept || false;
			},

			onDragenter(){
				this.dragActive = true;
			},

			onDragover(){
				this.dragActive = true;
			},

			onDragleave(){
				this.dragActive = false;
			},

			onDrop(e){
				this.dragActive = false;
				let collect = e.dataTransfer || e.target;
				this.addFiles(collect.files)
			},

			addFiles(files){
				([...files]).forEach((file, i)=>{
					this.uploadFile(file, i);
				})
			},


			uploadFile(file, i){

				let tempId = `${new Date().getTime()}__${i || 0}`,
					item = {
						id: tempId,
						progress: 0
					},
					extension = file.name.match(/\w+/ig).pop().toLowerCase(),
					matched = this.options.accept && this.options.accept.length ? this.options.accept.length && this.options.accept.map(exp => exp.toLowerCase() ).indexOf(extension) >= 0 : true
				;


				if ( !matched){
					this.$toast.error('Недопустимый формат файла');
				} else if ( this.filesLimit ){
					this.$toast.warning('Превышен лимит файлов');
				} else if (matched && !this.filesLimit ) {

					this.model.push(item);

					Base.fileUpload({file}, (progress)=>{
						this.$set(item, 'progress', Math.ceil(100 * progress.loaded / progress.total));
					}).then((res)=>{
						this.$set(item, 'url', res.url);
						this.$set(item, 'thumb', res.thumb);
						this.$set(item, 'id', res.id);
						this.$delete(item, 'progress');
					}).catch((e)=>{
						let idx = this.model.findIndex(obj => obj.id === item.id);
						console.info(this.model, item, idx);
						this.model = [...this.model.slice(0, idx), ...this.model.slice(idx + 1)];
						console.info('catch', e);
					});

				}
			}
		},

		components:{
			FileItem,
			Draggable
		}
	}
</script>

<style lang="scss">
	.form-item_file input{
		opacity: 0;
		position: absolute;
		pointer-events: none;
	}


	.form-item__files{
		min-height: 60px;
		border: $fWidthBorder solid $fColorBorder;
		border-radius: $roundElement;
		transition: all .3s ease;
		padding: $fOffsetY $fOffsetX;
		display: flex;
		align-items: flex-end;
		//justify-content: center;
		background: $inputBg;

		.btn {
			//display: block;
			margin-top: 10px;
		}

		.form-item__field_filled &{
			display: block;
		}

		.form-item__field_error &{
			border-color: $fColorError;
			box-shadow: 0 0 0 3px rgba($fColorError, .5);
		}

		.form-item__field_disabled &{
			border-color: $fColorBorder!important;
			box-shadow: none!important;
			background: $fColorBorder!important;
		}

		&:hover{
			border-color: $fColorFocus;
		}

		&-drag{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: $roundElement;
			border: 3px dashed $fColorBorder;
			transition: all .3s ease;
			opacity: 0;

			&_active{
				border-color: $fColorFocus;
			}

			.on-drag &{
				opacity: 1;
				z-index: 1;
			}
		}

		&-label{
			position: relative;
		}

		&-container{
			display: flex;
			flex-wrap: wrap;
			margin-bottom: -10px;
		}
	}

</style>