<template lang="pug">
	.form-item__file(:class="{'form-item__file_removed' : file.removed}")
		.form-item__file-image(v-if="isImage && file.thumb", :class="`form-item__file-image_${file.rotate || 0}`")
			img(:src="file.thumb")
		.form-item__file-control(v-if="file.progress === undefined")
			.form-item__file-control-btn.form-item__file-control-btn_rotate(v-if="isImage && !file.removed", v-tooltip="'Повернуть'", @click="rotateImage()"): icon(name="rotate-right")
			.form-item__file-control-btn.form-item__file-control-btn_rewind(v-if="file.removed && !filesLimit", v-tooltip="'Восстановить'", @click="restoreFile()"): icon(name="rewind")
			.form-item__file-control-btn.form-item__file-control-btn_remove(v-if="!file.removed", v-tooltip="'Удалить'", @click="removeFile()"): icon(name="trash-can-outline")
			.form-item__file-control-btn.form-item__file-control-btn_move(v-if="!file.removed && fileLength > 1", v-tooltip="'Переместить'"): icon(name="cursor-move")
		.form-item__file-label(v-if="file.progress >= 0") Загрузка...
		.form-item__file-label(v-else-if="file.removed") Удалено
		.form-item__file-label(v-else-if="fileExtension()") {{ fileExtension() }}
		transition(mode='out-in')
			.form-item__file-progress(v-if="file.progress > 0"): span(:style="'width: ' + file.progress + '%'")


</template>

<script>

	export default {

		props: {
			file: {
				type: Object
			},
			filesLimit: {
				type: Boolean
			},
			fileLength: {
				type: Number
			}
		},

		data() {
			return {

			}
		},

		computed: {
			isImage(){
				return !!this.file.thumb;
			}
		},

		mounted(){
			// console.info(this.isImage())
		},

		methods:{

			/*isImage(){

				return !!this.file.thumb;

				/!*let imgList = ['jpg', 'jpeg', 'png'],
					ext = this.fileExtension(),
					imgExp = false
				;

				for (let i = 0; i < imgList.length; i++){
					if ( ext.toLowerCase() === imgList[i].toLowerCase() ) {
						imgExp = true;
						break;
					}
				}
				return imgExp;*!/
			},
*/
			fileExtension(){
				let ext = this.file.url ? this.file.url.match(/\.([0-9a-z]{1,5})$/i) : false;
				return ext && ext.length ? ext[1] : '';
			},

			removeFile(){
				this.$set(this.file, 'removed', true);
				this.$emit('change');
			},

			restoreFile(){
				this.$delete(this.file, 'removed');
				this.$emit('change');
			},

			rotateImage() {

				let rotate = this.file.rotate || 0;
				rotate = (rotate + 90) % 360;

				if ( rotate === 0 ){
					this.$delete(this.file, 'rotate');
				} else {
					this.$set(this.file, 'rotate', rotate);
				}

				this.$emit('change');

			},

		},

		components:{
		}
	}
</script>

<style lang="scss">

	$previewWidth: 150px;
	$previewHeight: 120px;

	.form-item__file{
		width: $previewWidth;
		height: $previewHeight;
		border: 1px solid $fColorBorder;
		border-radius: $roundElement;
		position: relative;
		margin: 0 $fOffsetX $fOffsetY 0;
		z-index: 2;
		background: $fColorBorder;
		overflow: hidden;

		&:hover{
			border-color: $fColorFocus;
			.form-item__file-control{
				opacity: 1;
			}
		}

		&-control{
			position: absolute;
			display: flex;
			top: $fOffsetY;
			right: $fOffsetX;
			transition: opacity .3s ease;
			opacity: 0;

			&-btn{
				width: 24px;
				height: 24px;
				border-radius: $roundElement;
				background: $fColorBorder;
				color: #fff;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				margin: 0 0 5px 5px;
				cursor: pointer;

				.icon{
					width: 20px;
					height: 20px;
				}

				&:hover{
					background: $fColorFocus;
				}
			}
		}

		&-label{
			position: absolute;
			left: $fOffsetX;
			bottom: $fOffsetY;
			background: rgba(#fff, .75);
			font-size: 12px;
			padding: ($fOffsetY / 2) ($fOffsetX / 2);
			text-transform: uppercase;
			color: $colorGreyText;
			user-select: none;
			border-radius: $roundElement;
		}

		&-progress{
			position: absolute;
			width: 80%;
			height: 10px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			span{
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 50%;
				background: $colorBlue;
				border-radius: 10px;
				transition: all 0.1s ease;
			}
		}

		&-image{
			position: absolute;
			top: 50%;
			left: 50%;
			width: $previewWidth;
			height: $previewHeight;
			border-radius: $roundElement;
			background: no-repeat 50% 50%;
			background-size: contain;
			transition: all .3s ease;
			transform-origin: 50% 50%;
			transform: translate(-50%, -50%) rotate(0deg);

			.form-item__file_removed &{
				opacity: .3;
			}

			&_90{
				width: $previewHeight;
				height: $previewWidth;
				transform: translate(-50%, -50%) rotate(90deg);
			}
			&_180{
				transform: translate(-50%, -50%) rotate(180deg);
			}
			&_270{
				width: $previewHeight;
				height: $previewWidth;
				transform: translate(-50%, -50%) rotate(270deg);
			}

			img{
				max-width: 100%;
				max-height: 100%;
				pointer-events: none;
				display: block;
				margin: auto;
			}
		}
	}

</style>