<template lang="pug">
	form.form-wrap
		slot

</template>

<script>

	export default {

		props: {

		},

		data() {
			return {

			}
		},

		computed: {

		},

		mounted(){

		},

		methods:{

			validate(){
				return new Promise((resolve, reject)=>{

					let isError = this.$slots.default.filter((item)=>{
						return item.componentInstance ? !item.componentInstance.validate() : false
					});

					if ( isError.length ){
						reject("Проверьте корректность заполнения полей");
					} else {
						resolve();
					}

				});
			}
		},

		components:{
		}
	}
</script>

<style lang="scss">

	.form-wrap{
		//max-width: 600px;
		display: flex;
		flex-wrap: wrap;
		margin: 0 (-$fGutter / 2);
	}
	
</style>