<template lang="pug">

	.form-item(v-if="value === undefined") Не определено значение v-model
	.form-item(:class="`form-item_${type}`", v-else)
		.form-item__title(v-if="options.title", v-html="options.title")
		.form-item__field(:class="{'form-item__field_filled': isFilled, 'form-item__field_focus': isFocus, 'form-item__field_error': isError, 'form-item__field_disabled' : isDisabled }")
			div(:is="`form-${type}`", :value="value", :options="options", @input="onInput", @change="onChange", @keyup="onKeyup", @focus="onFocus", @blur="onBlur", @debounce="$emit('debounce', $event)", :disabled="isDisabled")
				slot(name="dropdown")
			.form-item__placeholder(v-if="options.placeholder", v-html="options.placeholder", :class="{'form-item__placeholder_fold': hidePlaceholder}")
		.form-item__message.form-item__message_error(v-if="messageError", v-html="messageError")
		.form-item__note
			slot


</template>


<script>

	import FormText from './text'
	import FormTextarea from './textarea'
	import FormSelect from './select'
	import FormRadio from './radio'
	import FormCheckbox from './checkbox'
	import FormFile from './file'
	import FormPassword from './password'
	import FormDate from './date'
	import FormEditor from './editor'

	export default {
		name: 'form-field',

		props: {
			type: {
				type: String,
				required: true
			},
			value: {
				type: [String, Array, Number, Object, Boolean, Date],
			},
			options: {
				type: Object,
				default: {}
			},
			required: {
				type: Boolean,
				default: false
			}
		},

		data() {
			return {
				isError: false,
				messageError: '',
				isFocus: false,
				isRequired: this.options.required || this.required
			}
		},

		computed: {
			hidePlaceholder(){
				return this.isFocus || this.isFilled;
			},

			isFilled(){
				return Array.isArray(this.value) ? !!this.value.length : !!this.value;
			},

			isDisabled(){

				if ( this.type === 'select' && !(this.options.items && this.options.items.length)){
					return true;
				}

				if ( this.type === 'scheme' && (!this.options.image )){
					return true;
				}

				return this.options.disabled;
			}
		},

		watch: {

		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

		},

		methods:{
			onInput(e){
				this.isError = false;
				this.messageError = '';

				let val = e.target.value;

				if ( this.type === 'select' && this.options && this.options.multiple ){
					val = [...e.target.options].filter(option => option.selected).map(option => option.value)
				} else if ( this.type === 'checkbox' && Array.isArray(this.value) ) {
					if ( e.target.checked ){
						val = [...this.value, e.target.value];
					} else {
						let idx = this.value.indexOf(e.target.value);
						val = [...this.value.slice(0, idx), ...this.value.slice(idx + 1)]
					}
				} else if ( this.type === 'checkbox' ) {
					val= e.target.checked;
				}

				this.$emit('input', val);

				if ( this.options.onInput && typeof this.options.onInput === 'function') this.options.onInput();
			},

			onChange(e, data){
				this.isError = false;
				this.messageError = '';
				let val = e.target ? e.target.value : undefined;
				if ( this.options.onChange && typeof this.options.onChange === 'function') this.options.onChange(e, data);
				this.$emit('change', val);
			},

			onKeyup(e){
				if ( this.options.onKeyup && typeof this.options.onKeyup === 'function') this.options.onKeyup();
				this.$emit('keyup');
			},

			onFocus(e){
				this.isFocus = true;
				if ( this.options.onFocus && typeof this.options.onFocus === 'function') this.options.onFocus();
				this.$emit('focus');
			},

			onBlur(e){
				this.isFocus = false;
				if ( this.options.onBlur && typeof this.options.onBlur === 'function') this.options.onBlur();
				this.$emit('blur');
			},



			validate(){

				this.isError = false;
				this.isEmpty = false;
				this.messageError = '';

				if ( Array.isArray(this.value) ){
					this.isEmpty = this.value.length <= 0;
					if ( this.type === 'file' && this.value.length > 0 ) {
						let removed = this.value.filter(e => e.removed).length;
						this.isEmpty = removed >= this.value.length;
					}
				} else {
					this.isEmpty = !this.value
				}

				if ( this.isRequired ){
					this.isError = this.isEmpty;
				}

				if ( this.type === 'date' ){
					this.isError = isNaN(Date.parse(this.value));
				}


				if ( this.options.rules ){

					let errorList = [];

					if ( this.options.rules.empty ){		// empty:String
						if ( this.isEmpty ) {
							errorList.push(this.options.rules.empty);
							this.isError = true;
						}
					}

					if ( this.options.rules.pattern && this.options.rules.pattern.length ){ 			// pattern:Array [ { regex:Regex, message:String } ]
						this.options.rules.pattern.map(item => {
							if ( item.regex && item.regex instanceof RegExp && !item.regex.test(this.value) ) {
								if (item.message) errorList.push(item.message);
								this.isError = true;
							}
						});
					}

					if ( this.options.rules.antiPattern && this.options.rules.antiPattern.length ){ 	// pattern:Array [ { regex:Regex, message:String } ]
						this.options.rules.antiPattern.map(item => {
							if ( item.regex && item.regex instanceof RegExp && item.regex.test(this.value) ) {
								if (item.message) errorList.push(item.message);
								this.isError = true;
							} else if ( item.regex && typeof item.regex === 'string' && this.value === item.regex ){
								if (item.message) errorList.push(item.message);
								this.isError = true;
							}
						});
					}

					if ( this.options.rules.min ){		// min:Object [ { value:Regex, message:String } ]
						if ( this.value.length < this.options.rules.min ) {
							if (this.options.rules.min.message) errorList.push(this.options.rules.min.message);
							this.isError = true;
						}
					}

					if ( this.options.rules.max ){		// min:Object [ { value:Regex, message:String } ]
						if ( this.value.length > this.options.rules.max ) {
							if (this.options.rules.max.message) errorList.push(this.options.rules.max.message);
							this.isError = true;
						}
					}

					if ( errorList.length ) this.messageError = errorList[0];
				}

				return !this.isError;
			},



		},

		components:{
			FormText,
			FormTextarea,
			FormSelect,
			FormRadio,
			FormCheckbox,
			FormFile,
			FormPassword,
			FormDate,
			FormEditor,
		}
	}
</script>

<style lang="scss">

	.form-add{
		display: flex;
		width: 100%;

		.form-item{
			flex: 1 1 0;

			&_add{
				flex: 0;
				width: auto;
			}
		}
	}


	.form-item{
		line-height: $fLineHeight;
		margin-bottom: 20px;
		width: 100%;
		padding: 0 ($fGutter / 2);
		box-sizing: border-box;

		&.w50{
			@include breakPoint($breakPoint_tablet){
				width: 50%;
			}
		}

		&__title{
			font-size: $fFontSize;
			font-weight: 600;
			margin-bottom: 5px;
		}
		&__field{
			position: relative;

			&_focus{
			}

			&_error{
			}

			&_disabled{
				cursor: default;
			}
		}

		&__input{
			border: $fWidthBorder solid $fColorBorder;
			border-radius: $roundElement;
			transition: all .3s ease;
			box-shadow: 0 0 0 1px transparent;
			min-height: ($fLineHeight * $fFontSize) + (2 * $fOffsetY) - $fWidthBorder;
			background: $inputBg;

			.form-item__field_focus &{
				border-color: $fColorFocus;
				box-shadow: 0 0 0 3px rgba($fColorFocus, .5);
			}


			&:hover{
				border-color: $fColorFocus;
			}

			.form-item__field_disabled &{
				border-color: $fColorBorder;
				box-shadow: none;
				background: $fColorBorder;
			}

			.form-item__field_error &{
				border-color: $fColorError;
				box-shadow: 0 0 0 3px rgba($fColorError, .5);
			}

			&-arrow{
				position: absolute;
				top: 5px;
				right: 0px;
				margin-right: 0!important;
			}

			&-clear{
				position: absolute;
				top: 5px;
				right: 24px;
				cursor: pointer;
			}

			input{
				//box-shadow: inset 0 0 0 20px #fff;
				.form-item__field_disabled &{
					cursor: default;
				}
			}

			textarea{
				padding: $fOffsetY $fOffsetX;
				box-sizing: border-box;
				width: 100%;
				min-height: 120px;

				.form-item__field_disabled &{
					cursor: default;
				}
			}
		}

		&__placeholder{
			position: absolute;
			top: $fOffsetY + $fWidthBorder;
			left: $fOffsetX + $fWidthBorder;
			pointer-events: none;
			transition: all .3s ease;
			box-shadow: 0 -1px 0 4px $inputBg;
			color: $colorGreyText;
			background: $inputBg;
			border-radius: $roundElement;
			//-background: $inputBg;

			.form-item_editor &{
				top: 50px;
			}


			&_fold{
				font-size: .8em;
				top: (-$fWidthBorder * 1.3 );
				line-height: 0.3;
				color: $colorGreyText;

				.form-item_editor &{
					top: (-$fWidthBorder );
				}
			}

			.form-item__field_disabled &{
				background: $fColorBorder!important;
				box-shadow: 0 -1px 0 4px $fColorBorder;
			}
		}

		&__note{
			font-size: 12px;
			color: $colorGreyText;
		}

		&__tag{
			display: inline-flex;
			align-items: center;
			background: $fColorBorder;
			color: #fff;
			border-radius: $roundElement;
			padding: 2px 5px;
			font-size: 12px;
			margin: 6px 5px 6px 0;
			user-select: none;

			&:hover{

			}

			&-item{
				white-space: nowrap;
			}

			&-clear{
				cursor: pointer;
				margin-left: 5px;
				width: 16px;
				height: 16px;
				font-size: 0;

				&:hover{
					color: $colorRed;
				}

				svg{
					width: 100%;
					height: 100%;
				}
			}
		}

		&__message{
			font-size: 12px;
			margin-top: 5px;

			&_error{
				color: $colorRed;
			}
		}

		&__dropdown{
			position: absolute;
			left: 0;
			width: calc(100% - #{2 * $fWidthBorder});
			border: $fWidthBorder solid $fColorBorder;
			background: $inputBg;
			z-index: 3;

			// bottom
			top: calc(100% - #{$roundElement});
			border-top: 0;
			border-radius: 0 0 $roundElement $roundElement;
			min-height: ($roundElement - $fWidthBorder);
			max-height: 200px;

			.form-item__field_focus &{
				border-color: $fColorFocus;
			}

			.form-item__field_error &{
				border-color: $fColorError;
			}

			&-item{
				padding: ($fOffsetY / 2) $fOffsetX;
				cursor: pointer;

				&:hover{
					background-color: rgba($fColorFocus, .5);
				}
				&_active{
					background-color: $fColorFocus !important;
					color: #fff;
				}
			}
		}

		img{
			max-width: 100%;
		}
	}

</style>