<template lang="pug">
	.form-item__radio
		.form-item__radio-item(v-for="(item, index) in options.items", :key="index")
			input(
				:id="`radio_${_uid}_${index}`",
				:name="`radio_${_uid}`",
				type='radio',
				:value="item.value",
				:disabled="disabled",
				:checked="item.value === value",
				@input="onInput", @change="onChange")
			label(:for='`radio_${_uid}_${index}`') {{ item.label || item.value }}

</template>

<script>

	export default {

		props: {
			disabled: {
				type: Boolean,
				default: false
			},
			options: {
				type: Object
			},
			value: {
				type: [String]
			}
		},

		data() {
			return {

			}
		},

		computed: {

		},

		mounted(){

		},

		methods:{

			onInput(e){
				this.$emit('input', e)
			},

			onChange(e){
				this.$emit('change', e)
			},

			onFocus(e){
				this.$emit('focus', e)
			},

			onBlur(e){
				this.$emit('blur', e)
			},
		},

		components:{
		}
	}
</script>

<style lang="scss">
	.form-item__radio{

		&-item{
			display: inline-block;



			label{
				display: block;
				position: relative;
				padding: $fOffsetY 0 $fOffsetY 25px;
				margin-right: 20px;

				&:before{
					content: '';
					width: 12px;
					height: 12px;
					border: 3px solid currentColor;
					border-radius: 50%;
					position: absolute;
					display: block;
					top: ($fOffsetY - 2px);
					left: 0;
					transition: all .3s ease;
					background: no-repeat 50% 50%;
					background-size: 14px 14px;
					color: $fColorBorder;

					.form-item__field_error &{
						color: $fColorError;
					}

					.form-item__field_disabled &{
						color: $fColorBorder!important;
					}
				}

				&:hover{
					&:before{
						color: $fColorFocus;

					}
				}
			}

			input{
				opacity: 0;
				position: absolute;
				pointer-events: none;

				&:checked{

					& ~ label:before{
						color: $fColorFocus;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Ccircle fill='%23278ef6' cx='20' cy='20' r='10'/%3E%3C/svg%3E%0A");

						.form-item__field_disabled &{
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Ccircle fill='%23ccc' cx='20' cy='20' r='10'/%3E%3C/svg%3E%0A");
						}
					}
				}
			}
		}
	}
</style>