<template lang="pug">
	.form-item__input
		select(:multiple="options.multiple", :disabled="disabled")
			option(v-for="(item, index) in options.items", :key="index", :value="item.value", :disabled="item.disabled", :selected="activeItem(item.value)") {{ item.label || item.value }}
		.form-item__input-value.multiple(v-if="options.multiple")
			.form-item__tag(v-if="Array.isArray(value)", v-for="(tag, index) in value", :key="index")
				.form-item__tag-value {{ getValue(tag) }}
				.form-item__tag-clear(@click.prevent="selectItem(tag)"): icon(name="close")
			span(v-else) Multiple select must be an array
			input(type="text", v-model.trim="search", v-if="options.search && !disabled").form-item__input-search
		.form-item__input-value(v-else)
			input(type="text", v-model.trim="search", v-if="options.search && !disabled").form-item__input-search
			span(v-if="!search") {{ getValue(value) }}

		.form-item__input-clear(v-if="!disabled && value && !options.required", @mousedown.stop="clearAll"): icon(name="close")
		icon.form-item__input-arrow(v-if="!disabled", :name="dropList ? 'unfold-less-horizontal' : 'unfold-more-horizontal'")

		transition(mode='out-in')
			.form-item__dropdown(v-scrollbar, v-if="dropList && !disabled")
				.form-item__dropdown-inner
					.form-item__dropdown-item(
						v-for="(item, index) in options.items",
						:key="index",
						@click="selectItem(item.value, item.hold)",
						:class="{'form-item__dropdown-item_active' : activeItem(item.value), 'form-item__dropdown-item_hold' : item.hold, 'form-item__dropdown-item_current' : item.current}",
						v-if="searchString(item) && !item.disabled"
						) {{ levelIndent(item.level) }} {{ item.label || item.value }}

</template>

<script>

	export default {

		props: {
			disabled: {
				type: Boolean,
				default: false
			},
			options: {
				type: Object
			},
			value: {
				type: [Array, String, Number]
			}
		},

		data() {
			return {
				dropList: false,
				search: ''
			}
		},

		computed: {

		},

		mounted(){

			document.addEventListener('mousedown', this.toggleDropList);

		},

		beforeDestroy(){

			document.removeEventListener('mousedown', this.toggleDropList);

		},

		watch:{
			value(val){
				let item = this.options.items.find(item => item.value === val) || {};
				this.$emit('change', val, item.data)
			}
		},

		methods:{

			selectItem(val, disable){
				if (disable) return false;
				let option = [...this.$el.getElementsByTagName('select')[0].options].find(option => option.value.toString() === val.toString());
				option.selected = !option.selected;
				this.$emit('input', {target: this.$el.getElementsByTagName('select')[0]});
				this.dropList = false;
				this.search = '';
				this.$emit('blur');
			},

			activeItem(val){
				return !!this.value ? this.value.indexOf(val.toString()) >= 0 : false;
			},

			searchString(item){
				if ( !this.search || !item ) return true;

				let val = item.label || item.value;

				return val.toLowerCase().indexOf(this.search.toLowerCase()) >= 0;

			},

			toggleDropList(e){

				if ( this.disabled ) return;

				let closest = e.target.closest(`.${this.$el.classList[0]}`),
					clear = e.target.closest(`.form-item__tag-clear`)
				;

				if ( this.$el.isEqualNode(closest) && !clear ){
					this.dropList = true;
					this.$emit('focus')
				} else {
					this.$emit('blur');
					this.dropList = false;
					this.search = '';
				}

			},

			getValue(value){
				let val = this.value && Array.isArray(this.options.items) && this.options.items.length ? this.options.items.find(i => i.value.toString() === value.toString()) : {};
				return val && val.label ? val.label : value
			},

			clearAll(){
				this.$emit('input', {target: { value: Array.isArray(this.value) ? [] : '' }});
			},

			levelIndent(level){
				let indent = '';
				if (level && typeof level === 'number'){
					for (let i = 0; i < level; i++){
						indent += ' - '
					}
				}
				return indent;
			}

		},

		components:{
		}
	}
</script>

<style scoped lang="scss">
	select{
		opacity: 0;
		position: absolute;
		pointer-events: none;
	}

	.form-item__input-value{
		display: block;
		padding: $fOffsetY 30px $fOffsetY $fOffsetX;
		box-sizing: border-box;
		width: 100%;
		min-height: ($fLineHeight * $fFontSize) + (2 * $fOffsetY) - $fWidthBorder;

		&.multiple{
			padding: 0 30px 0 $fOffsetX;
		}
	}

	.form-item__input-search{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: $fOffsetY $fOffsetX;
	}

	.multiple{
		.form-item__input-search{
			position: static;
			width: auto;
			padding: $fOffsetY 0;
		}
	}

</style>