<template lang="pug">
	.form-item__input
		textarea(
			v-scrollbar,
			:value="value",
			@input="onInput",
			@change="onChange",
			@keyup="onKeyup",
			@focus="onFocus",
			@blur="onBlur",
			:disabled="disabled",
			:maxlength="options.max"
			)

</template>

<script>

	export default {

		props: {
			disabled: {
				type: Boolean,
				default: false
			},
			options: {
				type: Object
			},
			value: {
				type: [String]
			}
		},

		data() {
			return {

			}
		},

		computed: {

		},

		mounted(){

		},

		methods:{

			onInput(e){
				this.$emit('input', e)
			},

			onChange(e){
				this.$emit('change', e)
			},

			onKeyup(e){
				this.$emit('keyup', e)
			},

			onFocus(e){
				this.$emit('focus', e)
			},

			onBlur(e){
				this.$emit('blur', e)
			},
		},

		components:{
		}
	}
</script>

<style lang="scss">

</style>