<template lang="pug">
	.form-item__input
		input(
			type='text',
			:value="value",
			@input="onInput",
			@change="onChange",
			@keyup="onKeyup",
			@focus="onFocus",
			@blur="onBlur",
			:disabled="disabled",
			:maxlength="options.max"
			)

		transition(mode='out-in')
			.form-item__dropdown(v-scrollbar, v-if="$slots.default")
				slot.form-item__dropdown-inner


</template>

<script>

	import Inputmask from 'inputmask'

	export default {

		props: {
			disabled: {
				type: Boolean,
				default: false
			},
			options: {
				type: Object
			},
			value: {
				type: [String]
			}
		},

		data() {


			return {
				throttleTimer: null
			}
		},

		computed: {

		},

		mounted(){

			if ( this.options.mask ){
				new Inputmask({
					mask: this.options.mask,
					showMaskOnHover: false,
					onincomplete: (e)=>{
						e.target.value = '';
						this.$emit('input', e)
					}
				}).mask(this.$el.querySelectorAll('input')[0]);
			}

		},

		methods:{

			onInput(e){
				this.$emit('input', e)
			},

			onChange(e){
				this.$emit('change', e)
			},

			onKeyup(e){
				this.$emit('keyup', e);

				clearTimeout(this.throttleTimer);
				this.throttleTimer = setTimeout(()=>{
					this.$emit('debounce', e);
				}, this.options.debounce || 500)
			},

			onFocus(e){
				this.$emit('focus', e)
			},

			onBlur(e){
				this.$emit('blur', e)
			},

		},

		components:{
		}
	}
</script>

<style scoped lang="scss">
	input{
		display: block;
		padding: $fOffsetY $fOffsetX;
		box-sizing: border-box;
		width: 100%;
	}
</style>