extends layout/template

block vars
	- var pageTitle = "404";


block head

block content


	.article
		.inner
			.article__wrap
				.article__aside
					.article__aside-stick
						.article__stick
							.downloadprice
								a(href="#", target="_blank").downloadprice__inner
									.downloadprice-icon: i.fa.fa-file-pdf-o
									.downloadprice-text Скачать прайслист

				.article__content
					.breadcrumbs
						a(href="/").breadcrumbs__item Главная
						.breadcrumbs__item Консультации


					.content

						h1.bp__text-xxlarge.bp__text-center 404
						p.bp__text-title.bp__text-center Страница не найдена
						p.bp__text-center Пожалуйста, перейдите на 
							a главную страницу


							.note.bp__margin-top-xlarge
								p: img(src='#')
								p Ни один электронный портал не заменит Вам живого общения со специалистом в области учета, анализа и отчетности.						

