extends layout/template

block vars
	- var pageTitle = "О компании";


block head

block content

	include content/about	
	include content/specialists

	.inner
		//- include content/consult

block append
