extends layout/template

block vars
	- var pageTitle = "Доктора";
	- var pageDescription = 'Карточка доктора'


block head

block content

	include content/doctors	

	.inner
		//- include content/consult

block append
