extends layout/template

block vars
	- var pageTitle = "Главная";


block head

block content

	include content/banners

	include content/services_list

	include content/advantages

	include content/problems

	include content/specialists

	include content/reviews

	.inner
		//- include content/consult

block append
