extends layout/template

block vars
	- var pageTitle = "Главная";


block head

block content

	include content/servises_1

	include content/specialists

	include content/servises_2

	.inner
		//- include content/consult

block append
