<template lang="pug">
	.msd
		transition(mode='out-in')
			.msd__loader(v-if="loading")
		transition(mode='out-in', name="layout")
			Layout(v-if="authorized === true") 1
		transition(mode='out-in', name="layout")
			Logout(v-if="authorized === false") 2

</template>

<script>

	import Layout from './components/layout/index'
	import Logout from './components/layout/login'
	import {mapState} from "vuex";

	export default {
		data () {
			return {

				loading: false,

			}
		},

		mounted (){
			this.$store.dispatch('base/checkAuth');

			this.dragdrop();

			this.$eventHub.$on('start-loading', ()=> { this.loading = true; });
			this.$eventHub.$on('finish-loading', ()=> { this.loading = false; });
		},

		methods: {
			dragdrop(){
				let body = document.body;

				['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
					body.addEventListener(eventName, (e)=>{
						e.preventDefault();
					}, false)
				});
				['dragenter', 'dragover'].forEach(eventName => {
					body.addEventListener(eventName, ()=>{
						body.classList.add('on-drag')
					}, false)
				});
				['dragleave', 'drop'].forEach(eventName => {
					body.addEventListener(eventName, ()=>{
						body.classList.remove('on-drag')
					}, false)
				});
			}
		},

		computed: {

			...mapState({
				authorized: state => state.base.authorized
			})
		},

		watch: {


		},

		components: {
			Layout,
			Logout
		},

	}
</script>

<style lang="scss">

</style>