<template lang="pug">
	.msd-form(v-if="pageLoaded")
		form-wrap(ref="form")
			form-field(type="text", v-model="title", :options="fields.title")
			form-field(type="text", v-model="keywords", :options="fields.keywords")
			//-form-field(type="text", v-model="slug", :options="fields.slug")
			form-field(type="textarea", v-model="description", :options="fields.description")
			form-field(type="editor", v-model="html", :options="fields.html")
			form-field(type="file", v-model="gallery", :options="fields.gallery")
			form-field(type="checkbox", v-model="publish", :options="fields.publish")
			form-field(type="select", v-model="routing", :options="fields.routing")

		div
			btn-case
				btn(blue, @click="submit", :loading="btnLoad") {{ pageId ? 'Сохранить страницу' : 'Добавить страницу'}}
				btn(red, @click="deletePopup = true", v-if="pageId") Удалить страницу

		popup(v-model="deletePopup", @onClose="deletePopup = false").popup_info
			.popup__title Удалить запись.
			.popup__text
				p Вы уверены что хотите удалить "{{ title }}"?
				p После удаления, восстановить будет невозможно.
			.popup__footer
				btn-case
					btn(red @click="deleteConfirm()", :loading="deleteBtnLoading") Удалить
					btn(blue @click="deletePopup = false") Отменить

</template>

<script>

	import moment from "moment";
	import {mapState} from "vuex";

	export default {
		props: {
			pageId: {
				type: [String, Number],
				default: null
			},
		},

		data () {
			return {

				deleteBtnLoading: false,
				deletePopup: false,

				btnLoad: false,

				pageLoaded: false,

				fields: {

					routing: {
						placeholder: 'Ссылки',
						search: true,
						multiple: true,
						items: [],
						onChange: (val, data)=>{

						}
					},
					title: {
						placeholder: 'Заголовок',
						required: true,
						max: 200,
						rules: {
							empty: 'Укажите заголовок новости',
						},

					},
					keywords: {
						placeholder: 'Ключевые слова',
					},
					// slug: {
					// 	required: true,
					// 	placeholder: 'slug',
					// },
					description: {
						placeholder: 'Краткое описание'
					},
					html: {
						required: true,
						placeholder: 'Текст новости'
					},
					gallery: {
						placeholder: 'Фотографии новости',
						multiple: true,
						max: 10,
						accept: ['png', 'jpg', 'jpeg'],
					},
					publish: {
						label: 'Опубликовать'
					},
				}
			}
		},

		computed: {
			...mapState({
				page: state => state.page.item,
				pages: state => state.page.list,
				sections: state => state.section.list,
			}),


			routing: {
				get() {
					return this.page.routing;
				},
				set(value) {
					this.$store.dispatch("page/setCurrent", {name: 'routing', value});
				}
			},

			title: {
				get() {
					return this.page.title;
				},
				set(value) {
					this.$store.dispatch("page/setCurrent", {name: 'title', value});
				}
			},

			keywords: {
				get() {
					return this.page.keywords;
				},
				set(value) {
					this.$store.dispatch("page/setCurrent", {name: 'keywords', value});
				}
			},

			description: {
				get() {
					return this.page.description;
				},
				set(value) {
					this.$store.dispatch("page/setCurrent", {name: 'description', value});
				}
			},

			// slug: {
			// 	get() {
			// 		return this.page.slug;
			// 	},
			// 	set(value) {
			// 		this.$store.dispatch("page/setCurrent", {name: 'slug', value});
			// 	}
			// },

			html: {
				get() {
					return this.page.html;
				},
				set(value) {
					this.$store.dispatch("page/setCurrent", {name: 'html', value});
				}
			},

			gallery: {
				get() {
					return this.page.gallery;
				},
				set(value) {
					this.$store.dispatch("page/setCurrent", {name: 'gallery', value});
				}
			},

			publish: {
				get() {
					return this.page.publish;
				},
				set(value) {
					this.$store.dispatch("page/setCurrent", {name: 'publish', value});
				}
			},
		},

		created(){
			this.loadData()
		},

		mounted (){

		},

		methods: {

			loadData(){
				if ( this.pageId ){
					this.getItem();
				} else {
					this.setDefault();
				}
				this.loadRouting();
			},

			getItem(){
				this.$store.dispatch('page/getItem', this.pageId).finally(()=>{ this.pageLoaded = true; });
			},

			setDefault(){
				this.pageLoaded = true;
				this.$store.dispatch('page/setDefault');
			},

			loadRouting(){
				this.$store.dispatch('page/getAll').then(()=>{
					this.fields.routing.items = this.pages
						.filter(item => item.id !== this.pageId )
						.map(item => {
							return {
								value: item.id,
								label: item.title
							}
					});
				});
			},

			submit(){

				let method = this.pageId ? 'page/edit' : 'page/add';

				this.$refs.form.validate()
					.then(()=>{
						this.btnLoad = true;
						this.$store.dispatch(method).then(()=>{
							this.$emit('onFormSubmit');
						}).finally(()=>{
							this.btnLoad = false;
						});
					}, error => {
						this.$toast.error(error);
					});
			},


			deleteConfirm(){
				this.deleteBtnLoading = true;
				this.$store.dispatch('page/delete', this.pageId).then(()=>{
					this.deletePopup = false;
					this.deleteBtnLoading = false;
					this.$emit('onFormSubmit');
				});
			}
		},

		watch: {
			'$route' () {
				this.loadData();
			},
		},

		components: {

		},

	}
</script>

<style lang="scss">

</style>