<template functional lang="pug">
	.msd-article
		slot
</template>


<script>
	export default {

	}
</script>

<style scoped lang="scss">

	.msd-article{

		&::v-deep p{
			margin: 15px 0;
		}

		&::v-deep a{
			color: $colorDashboardGreen;

			&:hover{
				text-decoration: underline;
			}
		}
	}


</style>