<template functional lang="pug">
	.msd-breadcrumbs__item
		slot
</template>


<script>
	export default {

	}
</script>

<style scoped lang="scss">
	.msd-breadcrumbs__item{
		margin: 0 10px 10px 0;
		color: $colorGreyText;

		&:after{
			content: '>';
			margin-left: 10px;
			text-decoration: none!important;
		}

		&:last-child{
			&:after{
				display: none;
			}
		}

		&::v-deep a{
			color: $colorGreen;
			cursor: pointer;

			&:hover{
				text-decoration: underline;
			}
		}

	}

</style>