<template functional lang="pug">
	.msd-title
		slot
</template>


<script>
	export default {

	}
</script>

<style scoped lang="scss">


	.msd-title{
		font-weight: 600;
		font-size: 22px;
		margin-bottom: 30px;
	}


</style>