<template functional lang="pug">
	.msd-breadcrumbs
		slot
</template>


<script>
	export default {

	}
</script>

<style scoped lang="scss">
	.msd-breadcrumbs{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 10px;
	}

</style>