<template lang="pug">
	.msd__inner(:class="{'msd_toggle': asideCompact}")
		.msd__overlay(@click="asideCompact = !asideCompact")
		.msd__aside
			.msd__aside-header
				.msd__aside-header-ouner bi-pi.ru
				.msd__aside-header-handler(@click="asideCompact = !asideCompact"): i
			.msd__aside-middle(v-scrollbar)
				page-navigation
			//-.msd__aside-footer
		.msd__main
			page-header
			.msd__main-middle
				router-view
			.msd__main-footer Административная панель msd.2.1

</template>

<script>

	import PageNavigation from './page-navigation'
	import PageHeader from './page-header'

	export default {
		data () {
			return {
				asideCompact: false
			}
		},

		mounted (){

		},

		methods: {

		},

		computed: {

		},

		watch: {
			admin(e){
				console.info(e)
			}

		},

		components: {
			PageNavigation,
			PageHeader
		},

	}
</script>

<style lang="scss">

	.msd{
		height: 100%;
		width: 100%;
		position: relative;
		box-sizing: border-box;

		&__loader{
			position: fixed;
			left: 0;
			bottom: 0;
			width: 50px;
			height: 50px;
			margin: auto;
			background: url("../../img/svg/btn-loader.svg") no-repeat 50% 50%;
			background-size: contain;
			z-index: 100;
		}

		&__inner{
			position: relative;
			height: 100%;

			.msd_open &{

			}
		}

		&__overlay{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(#000, .5);
			z-index: 2;
			transition: all .3s ease;
			pointer-events: none;
			opacity: 0;

			.msd_toggle &{
				pointer-events: all;
				opacity: 1;

				@include breakPoint($breakPoint_compact){
					display: none;
				}
			}


		}

		&__aside{
			display: flex;
			flex-direction: column;
			transition: all 0.3s ease;
			background: $colorDashboardDarkMedium;
			width: $asideMax;
			position: fixed;
			top: 0;
			left: $asideMin - $asideMax;
			color: #fff;
			height: 100%;
			z-index: 3;
			border-radius: 0 $roundComponent $roundComponent 0;
			box-shadow: -5px 0 5px 5px rgba(43,43,43,.1), 11px 0 6px -7px rgba(43,43,43,.1);

			@include breakPoint($breakPoint_compact){
				left: 0;
			}

			.msd_toggle &{
				left: 0;

				@include breakPoint($breakPoint_compact){
					left: $asideMin - $asideMax;
				}
			}

			&-header{
				min-height: $headerHeight;
				max-height: $headerHeight;
				box-sizing: border-box;

				display: flex;
				justify-content: space-between;
				align-items: center;
				position: relative;

				&-ouner{
					padding: $padding;
					font-weight: 600;
					font-size: 16px;
				}

				&-handler{
					min-width: 30px;
					max-width: 30px;
					height: 30px;
					position: relative;
					padding: $padding;
					cursor: pointer;
					color: #fff;

					i{
						width: 26px;
						height: 2px;
						position: absolute;
						background: currentColor;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						border-radius: 5px;

						&:before, &:after{
							content: '';
							width: 100%;
							height: 100%;
							background: inherit;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							transition: all 0.3s ease;
							border-radius: 5px;
						}

						&:before{
							margin-top: -8px;
						}

						&:after{
							margin-top: 8px;
						}
					}

					&:hover{

						i{
							&:before{
								margin-top: -10px;
							}

							&:after{
								margin-top: 10px;
							}
						}
					}
				}
			}
			&-middle{
				flex: 1;
				overflow: hidden;
				//overflow-y: auto;
			}
			&-footer{
				padding: $padding;
				min-height: $headerFooter;
				max-height: $headerFooter;
				box-sizing: border-box;
				display: flex;
				align-items: center;
				cursor: pointer;

				.icon{
					margin-right: $padding;
				}
			}
		}

		&__main{
			display: flex;
			flex: 1;
			flex-direction: column;
			transition: all 0.3s ease;
			padding-top: $headerHeight;
			min-height: 100%;
			padding-left: $asideMin;
			box-sizing: border-box;
			overflow: hidden;

			@include breakPoint($breakPoint_compact){
				padding-left: $asideMax;
			}

			.msd_toggle &{

				@include breakPoint($breakPoint_compact){
					padding-left: $asideMin;
				}
			}

			&-header{
				height: $headerHeight;
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				transition: padding 0.3s ease;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: $padding $padding $padding ($padding + $asideMin);
				box-sizing: border-box;
				background: #fff;
				z-index: 2;
				box-shadow: $boxshadow;

				@include breakPoint($breakPoint_compact){
					padding-left: $padding + $asideMax;
				}

				.msd_toggle &{

					@include breakPoint($breakPoint_compact){
						padding-left: $asideMin + $padding;
					}
				}

				&-title{
					font-weight: 600;
					font-size: 16px;
				}
			}
			&-middle{
				flex: 1;
				padding: $padding;
				box-sizing: border-box;
			}
			&-footer{
				min-height: $headerFooter;
				max-height: $headerFooter;
				padding: $padding;
				box-sizing: border-box;
				display: flex;
				align-items: center;
			}
		}

		&__user{

			&-image{
				height: 40px;
				width: 40px;
				display: block;
				background: $colorDashboardGreen;
				border-radius: 50%;
				text-align: center;

				.icon{
					height: 100%;
					color: #fff;
				}
			}

			&-name{

			}

			&-menu{

			}

			&-link{

			}
		}
	}
</style>