<template lang="pug">
	popup(v-model="popup", hideCloseBtn).popup_auth
		.popup__title Авторизация

		form.form-wrap(@submit.prevent="login", @keyup.enter="login", autocomplete="off")
			form-field(type="text", v-model="model.login", :options="options.login")
			form-field(type="password", v-model="model.password", :options="options.password")
			btn(blue, :loading="loading", :disabled="!model.login || !model.password", @click="login") Войти


</template>

<script>

	export default {
		data () {
			return {

				loading: false,

				popup: true,

				options:{
					login: {
						placeholder: 'Логин',
						required: true,
					},
					password: {
						placeholder: 'Пароль',
						required: true,
					}
				},

				model: {
					login: '',
					password: ''
				}
			}
		},

		mounted (){
		},

		methods: {
			login(){

				this.loading = true;

				this.$store.dispatch('base/logIn', this.model)
					.finally(()=>{
						this.loading = false;
					})
				;

				/*let valid = true;

				Object.keys(this.fields).forEach((i)=>{
					if ( this.fields[i].name && this.$refs[this.fields[i].name] ) {
						if (this.$refs[this.fields[i].name].validate().errors.length){
							valid = false;
						}
					}
				});

				if ( valid && !this.loading ){
					this.loading = true;
					this.$api(
						'login',
						this.model,
						(data)=>{
							this.$store.dispatch('loadCurrentUser');
						},
						(err)=>{
						},
						()=>{
							this.loading = false;
						},
					);
				}*/
			},
		},

		computed: {

		},

		watch: {

		},

		components: {

		},

	}
</script>

<style lang="scss">


	.popup {

		&_auth{
			.popup{
				&__layout{
					width: 350px;
				}
			}
		}



		&_map{
			.popup{
				//&__layout{
				//	width: auto;
				//}

				&__content{
					padding: 0;
				}

				&__control{
					position: absolute;
					z-index: 1;
					right: 20px;
					bottom: 20px;
					pointer-events: none;
					left: 20px;
					text-align: right;

					.btn{
						margin-left: 10px;
						pointer-events: auto;
					}
				}

			}
		}
	}
</style>