<template lang="pug">
	nav.nav
		.nav__list
			router-link.nav__item(to="/", v-ripple)
				.nav__ico: icon(name="home")
				.nav__link Главная

			router-link.nav__item(to="/manager", v-ripple, v-if="isSuper")
				.nav__ico: icon(name="account-tie")
				.nav__link Администраторы

			router-link.nav__item(to="/news", v-ripple)
				.nav__ico: icon(name="newspaper-variant")
				.nav__link Новости

			router-link.nav__item(to="/part", v-ripple)
				.nav__ico: icon(name="page-layout-header-footer")
				.nav__link Фиксированные страницы

			.nav__group
				.nav__title Настраиваемые разделы

				router-link.nav__item(to="/section", v-ripple)
					.nav__ico: icon(name="format-section")
					.nav__link Разделы

				router-link.nav__item(to="/page", v-ripple)
					.nav__ico: icon(name="page-layout-body")
					.nav__link Страницы

			.nav__group
				.nav__title Статьи

				router-link.nav__item(to="/articles_section", v-ripple)
					.nav__ico: icon(name="format-line-style")
					.nav__link Разделы статей


				router-link.nav__item(to="/article", v-ripple)
					.nav__ico: icon(name="format-float-left")
					.nav__link Страницы статей

</template>

<script>

	import {mapGetters, mapState} from "vuex";

	export default {
		data () {
			return {

			}
		},

		mounted (){
		},

		methods: {
		},

		computed: {
			...mapGetters({
				admin: 'base/getAdmin',
				isSuper: 'base/isSuper'
			}),
			...mapState({
			}),
		},

		watch: {

		},

		components: {

		},

	}
</script>

<style lang="scss">

	$colorNavItem: $colorDashboardGreen;

	.nav{
		color: #fff;

		&__list{

			transition: margin-left 0.3s ease;
			margin-left: $asideMax - $asideMin;

			@include breakPoint($breakPoint_compact){
				margin-left: 0;
			}

			.msd_toggle &{
				margin-left: 0;

				@include breakPoint($breakPoint_compact){
					margin-left: $asideMax - $asideMin;
				}
			}
		}

		&__title{
			font-size: 12px;
			box-sizing: border-box;
			font-weight: 600;
			transition: all 0.3s ease;
			padding: 0 $padding;
			max-height: 0;
			color: transparent;
			pointer-events: none;
			border-top: 1px solid $colorDashboardDarkHeavy;

			@include breakPoint($breakPoint_compact){
				max-height: 44px;
				padding: $padding;
				color: $colorNavItem;
				pointer-events: all;
				border-top-color: transparent;
			}

			.msd_toggle &{
				max-height: 44px;
				padding: $padding;
				color: $colorNavItem;
				pointer-events: all;
				border-top-color: transparent;

				@include breakPoint($breakPoint_compact){
					max-height: 0;
					padding: 0 $padding;
					color: transparent;
					pointer-events: all;
					border-top-color: $colorDashboardDarkHeavy;
				}
			}
		}

		&__item{
			padding: $padding;
			display: flex;
			align-items: center;
			cursor: pointer;
			transition: all 0.3s ease;
			border-left: 4px solid transparent;
			box-sizing: border-box;
			padding-left: 12px;

			@include breakPoint($breakPoint_compact){
			}

			.msd_toggle &{

				@include breakPoint($breakPoint_compact){
				}
			}


			&:hover{
				background-color: rgba($colorNavItem, .1);

				.icon{
					color: $colorNavItem;
				}
			}

			&.is-active{
				border-color: $colorNavItem;
				background-color: rgba($colorNavItem, .2);

				.icon{
					color: $colorNavItem;
				}
			}


		}

		&__ico{
			margin-right: $padding;
			color: $colorGrey;
			margin-left: -3px;
			transition: margin-left .3s ease;

			@include breakPoint($breakPoint_compact){
				margin-left: 0;
			}

			.msd_toggle &{
				margin-left: 0;

				@include breakPoint($breakPoint_compact){
					margin-left: -3px;
				}
			}
		}

		&__link{
			transition: color .3s ease;
			color: transparent;

			@include breakPoint($breakPoint_compact){
				color: $colorGrey;
			}

			.msd_toggle &{
				color: $colorGrey;

				@include breakPoint($breakPoint_compact){
					color: transparent;
				}
			}
		}
	}


</style>