<template lang="pug">
	.msd__main-header
		.msd__main-header-title {{ $route.meta.title }}
		.msd__main-header-aside
			v-popover.msd__user
				template(slot="popover")
					.popover-title {{ admin('fio') }}
					.popover-menu
						//-.popover-menu__item(v-close-popover.all, @click="$router.push({name: 'settings'})")
							.popover-menu__ico: icon(name="settings")
							.popover-menu__link Настройки
						.popover-menu__item(v-close-popover.all, @click="$store.dispatch('base/logOut')")
							.popover-menu__ico: icon(name="logout")
							.popover-menu__link Выйти
				.msd__user-image
					icon(name="account")

</template>

<script>

	import {mapGetters} from "vuex";

	export default {
		data () {
			return {

			}
		},

		mounted (){
		},

		methods: {

		},

		computed: {
			...mapGetters({
				admin: 'base/getAdmin'
			}),
		},

		watch: {

		},

		components: {

		},

	}
</script>

<style lang="scss">

</style>